		<div class="btn-group">
    		<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-bookmark"></i> <span class="caret"></span></button>
		    <ul class="dropdown-menu {{ pull_mode }}">
                                 <li><a tabindex="-1" href="{{ path('campagne_my_list') }}">Mes campagnes</a></li>
                                 <li class="divider"></li>
				 <li><b>Partie MJ</b></li>
					{% for campagne in active_campagnes %}
						<li><a tabindex="-1" href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                            {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                            >
                                {% if campagne.activity > 0 %}
                                    <i class="icon-asterisk"></i>
                                {% endif %}
                                {{campagne.name}}
                        </a></li>
					{% endfor %}
				 <li class="divider"></li>
				 <li><b>Partie joueurs</b></li>
					{% for campagne in active_pj_campagnes %}
						<li><a tabindex="-1" href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                            {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                            >
                                {% if campagne.activity > 0 %}
                                    <i class="icon-asterisk"></i>
                                {% endif %}
                                {{campagne.name}}
                        </a></li>
					{% endfor %}
			</ul>
		</div>
