		<div class="btn-group">
    		<a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn iconeBtn quickLink1"><i class="icon-star"></i></a>
    		<button class="btn dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu {{ pull_mode }}">
				 <li><b>Partie MJ</b></li>
					{% for campagne in active_campagnes %}
						<li><a tabindex="-1" href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></li>
					{% endfor %}
				 <li class="divider"></li>
				 <li><b>Partie joueurs</b></li>
					{% for campagne in active_pj_campagnes %}
						<li><a tabindex="-1" href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></li>
					{% endfor %}
			</ul>
		</div>