{% set car_campagnes = open_campagne %}
{% set car_title = "Recrutement en cours" %}
{% if open_campagne is empty %}
	{% set car_campagnes = campagnes %}
	{% set car_title = "Parties actives" %}
{% endif %}

<p></p>
<div class="carouseltitle" style="text-align: center">
<h5>{{ car_title }}</h5>
</div>
<p></p>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->  
  <div class="carousel-inner">
  	{% set isFirst = true %}
 	{% for campagne in car_campagnes %}
 		
 		<div class="{% if isFirst %} active {% endif %}item" style="height: 250px">
 				
	 				<div align="center">
	 					<a href="{{ path('campagne',{id: campagne.id} ) }}">
			 			{% if campagne.banniere != "" %}
			 				<img src="{{ campagne.banniere }}" style="max-height: 200px; max-width: 250px;">
			 			{% else %}
			 				<h5>{{ campagne.title }}</h5>
			 			{% endif %}
			 			</a>
		 			</div>
	 			
	 			<div class="carousel-caption">
	 			<a href="{{ path('campagne',{id: campagne.id} ) }}">
	 				<h4>{{ campagne.name }}</h4>
		 			<p>Dans l'univers de {{ campagne.univers }} avec le système {{ campagne.systeme }}.</p>
		 			<p><i>Proposé par {{ campagne.username }}</i></p>
	 			</a>
	 			</div>
 			
 		</div>
 		{% set isFirst = false %}
 	{% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>