         
             <div class="panel-group" id="accordion2">
                <div class="">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Partie active (MJ)
                    </a>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ul class="nav nav-pills nav-stacked">
                        {% for campagne in active_campagnes %}
                            <li><a
                                href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                                {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                                >
                                    {% if campagne.activity > 0 %}
                                                                    <i class="icon-asterisk"></i>
                                                            {% endif %}
                                    {{campagne.name}}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Partie active (PJ)
                    </a>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            {% for campagne in active_pj_campagnes %}
                                <li><a
                                    href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                                    {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                                    >
                                        {% if campagne.activity > 0 %}
                                                                        <i class="icon-asterisk"></i>
                                                                {% endif %}
                                        {{campagne.name}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Partie favorite
                    </a>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            {% for campagne in favorised_campagne %}
                                <li><a
                                    href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                                    {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                                    >
                                        {% if campagne.activity > 0 %}
                                                                        <i class="icon-asterisk"></i>
                                                                {% endif %}
                                        {{campagne.name}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>
                </div>
              </div>