{% extends "squelette_campagne.html.twig" %}

{% block content %}

<div ng-app="jdroll">
    <div growl></div>
    <div ng-view></div>

    <i class="fa fa-3x fa-circle-o-notch fa-spin" ng-show="loadingTracker.active()"></i>
</div>

{% endblock %}

{% block specificEndJs %}

    {% if app.debug %}
        <!-- CSS -->
        <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
        <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/leaflet/dist/leaflet.css" type="text/css" media="all">
        <link rel="stylesheet" href="{{global.request.baseUrl}}/css/carte.css" type="text/css" media="all">

    {% else %}
        <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
        <link rel="stylesheet" href="{{global.request.baseUrl}}/dist/css/jdroll.angular.min.css" type="text/css" media="all">
    {% endif %}

{% endblock %}
