{% extends "squelette.html.twig" %}

{% block content %}

    {% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}
    <form class="form-horizontal" action="{{ path('abs_save') }}" method="POST">    
      <fieldset class="titled-box">
        <legend>Créer une absence</legend>

        <div class="pull-right"><button type="submit" class="btn btn-primary">Enregister</button></div>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span5">
              <div class="control-group">
                <label class="control-label">Je part le... </label>
                <div class="controls">
                  <input type="text" class="input-small datepicker" name="begin_date" id="dpd1" value="{{absence_form.begin_date}}">
                </div>
              </div>
            </div>
            <div class="span5">
              <div class="control-group">
                <label class="control-label">
                  Je revient le... 
                </label>
                <div class="controls">
                  <input type="text" class="input-small datepicker" name="end_date" id="dpd2" value="{{absence_form.end_date}}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" class="input-small" name="user_id" value="{{absence_form.user_id}}">
        <input type="hidden" class="input-small" name="id" value="{{absence_form.id}}">
      </fieldset>
    </form>


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
            <tr>
                <td>{{ absence.begin_date }}</td>
                <td>{{ absence.end_date }}</td>
                <td>
                    <a href="{{ path('abs_edit',  {id : absence.id}) }}" title="Modifier l'absence" class="btn iconeBtn"><i class="icon-edit"></i></a>
                    <a href="{{ path('abs_remove',  {id : absence.id}) }}" title="Supprimer l'absence" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
     </table>




<script>
    
    $(function () { 

        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#dpd1').datepicker({
          onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
          },
          format: 'dd/mm/yyyy'
        }).on('changeDate', function(ev) {
          if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.setValue(newDate);
          }
          checkin.hide();
          $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').datepicker({
          onRender: function(date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
          },
          format: 'dd/mm/yyyy'
        }).on('changeDate', function(ev) {
          checkout.hide();
        }).data('datepicker');
    });
</script>

{% endblock %}
