{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}


    <div align="right">
	    <form class="form-search">
	    	<input type="text" id="searchText" onkeyup="filterTable('#searchText','#campagneTable')"  class="input-medium search-query">
	    </form>
    </div>
    <table class="table table-striped table-hover" id="campagneTable">
		<thead>
			<tr>
				<th>Nom de la campagne</th>
				<th>Univers de la campagne</th>
				<th>Système de jeu</th>
				<th>Nb Joueurs</th>
				<th>MJ</th>
				<th><input type="hidden" class="filterIndex" value="HEADER"></th>
			</tr>
		</thead>
		<tbody>
		{% for campagne in campagnes %}
			<tr>
				<td><a href="{{ path('campagne', {id : campagne.id}) }}">{{ campagne.name }}
								<br><img src="{{ campagne.banniere }}" width="150px" style="max-width: 150px"/></a></td>
				<td>{{ campagne.univers }}</td>
				<td>{{ campagne.systeme }}</td>
				<td>{{ campagne.nb_joueurs_actuel }} / {{ campagne.nb_joueurs }}</td>
				<td>{{ campagne.username }}</td>
				<td><a href="{{ path('campagne_join', {'id' : campagne.id})}}" class="btn btn-primary"><i class="icon-share"></i> Rejoindre la partie</a>
				<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}{{ campagne.username }}">
				
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}