{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    <div align="center">
    	<h2>{{ campagne.name }}</h2>
    </div>
    <div align="right">
    	<a href="{{ path('campagne_join', {'id' : campagne.id})}}" class="btn btn-primary"><i class="icon-share"></i> Rejoindre la partie</a>
    </div>
    <p><b>Univers de la campagne : </b> {{ campagne.univers }}</p>
    <p><b>Système de jeu : </b> {{ campagne.systeme }}</p>
    <p><b>Nombre de joueurs : </b> {{ campagne.nb_joueurs }}</p>
    <p><b>Description : </b> </p>
    {% autoescape false %}
    	<p>{{ campagne.description }}</p>
    {% endautoescape %}

{% endblock %}