{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}


	<form class="form-horizontal" action="{{ path('campagne_config_save')  }}" method="POST">
		<input type="hidden" name="campagne_id" id="campagne_id" value="{{ campagne.campagne_id }}">
	    <div class="control-group">
		    <label class="control-label" for="banniere">Banniere</label>
		    <div class="controls">
		    	<input type="text" name="banniere" placeholder="http://" value="{{ campagne.banniere }}">
		    	<a href="#uploaderModal" role="button" data-toggle="modal" class="btn iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a>
		    	<br><i>Affiché en haut de chaque page. Taille attendue : 450px X 150px.</i>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="hr">Barre de séparation</label>
		    <div class="controls">
		    	<input type="text" id="hr" name="hr" placeholder="http://" value="{{ campagne.hr }}">
		    	<a href="#uploaderModal" role="button" data-toggle="modal" class="btn iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a>
		    	<br><i>Affiché en haut de chaque page. Taille maximum : 250px X 60px.
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="odd_line_color">Couleur des lignes paires</label>
		    <div class="controls">
		    	<input type="text" id="odd_line_color" name="odd_line_color" class="colorpicker" placeholder="#356803" value="{{ campagne.odd_line_color }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="even_line_color">Couleur des lignes impaires</label>
		    <div class="controls">
		    	<input type="text" id="even_line_color" name="even_line_color" class="colorpicker" placeholder="#746484" value="{{ campagne.even_line_color }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="sidebar_color">Couleur de la barre latéral</label>
		    <div class="controls">
		    	<input type="text" id="sidebar_color" name="sidebar_color" class="colorpicker" placeholder="#363673" value="{{ campagne.sidebar_color }}">
		    	<br><i>Affiché dans les barres latérales ou pour les catégories.</i>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="link_color">Couleur des liens</label>
		    <div class="controls">
		    	<input type="text" id="link_color" name="link_color" class="colorpicker" placeholder="#223356" value="{{ campagne.link_color }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="template">Template de personnage</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="template" name="template" 
		    	 placeholder="Template de la fiche de personnage" rows="20">{{ campagne.template }}</textarea>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="sidebar_text">Information dans la sidebar</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="sidebar_text" name="sidebar_text" 
		    	 placeholder="Information de la sidebar" rows="20">{{ campagne.sidebar_text }}</textarea>
		    </div>
	    </div>

	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Mettre à jour la configuration</button>
		    </div>
	    </div>
    </form>

{% endblock %}

