{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    <table class="table table-striped table-hover">
		<thead>
			<tr>
				<th width="40px"></th>
				<th width="30%">Nom de la campagne</th>
				<th>Univers de la campagne</th>
				<th>Système de jeu</th>
				<th>Nb Joueurs</th>
				<th width="200px"></th>
			</tr>
		</thead>
		<tbody>
		{% for campagne in campagnes %}
			<tr>
				<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
				<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}}">{{ campagne.name }}</a></td>
				<td>{{ campagne.univers }}</td>
				<td>{{ campagne.systeme }}</td>
				<td>{{ campagne.nb_joueurs_actuel }} / {{ campagne.nb_joueurs }}</td>
				<td>
				<a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}" class="btn iconeBtn" title="Forum"><i class="icon-comment"></i></a>
				<a href="{{ path('perso_pnj', {campagne_id: campagne.id}) }}" class="btn iconeBtn" title="Galerie des PNJ"><i class="icon-user"></i></a>
				<a href="{{ path('campagne_edit', {id : campagne.id}) }}" class="btn iconeBtn btn-primary" title="Editer"><i class="icon-edit"></i></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th width="40px"></th>
				<th width="30%">Nom de la campagne</th>
				<th>Univers de la campagne</th>
				<th>Système de jeu</th>
				<th>MJ</th>
				<th width="200px"></th>
			</tr>
		</thead>
		<tbody>
		{% for campagne in campagnes_pj %}
			<tr>
				<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
				<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></td>
				<td>{{ campagne.univers }}</td>
				<td>{{ campagne.systeme }}</td>
				<td><a href="{{ path('profile', {username : campagne.username}) }}">{{ campagne.username }}</a></td>
				<td>
					<a href="{{ path('perso_edit', {campagne_id: campagne.id}) }}" title="Personnages" class="btn iconeBtn"><i class="icon-tasks"></i></a>
					<a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}" title="Forum" class="btn iconeBtn"><i class="icon-comment"></i></a>
					<a href="{{ path('perso_pnj', {campagne_id: campagne.id}) }}" class="btn iconeBtn" title="Galerie des PNJ"><i class="icon-user"></i></a>
					<a href="{{ path('campagne_quit', {id : campagne.id}) }}" title="Quitter" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}