{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}


    <div align="right">
	    <form class="form-search">
	    	<input type="text" id="searchText" onkeyup="filterTable('#searchText','#campagneTable')"  class="input-medium search-query">
	    </form>
    </div>
    {% if not (campagnes is empty) %}
    <table class="table table-striped table-hover" id="campagneTable">
		<thead>
			<tr>
				<th>Nom de la campagne</th>
				<th>Univers de la campagne</th>
				<th>Système de jeu</th>
				<th>Statut</th>
				<th>Nb Joueurs</th>
				<th>MJ</th>
				<th><input type="hidden" class="filterIndex" value="HEADER"></th>
			</tr>
		</thead>
		<tbody>
		{% for campagne in campagnes %}
			<tr>
				<td><a href="{{ path('campagne', {id : campagne.id}) }}">{{ campagne.name }}
								<br><img src="{{ campagne.banniere }}" width="150px" style="max-width: 150px"/></a></td>
				<td>{{ campagne.univers }}</td>
				<td>{{ campagne.systeme }}</td>
				<td>
					{% if campagne.statut == 0 %}
						En Cours
					{% elseif campagne.statut == 1 %}
						En Pause
					{% elseif campagne.statut == 2 %}
						Archivé
					{% endif %}
				</td>
				<td>{{ campagne.nb_joueurs_actuel }} / {{ campagne.nb_joueurs }}</td>
				<td>{{ campagne.username }}</td>
				<td>
				{% if (campagne.statut < 2) and (campagne.is_recrutement_open == 1) %}
					<a href="{{ path('campagne_join', {'id' : campagne.id})}}" class="btn btn-primary"><i class="icon-share"></i> Rejoindre la partie</a>
				{% endif %}
				<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}{{ campagne.username }}{{ campagne.statut }}">
				
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-warning">
			<p>Aucune partie disponible pour l'instant...</p>
		</div>
	{% endif %}

{% endblock %}