{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form class="form-horizontal" action="{{ path('campagne_save')  }}" method="POST">
		<input type="hidden" name="id" id="id" value="{{ campagne['id'] }}">
	    <div class="control-group">
		    <label class="control-label" for="name">Nom</label>
		    <div class="controls">
		    	<input type="text" id="name" name="name" placeholder="Nom de la campagne" value="{{ campagne['name'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="systeme">Univers</label>
		    <div class="controls">
		    	<input type="text" id="univers" name="univers" placeholder="Univers de jeu" value="{{ campagne['univers'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="systeme">Système</label>
		    <div class="controls">
		    	<input type="text" id="systeme" name="systeme" placeholder="Système de jeu utilisé" value="{{ campagne['systeme'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="nb_joueurs">Nombre de joueurs</label>
		    <div class="controls">
		    	<input type="text" id="nb_joueurs" name="nb_joueurs" placeholder="Nombre de joueurs" value="{{ campagne['nb_joueurs'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="banniere">Banniere</label>
		    <div class="controls">
		    	<input type="text" id="banniere" name="banniere" placeholder="Banniere du jeu" value="{{ campagne['banniere'] }}">
		    	<a href="#uploaderModal" role="button" data-toggle="modal" class="btn iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="statut">Statut</label>
		    <div class="controls">
		    	<input type="radio" class="iconeBtn" name="statut" value="3" {% if campagne.statut == 3 %} checked {% endif %} title="Partie non-visible dans le recrutement."> En-Préparation
		    	<input type="radio" class="iconeBtn" name="statut" value="0" {% if campagne.statut == 0 %} checked {% endif %} title="Partie ouverte au recrutement ou en cours de jeu."> Ouverte
				<input type="radio" class="iconeBtn" name="statut" value="1" {% if campagne.statut == 1 %} checked {% endif %} title="Partie encore ouverte au recrutement mais plus en cours de jeu (non-visible dans la sidebar)."> En Pause
				<input type="radio" class="iconeBtn" name="statut" value="2" {% if campagne.statut == 2 %} checked {% endif %} title="Partie terminée ou abandonnée"> Archivé
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Votre description</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="description" name="description" 
		    	 placeholder="Votre description" rows="10">{{ campagne['description'] }}</textarea>
		    </div>
	    </div>
	    
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">
			    {% if(campagne['id'] == '') %}
			    	Créer la campagne
			    {% else %}
			    	Mettre à jour la campagne
			    {% endif %}
			    </button>
		    </div>
	    </div>
    </form>

{% endblock %}

