{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    <div align="center">
    	<h2>{{ campagne.name }}</h2><br>
        {% if campagne.banniere != "" %}
            <img src="{{ campagne.banniere }}" style="max-height: 200px; max-width: 250px;">
        {% endif %}
    </div>
    <div align="right">
    	<a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}" class="btn iconeBtn sidebarBtn" title="Forum"><i class="icon-globe"></i></a>
    	{% if is_mj or is_participant %}
			<a href="{{ path('perso_pnj', {campagne_id: campagne.id}) }}" class="btn iconeBtn sidebarBtn" title="Galerie des PNJ"><i class="icon-user"></i></a>
			{% if is_mj %}
				<a href="{{ path('campagne_edit', {id : campagne.id}) }}" class="btn iconeBtn btn-primary" title="Editer"><i class="icon-edit"></i></a>
			{% endif %}
    	{% else %}
                {% if campagne.is_recrutement_open == 1 %}
                    <a href="{{ path('campagne_join', {'id' : campagne.id})}}" class="btn btn-primary"><i class="icon-share"></i> Rejoindre la partie</a>
                {% endif %}
    	{% endif %}
    </div>
    <p><b>Univers de la campagne : </b> {{ campagne.univers }}</p>
    <p><b>Système de jeu : </b> {{ campagne.systeme }}</p>
    <p><b>Nombre de joueurs : </b> {{ campagne.nb_joueurs }}</p>
    <p><b>Rythme : </b> 
            {% if campagne.rythme == 0 %}
                Tortue (1 post / mois)
            {% elseif campagne.rythme == 1 %}
                Ralenti (1 post / semaine)
            {% elseif campagne.rythme == 2 %}
                Standard (1 post / 3 jours)
            {% elseif campagne.rythme == 3 %}
                Intense (1 post par jour)
            {% elseif campagne.rythme == 4 %}
                Extrême (Plusieurs posts par jour)
            {% endif %}
    </p>
    <p><b>Exigence : </b> 
            {% if campagne.rp == 0 %}
                Roman de gare (peu d'exigence en terme de Roleplay)
            {% elseif campagne.rp == 1 %}
                Standard (action décrite correctement, quelques pensées, ...)
            {% elseif campagne.rp == 2 %}
                Théatre (la description prime, il faudra faire des efforts)
            {% elseif campagne.rp == 3 %}
                Cyrano (le roleplay est au centre même de la partie !)
            {% endif %}
    </p>
    <p><b>Description : </b> </p>
    {% autoescape false %}
    	<p>{{ campagne.description }}</p>
    {% endautoescape %}
    <p></p>
	<table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="2">Joueurs</th>
				</tr>
			</thead>
			<tbody>
				{% for participant in participants %}
				<tr>
					<td>{{ participant.username }}</td>
					<td width="90px" style="text-align : right" >
					{% if is_mj and participant.part_statut == 1 %}
						<a href="{{ path('campagne_ban', {id : campagne.id, user_id: participant.id}) }}" title="Désinscrire" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
                                        {% else %}
                                                    {% if is_mj %}
                                                        <a href="{{ path('campagne_join_valid', {id : campagne.id, user_id: participant.id}) }}" title="Valider l'inscription" class="btn btn-primary iconeBtn"><i class="icon-ok"></i></a>
                                                        <a href="{{ path('campagne_ban', {id : campagne.id, user_id: participant.id}) }}" title="Refuser l'inscription" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
                                                    {% endif %}
					{% endif %}
					</td>
				<tr>
				{% endfor %}
			</tbody>
	</table>
{% endblock %}