{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form class="form-horizontal" action="{{ path('campagne_save')  }}" method="POST">
		<input type="hidden" name="id" id="id" value="{{ campagne['id'] }}">
	    <div class="control-group">
		    <label class="control-label" for="name">Nom</label>
		    <div class="controls">
		    	<input type="text" id="name" name="name" placeholder="Nom de la campagne" value="{{ campagne['name'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="systeme">Univers</label>
		    <div class="controls">
		    	<input type="text" id="univers" name="univers" placeholder="Univers de jeu" value="{{ campagne['univers'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="systeme">Système</label>
		    <div class="controls">
		    	<input type="text" id="systeme" name="systeme" placeholder="Système de jeu utilisé" value="{{ campagne['systeme'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="nb_joueurs">Nombre de joueurs</label>
		    <div class="controls">
		    	<input type="text" id="nb_joueurs" name="nb_joueurs" placeholder="Nombre de joueurs" value="{{ campagne['nb_joueurs'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="banniere">Banniere</label>
		    <div class="controls">
		    	<input type="text" id="banniere" name="banniere" placeholder="Banniere du jeu" value="{{ campagne['banniere'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Votre description</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="description" name="description" 
		    	 placeholder="Votre description" rows="10">{{ campagne['description'] }}</textarea>
		    </div>
	    </div>
	    
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">
			    {% if(campagne['id'] == '') %}
			    	Créer la campagne
			    {% else %}
			    	Mettre à jour la campagne
			    {% endif %}
			    </button>
		    </div>
	    </div>
    </form>

{% endblock %}

