{% extends "squelette_campagne.html.twig" %}

{% block content %}

	<table class="table table-striped table-hover" width="100%">
		<thead>
			<tr>
				<th colspan="3" class="categorie"><h4>{{ topic.title }}</h4></th>
			</tr>
			<tr>
				<th width="15%"><i>Auteur</i></th>
				<th width="75%"><i>Message</i></th>
				<th width="10%"></th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>
						{% if post.perso_name != null %}
							<p><b>{{ post.perso_name }}</b></p>
							<p><i>( {{ post.user_username }} )</i></p>
							<p><i>{{ post.post_date }}</i></p>
							<img src="{{ post.perso_avatar }}" width="80%" />
						{% else %}
							<p><b>{{ post.user_username }}</b></p>
							<p><i>Le {{ post.post_date }}</i></p>
							<img src="{{ post.user_avatar }}" width="80%" />
						{% endif %}
					</td>
					<td>
						{% autoescape false %}
							{{ post.post_content }}
						{% endautoescape %}
						<a name="post{{ post.post_id }}"></a>
					</td>
					<td>
						{% if is_mj or (post.user_id == perso.user_id) %}
							<a href="{{ path('post_edit', {campagne_id : campagne_id, post_id : post.post_id}) }}" 
							title="Editer" class="btn iconeBtn"><i class="icon-edit"></i></a>
							
						{% endif %}
						{% if is_mj %}
							<a href="{{ path('post_delete', {campagne_id : campagne_id, post_id : post.post_id, topic_id : post.topic_id}) }}" 
								title="Supprimer" class="btn btn-danger iconeBtn"><i class="icon-remove-sign"></i></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td>
				</td>
				<td>
					<form class="form-horizontal" action="{{ path('post_save', {campagne_id : campagne_id}) }}" method="POST">
						<input type="hidden" name="id" value="" >
						<input type="hidden" name="topic_id" value="{{ topic.id }}" >
						{% if is_mj %}
						<div class="control-group">
							<label for="perso_id">Poster en tant que...</label>
							<select name="perso_id" >
							 <option value="">MJ</option>
							 {% for personnage in personnages %}
								 <option value="{{ personnage.id }}">{{ personnage.name }}</option>
							 {% endfor %}
							</select>
						</div>
						{% else %}
							<input type="hidden" name="perso_id" value="{{ perso.id }}" >
						{% endif %}
					   	<div class="control-group">
						    	<textarea input class="input-xxlarge wysiwyg" type="text" id="content" name="content" 
						    	 placeholder="Votre message" rows="15"></textarea>
					    </div>
					    <div class="control-group">
						    <button type="submit" class="btn btn-primary">Répondre</button>
					    </div>
				    </form>
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}