{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if is_mj %}
	<div align="right">
		<a href="{{ path('section_add',  {campagne_id : campagne_id}) }}" title="Ajouter une section" class="btn btn-primary iconeBtn"><i class="icon-plus"></i></a>
	</div>
	{% endif %}
	<p/>
	{% set section_id = -1 %}
	{% set topic_id = -1 %}

	{% for line in topics %}
		{% if line.section_id != section_id %} 
		
			{% if section_id != -1 %} 
					</tbody>
				</table>
	    	</div>
			{% endif %}
			
			
	    	<div class="categorie">
	    		<table width="100%">
	    			<tr>
	    				<td width="70%">
	    					<a data-toggle="collapse" data-target="#section{{ line.section_id  }}" >
				    			{{ line.section_title  }}
				    		</a>
				    	</td>
	    				<td width="30%">
		    				<div align="right">
		    					{% if is_mj %}
		    						<a href="{{ path('section_edit', {campagne_id : campagne_id, section_id : line.section_id}) }}" title="Editer la catégorie" class="btn iconeBtn"><i class="icon-edit"></i></a>
									<a href="{{ path('topic_add', {campagne_id : campagne_id, section_id : line.section_id}) }}" title="Ajouter un sujet" class="btn iconeBtn"><i class="icon-plus"></i></a>
								{% endif %}
							</div>
	    				</td>
	    			</tr>
	    		</table>
	    		
	    		
	    	</div>
	    	
	    	<div class="topics collapse {% if line.default_collapse == 0 %} in {% else %} out {% endif %}" id="section{{ line.section_id  }}">
		    	<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th width="40px"></th>
							<th width="40px"></th>
							<th>Titre</th>
							<th width="400px">Dernier post</th>
							<th width="40px"></th>
						</tr>
					</thead>
					<tbody>
			{% set section_id = line.section_id %}
		{% endif %}
		
		{% if line.topics_id != null %}
		<tr>
			<td>
				{% if line.posts_id > line.read_post_id %}
					<i class="icon-asterisk"></i>
				{% endif %}
			</td>
			<td>
				{% if line.topics_stickable > 0 %}
					<i class="icon-fire"></i>
				{% endif %}
			</td>
			<td><a href="{{ path('topic', {campagne_id : campagne_id, topic_id : line.topics_id}) }}#post{{ line.read_post_id }}">{{ line.topics_title }}</a></td>
			<td>
				{% if line.posts_date != null %}
				Le {{ line.posts_date }}
				{% endif %}  
				{% if line.posts_username != null %}
					par {{ line.posts_username }}
				{% else %}
					{% if line.user_username != null %}
						par {{ line.user_username }}
					{% endif %}
				{% endif %}
			
			</td>
			<td>
				{% if is_mj %}
		    		<a href="{{ path('topic_edit', {campagne_id : campagne_id, topic_id : line.topics_id}) }}" title="Editer le sujet" class="btn iconeBtn"><i class="icon-edit"></i></a>
				{% endif %}
			</td>
		</tr>
		{% endif %}
		
	{% endfor %}
				</tbody>
			</table>
    	</div>

{% endblock %}