{% extends "squelette_campagne.html.twig" %}

{% block content %}
	
	<table class="table table-striped table-hover" width="100%">
		<thead>
			<tr>
				<th colspan="2" class="categorie"><h5><a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}">Forum</a> >
					{{ topic.section_title }} > {{ topic.title }}</h5></th>
				<th class="categorie" style="text-align: right">
				{% for i in range(1, last_page) %}
					{% if i != actual_page %}
					<a href="{{ path('topic_page', {'campagne_id' : campagne_id, 'topic_id' : topic.id, 'no_page' : i}) }}">{{ i }}</a>
					{% else %}
						{{ i }}
					{% endif %}
				{% endfor %}
				</th>
			</tr>
			<tr>
				<th width="15%"><i>Auteur</i></th>
				<th width="65%"><i>Message</i></th>
				<th width="20%"></th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>
						{% if post.perso_name != null %}
							<p><a href="{{ path('perso_view', {campagne_id: campagne_id, perso_id: post.perso_id}) }}"><b>{{ post.perso_name }}</b></a></p>
							<p><a href="{{ path('profile', {username: post.user_username}) }}"><i>( {{ post.user_username }} )</i></a></p>
							<p><i>{{ post.post_date }}</i></p>
							<img src="{{ post.perso_avatar }}" width="80%" />
						{% elseif  post.user_username != null %}
							<p><a href="{{ path('profile', {username: post.user_username}) }}"><b>{{ post.user_username }}</b></a></p>
							<p><i>Le {{ post.post_date }}</i></p>
							<img src="{{ post.user_avatar }}" width="80%" />
						{% endif %}
					</td>
					<td>
						<div class="postContent">
						{% autoescape false %}
							{{ post.post_content }}
						{% endautoescape %}
						</div>
						<div style="display: none;" id="contentDiv{{ post.post_id }}">
							{% autoescape false %}
								<b>Posté par {% if post.perso_name != null %} {{ post.perso_name }} {% elseif  post.user_username != null %} {{ post.user_username }} {% endif %}</b>
						 		<br>
								{{ post.post_content }}
							{% endautoescape %}
						</div>
						<a name="post{{ post.post_id }}"></a>
					</td>
					<td style="text-align: right">
						<a title="Quote" class="btn iconeBtn" onClick="quote('{{ post.post_id}}')"><i class="icon-quote-left"></i></a>
						{% if is_mj or (post.user_id == app.session.get('user')['id']) %}
							{% if post.user_id != null %}
								<a href="{{ path('post_edit', {campagne_id : campagne_id, post_id : post.post_id}) }}" 
								title="Editer" class="btn btn-primary iconeBtn"><i class="icon-edit"></i></a>
							{% endif %}
							
						{% endif %}
						{% if is_mj or ( (post.user_id == app.session.get('user')['id']) and (topic.last_post_id == post.post_id) )  %}
							<a href="{{ path('post_delete', {campagne_id : campagne_id, post_id : post.post_id, topic_id : post.topic_id}) }}" 
								title="Supprimer" class="btn btn-danger iconeBtn"><i class="icon-remove-sign"></i></a>
						{% endif %}
						<a title="Aller au bas de la page" href="#bottom" style="margin-left: 2em"><i class="icon-double-angle-down"></i></a>
						<a title="Aller au début de la page" href="#top"><i class="icon-double-angle-up"></i></a>
                                                <a title="Lien permanent" href="#post{{ post.post_id }}"><i class="icon-link"></i></a>

					</td>
				</tr>
			{% endfor %}
			{% if topic.is_closed == 0 %}
				{% if campagne_id == 0 or perso.id != null or is_mj or topic.is_private == 2 %}
					{% if campagne_id != 0 %}
					<tr>
						<td>
						</td>
						<td>
							<b>Lancer les dés</b>
							<form class="form-inline">
							    <input type="text" class="input-small" id="dicerParamQuick" name="dicerParamQuick" placeholder="Ex : 1d6 + 1d4">
							    <input type="text" class="input-medium" id="dicerDescriptionQuick" name="dicerDescription" placeholder="Ex: Crocheter la serrure">
							    <button type="submit" class="btn" onClick="return callLaunchDiceQuick();">Lancer les dés</button>
							    <span id="resultatDicerQuick">
							    	
					   			 </span>
					   		</form>
					   	</td>
					</tr>
					{% endif %}

				<tr>
					<td>
					</td>
					<td>
						<div align="right">
							<a href="#uploaderModal" role="button" data-toggle="modal"><i>Uploader une image</i></a>
						</div>
						<b>Poster une réponse</b>
						<form class="form-horizontal" action="{{ path('post_save', {campagne_id : campagne_id}) }}" method="POST">
							<input type="hidden" name="id" value="" >
							<input type="hidden" name="topic_id" value="{{ topic.id }}" >
							{% if is_mj %}
							<div class="control-group">
								<label for="perso_id">Poster en tant que...</label>
								<select name="perso_id" >
								 <option value="">MJ</option>
								 {% for personnage in personnages %}
									 <option value="{{ personnage.id }}">{{ personnage.name }}</option>
								 {% endfor %}
								</select>
							</div>
							{% else %}
								<input type="hidden" name="perso_id" value="{{ perso.id }}" >
							{% endif %}
						   	<div class="control-group">
							    	<textarea input class="input-xxlarge wysiwyg" type="text" id="content" name="content" 
							    	 placeholder="Votre message" rows="15" title="Réponse"></textarea>
						    </div>
						    <div class="control-group">
							    <button type="submit" class="btn btn-primary">Répondre</button>
						    </div>
					    </form>
					</td>
				</tr>
				{% endif %}
			{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2" class="categorie"><h5><a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}">Forum</a> > 
					{{ topic.section_title }} > {{ topic.title }}</h5></th>
				<th class="categorie" style="text-align: right">
				{% for i in range(1, last_page) %}
					{% if i != actual_page %}
					<a href="{{ path('topic_page', {'campagne_id' : campagne_id, 'topic_id' : topic.id, 'no_page' : i}) }}">{{ i }}</a>
					{% else %}
						{{ i }}
					{% endif %}
				{% endfor %}
				</th>
			</tr>
		</tfoot>
	</table>
	
<script language="javascript">
						
function quote(id) {
	text = "<blockquote style='color: #339966'><p>" + $('#contentDiv' + id).html().trim() + "</blockquote></p><p></p>";
	tinyMCE.get('content').setContent(tinyMCE.get('content').getContent() + text);
}
						
function callLaunchDiceQuick() {
	param=$('#dicerParamQuick').val();
	description=$('#dicerDescriptionQuick').val();
	$.ajax({
		type: "POST",
		url: "{{ path('dicer', {"campagne_id" : campagne_id, "topic_id" : topic.id}) }}",
		data: {param: param, description: description},
		error: function() { alert("Jet de dé impossible"); },
		success: function(retour){
			$('#resultatDicerQuick').html(retour);
		}
	});
	return false;
}
</script>
{% endblock %}