{% extends "squelette.html.twig" %}

{% block content %}
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="page-header">
				  <h1>Bienvenue sur jdRoll ! <small>Du jeu, du rôle, du Roll !</small></h1>
				</div>
				<p></p>
				<p>Envie de rejoindre une partie ? Regardez les campagnes qui recrutent dans <b>Jouer > Rejoindre une campagne</b></p>
				<p>Envie de proposer une partie ? Allez sur <b>Jouer > Créer une campagne.</b></p>
				<p></p>
				<p>D'autres questions ? Envie de partager vos expériences ? Rejoignez la communauté via le <b>Tchat</b> ou le <b>Forum</b></p>
				<div class="container-fluid" style="margin-top: 1em">
					<div class="row-fluid">
						<div class="span10 offset1">
							{{ include('composant/partie_carrousel.html.twig') }}
						</div>
					</div>
				</div>
			</div>
			<div class="span5">
				{% include('composant/last_post.html.twig') %}
				<div class="well" style="margin-top: 3em">
					<h5>Derniers inscrits :</h5>
					<p>
					{% set isFirst = true %}
					{% for user in last_users %}
						{% if not isFirst %}
							,
						{% endif %}
						<a href="{{ path('profile',{username: user.username} ) }}">{{ user.username }}</a>
						{% set isFirst = false %}
					{% endfor %}
					</p>
					<h5>Dernières campagnes ajoutées :</h5>
					<p>
					{% set isFirst = true %}
					{% for campagne in campagnes %}
						{% if not isFirst %}
							<br>
						{% endif %}
						<a href="{{ path('campagne',{id: campagne.id} ) }}">{{ campagne.name }} ({{ campagne.univers }})</a>
						{% set isFirst = false %}
					{% endfor %}
					</p>
					<h5>Se sont connectés durant les 24 dernières heures :</h5>
					<p>
					{% set isFirst = true %}
					{% for user in connected_24H_users %}
						{% if not isFirst %}
							,
						{% endif %}
						<a href="{{ path('profile',{username: user.username} ) }}" {% if user.profil > 0 %} style="color: red" {% endif %}>{{ user.username }}</a>
						{% set isFirst = false %}
					{% endfor %}
				</div>
			</div>
		</div>

		{% include('chat/chatbox.html.twig') %}
		
	</div>  
		

{% endblock %}