{% extends "squelette.html.twig" %}

{% block content %}

	<div style="margin-top: 3em"></div>
	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}
	<form role="form" class="form-horizontal" action="{{ path('login_connect')  }}" method="POST">
	    <div class="form-group">
		    <label class="control-label col-sm-2" for="login">Login</label>
		    <div class="col-sm-10">
		    	<input class="form-control" type="text" id="login" name="login" placeholder="Nom d'utilisateur">
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label col-sm-2" for="pass">Mot de passe</label>
		    <div class="col-sm-10">
		    	<input class="form-control" type="password" id="pass" name="pass" placeholder="Mot de passe">
		    </div>
	    </div>
	    <input type="hidden" name="url" value="{{ url }}" />
	    
	    <div class="form-group">
			    <button type="submit" class="btn btn-default">Se connecter</button>
			    <a href="{{ path('subscribe') }}" class="btn btn-default">S'inscrire</a>
	    </div>
		<div class="form-group">
    		<a href="{{path('reset')}}">J'ai oublié mon mot de passe</a>
    	</div>
    </form>

{% endblock %}
