{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<div class="row-fluid">
		<div class="span8">
			{% if adminUser is not defined  %}
				<form class="form" action="{{ path('my_profile_save')  }}" method="POST">
			{% else %}
				<form class="form" action="{{ path('profile_edit_save',{'username' : user.username})  }}" method="POST">
			{% endif %}
			<fieldset class="titled-box">
				<legend>Mes informations</legend>
				    
				    <div class="pull-right">
						<button type="submit" class="btn btn-primary">Valider</button>
				    </div> 
				    <div class="control-group">
					    <label class="control-label" for="login">Login</label>
					    <div class="controls">
					    	<input type="text" id="username" name="username" readonly="true" placeholder="Nom d'utilisateur" value="{{ user['username'] }}">
					    </div>
				    </div>
				    <div class="control-group">
					    <label class="control-label" for="mail">Email</label>
					    <div class="controls">
					    	<input type="text" id="mail" name="mail" placeholder="Adresse email" value="{{ user['mail'] }}">
					    </div>
				    </div>
					<div class="control-group">
					    <label class="control-label" for="birthDate">Date de naissance :</label>
					    <div class="controls">
							<div class="input-append date" id="birthDateComp" >
								<input name="birthDate" class="span2" size="200" type="text" value="{{ user['birthDate'] }}" readonly>
								<span class="add-on"><i class="icon-th"></i></span>
							</div>
						</div>
				    </div>
				    <div class="control-group">
					    <label class="control-label" for="avatar">Url de votre avatar</label>
					    <div class="controls">
					    	<input class="input-xlarge" type="text" id="avatar" name="avatar" placeholder="http://" value="{{ user['avatar'] }}">
					    	<a href="#uploaderModal" role="button" data-toggle="modal" class="btn iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a>
					    	<br><i>Taille conseillé : 130px de large, maximum 130px de haut.</i>
					    </div>
				    </div>
				    <div class="control-group">
					    <label class="control-label" for="description">Votre description</label>
					    <div class="controls">
					    	<textarea input class="input-xxlarge wysiwyg" type="text" id="description" name="description" 
					    	 placeholder="Votre description" rows="10">{{ user['description'] }}</textarea>
					    </div>
				    </div>

				    </fieldset>
			</form>
		</div>

{% if adminUser is not defined %}
		<div class="span4">
		    <form class="form" action="{{ path('my_profile_passwd')  }}" method="POST">
			<fieldset class="titled-box">
			<legend>Modifier mon mot de passe</legend>
				    <div class="pull-right">
						<button type="submit" class="btn btn-danger">Valider</button>
				    </div> 
			    <div class="control-group">
				    <label class="control-label" for="password">Mot de passe</label>
				    <div class="controls">
				    	<input class="input-medium" type="password" id="password" name="password" placeholder="Mot de passe">
				    </div>
			    </div>
			    <div class="control-group">
				    <label class="control-label" for="password2">Mot de passe (resaisir) </label>
				    <div class="controls">
				    	<input class="input-medium"  type="password" id="password2" name="password2" placeholder="Mot de passe">
				    </div>
			    </div>
			    
			</fieldset>
		    </form>
		</div>
	</div>
{% endif %}
<script>
    
        $(function () { 

        var nowTemp = new Date();
        var startDate = new Date(nowTemp.getFullYear()-90, 12, 0, 0, 0, 0, 0);
		var endDate = new Date(nowTemp.getFullYear()-10, 12, 0, 0, 0, 0, 0);

        var dp = $('#birthDateComp').datepicker({
		autoClose: true,
		format: 'dd/mm/yyyy',
		forceParse: true,
        }).on('changeDate', function(ev) {
          dp.hide();
        }).data('datepicker');
		//dp.setValue({{ user['birthDate'] }});
		dp.setEndDate(endDate);
		dp.setStartDate(startDate);
		
    });
</script>
{% endblock %}