{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form class="form-horizontal" action="{{ path('perso_save', {campagne_id : campagne_id}) }}" method="POST">
	    <div class="control-group">
		    <label class="control-label" for="name">Nom</label>
		    <div class="controls">
		    	<input type="text" id="name" name="name" placeholder="Nom du personnage" value="{{ perso['name'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="name">Avatar</label>
		    <div class="controls">
		    	<input class="input-xxlarge" type="text" id="avatar" name="avatar" placeholder="http://" value="{{ perso['avatar'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Votre description public</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="publicDescription" name="publicDescription" 
		    	 placeholder="Votre description public (visible par tous)" rows="10">{{ perso['publicDescription'] }}</textarea>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Votre description privée</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="privateDescription" name="privateDescription" 
		    	 placeholder="Votre description privée (visible par vous et le MJ)" rows="10">{{ perso['privateDescription'] }}</textarea>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Information technique</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="technical" name="technical" 
		    	 placeholder="Votre personnage selon les règles" rows="10">{{ perso['technical'] }}</textarea>
		    </div>
	    </div>
	    
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Sauvegarder</button>
		    </div>
	    </div>
    </form>

{% endblock %}