{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form class="form-horizontal" action="{{ path('perso_save', {campagne_id : campagne_id}) }}" method="POST">
		<input type="hidden" id="perso_id" name="perso_id" value="{{ perso['id'] }}">
	    <div class="control-group">
		    <label class="control-label" for="name">Nom</label>
		    <div class="controls">
		    	<input type="text" id="name" name="name" placeholder="Nom du personnage" value="{{ perso['name'] }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="concept">Concept</label>
		    <div class="controls">
		    	<input type="text" id="concept" name="concept" placeholder="Contrebandier, Guerrier, ..." value="{{ perso['concept'] }}">
		    </div>
	    </div>
            {% if is_mj and perso.user_id is null%}
                <div class="control-group">
                    <label class="control-label" for="cat_id">Catégorie</label>
                    <div class="controls">
                        <select name="cat_id" >
                                <option></option>
				 {% for cat in cats %}
                                    <option value="{{ cat.id }}" {% if cat.id == perso.cat_id %} SELECTED="SELECTED" {% endif %}>
				{{ cat.name }}</option>
                            {% endfor %}
			</select>
		    </div>
                </div>  
            {% else %}
		<input type="hidden" name="cat_id">  
	    {% endif %}
	    <div class="control-group">
		    <label class="control-label" for="name">Avatar</label>
		    <div class="controls">
		    	<input class="input-xxlarge" type="text" id="avatar" name="avatar" placeholder="http://" value="{{ perso['avatar'] }}">
		    	<a href="#uploaderModal" role="button" data-toggle="modal" class="btn iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Votre description public</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="publicDescription" name="publicDescription" 
		    	 placeholder="Votre description public (visible par tous)" rows="10">{{ perso['publicDescription'] }}</textarea>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Votre description privée</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="privateDescription" name="privateDescription" 
		    	 placeholder="Votre description privée (visible par vous et le MJ)" rows="10">{{ perso['privateDescription'] }}</textarea>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="description">Information technique</label>
		    <div class="controls">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="technical" name="technical" 
		    	 placeholder="Votre personnage selon les règles" rows="10">{{ perso['technical'] }}</textarea>
		    </div>
	    </div>
	    {% if is_mj and perso.user_id is null%}
		   	<div class="control-group">
			    <label class="control-label" for="statut">Visibilité dans la gallerie</label>
			    <div class="controls">
			    	<input type="radio" name="statut" value="0" {% if perso.statut == 0 %} checked {% endif %}> Visible
					<input type="radio" name="statut" value="2" {% if perso.statut == 2 %} checked {% endif %}> Non-Visible
			    </div>
		    </div>  
		{% else %}
			<input type="hidden" name="statut" value="{{ perso.statut }}">  
	    {% endif %}
            
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Sauvegarder</button>
		    </div>
	    </div>
    </form>

{% endblock %}
