{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form class="form-horizontal" action="{{ path('pnj_cat_save', {campagne_id : campagne_id}) }}" method="POST">

		<fieldset class="titled-box">
			<legend>Catégorie de personnages</legend>

			<div class="pull-right">
				<button type="submit" class="btn btn-primary">Sauvegarder</button>
			</div>

	        <input type="hidden" name="id" value="{{ cat.id }}" >
	        <input type="hidden" name="campagne_id" value="{{ cat.campagne_id }}" >
		    <div class="control-group">
			    <label class="control-label col-sm-2" for="name">Nom</label>
			    <div class="col-sm-10">
			    	<input class="form-control" type="text" id="title" name="name" placeholder="Nom de la catégorie" value="{{ cat.name }}">
			    </div>
		    </div>
		</fieldset>
	
    </form>

{% endblock %}