{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    <center><h3>{{ user.username }}</h3></center>
    <div class="container-fluid">
    	<div class="row-fluid" style="text-align: right">
    		<a href="{{ path('messagerie_new_to', {'username' : user.username}) }}" class="btn btn-primary"><i class="icon-reply-all"></i> Envoyer un MP</a>
    	</div>
    	<div class="row-fluid">
    		<div class="span2">
    			<img src="{{ user.avatar }}" style="max-width: 130px">
    		</div>
    		<div class="span6">
		    <p>
		    	{% autoescape false%}
		    		{{ user.description }}
		    	{% endautoescape %}
		    </p>
    		</div>
    		<div class="span3">
		    	<ul class="nav nav-pills nav-stacked">
					<li class="nav-header"><b>MJ sur :</b></li>
		    		{% for campagne in mj_campagnes %}
		    			<li><a href="{{ path('campagne', {'id' :  campagne.id}) }}">{{ campagne.name }} ({{ campagne.univers }})</a></li>
		    		{% endfor %}
		    	</ul>
		    	<ul class="nav nav-pills nav-stacked">
					<li class="nav-header"><b>PJ sur :</b></li>
		    		{% for campagne in pj_campagnes %}
		    			<li><a href="{{ path('campagne', {'id' :  campagne.id}) }}">{{ campagne.name }} ({{ campagne.univers }})</a></li>
		    		{% endfor %}
		    	</ul>
    		</div>
    	</div>
    </div>	

{% endblock %}