{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form class="form-horizontal" action="{{ path('section_save', {campagne_id : campagne_id}) }}" method="POST">
		<input type="hidden" name="id" value="{{ section.id }}" >
	    <div class="control-group">
		    <label class="control-label" for="title">Title</label>
		    <div class="controls">
		    	<input type="text" id="title" name="title" placeholder="Titre de la section" value="{{ section.title }}">
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="ordre">N°Ordre</label>
		    <div class="controls">
		    	<input type="text" id="ordre" name="ordre" placeholder="Place dans l'ordre" value="{{ section.ordre }}">
		    </div>
	    </div>	
	    <div class="control-group">
		    <label class="control-label" for="default_collapse">Situation par défaut</label>
		    <div class="controls">
		    	<input type="radio" name="default_collapse" value="0" {% if section.default_collapse == 0 %} checked {% endif %}> Déplier
				<input type="radio" name="default_collapse" value="1" {% if section.default_collapse == 1 %} checked {% endif %}> Plier
		    </div>
	    </div>    
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Sauvegarder</button>
		    </div>
	    </div>
    </form>

{% endblock %}

{% block sidebar %}
	{% if is_mj %}
   		{{ render(url('sidebar_campagne_mj', {campagne_id : campagne_id})) }}	
	{% else %}
   		{{ render(url('sidebar_campagne', {campagne_id : campagne_id})) }}
    {% endif %}
{% endblock %}