
	<div align="center">
		<h5>{{ campagne.name }}</h5>
	</div>
    	<div align="center">
    		<img src="{{ app.session.get('user')['avatar'] }}" width="130px" class="img-rounded" />
    	</div>
    <p/>
    <div align="center">
    
    	{% set pull_mode = "pull-right" %}
    	{% include("composant/my_campagne_btm.html.twig") %}
		<a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn iconeBtn sidebarBtn" title="Forum"><i class="icon-folder-close"></i></a>
		<a href="{{ path('perso_pnj', {campagne_id: campagne_id}) }}" class="btn iconeBtn sidebarBtn" title="Galerie des PNJ"><i class="icon-group"></i></a>	
		<a href="#dicerModal" role="button" data-toggle="modal" class="btn iconeBtn sidebarBtn" title="Lanceur de dés"><i class="icon-cogs"></i></a>	
    </div>
    <p/>
	<ul class="nav nav-list nav-stacked">
		<li class='nav-header'><b>Personnages</b></li>
		{% for perso in allPerso %}
			<li><a href="{{ path('perso_view_all_mj', {perso_id : perso.id, campagne_id: campagne_id}) }}">{{ perso.name }} ({{ perso.username }})</a></li>
		{% endfor %}
	</ul>
	<div style="padding-left: 1.3em; padding-right: 1.3em;">
		{% if config.sidebar_text != "" %}
		<div class="page-header">
		  <h5>Informations campagnes</h5>
		</div>
			{% autoescape false %}
				{{ config.sidebar_text }}
			{% endautoescape %}
		{% endif %}
	</div>