
	{% if (app.session.get('user') == null)  %}
	<form class="" action="{{ path('login_connect')  }}" method="POST">
	    <div class="control-group">
		    <div class="controls">
		    	<input type="text" id="login" name="login" placeholder="Nom d'utilisateur">
		    </div>
	    </div>
	    <div class="control-group">
		    <div class="controls">
		    	<input type="password" id="pass" name="pass" placeholder="Mot de passe">
		    </div>
	    </div>	    
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Se connecter</button>
			    <a href="{{ path('subscribe') }}" class="btn">S'inscrire</a>
		    </div>
	    </div>
    </form>
    {% else %}
    	<div align="center">
    		<img src="{{ app.session.get('user')['avatar'] }}" width="150px" class="img-rounded" />
    	</div>
	    <p/>
	    <div align="center">
			<a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn iconeBtn"><i class="icon-star"></i></a>
			<a href="{{ path('forum') }}" title="Forum" class="btn iconeBtn"><i class="icon-folder-open" ></i></a>
            <a href="{{ path('messagerie') }}" title="Messagerie" class="btn iconeBtn"><i class="icon-envelope"></i></a>
	    </div>
	    <p/>
		<ul class="nav nav-tabs nav-stacked">
			<li class='active'><a href='#'><b>Partie active (MJ)</b></a></li>
			{% for campagne in active_campagnes %}
				<li><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></li>
			{% endfor %}
		</ul>
	
		<ul class="nav nav-tabs nav-stacked">
			<li class='active'><a href='#'><b>Partie active (PJ)</b></a></li>
			{% for campagne in active_pj_campagnes %}
				<li><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
