	<div class="visible-xs visible-sm sidebarTop">
		<div align="center">
			<h5>{{ campagne.name }}</h5>
		</div>
	    <div class="row">
	    	<div class="col-md-4">
				{% if perso.id != '' %}
	    		<div align="center">
    				<img src="{{ perso.avatar }}" width="130px" class="img-rounded" />
    			</div><p/>
    			{% endif %}
    			    <div align="center">
	    			    <div class="btn-group">
	    			    	{% set pull_mode = "" %}
					        {% include("composant/my_campagne_btm.html.twig") %}
							<a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn btn-default iconeBtn sidebarBtn quickLink1" title="Forum"><i class="icon-folder-close"></i></a>
							{% include("composant/perso_btm.html.twig") %}
					    	{% if perso.id != '' %}
								<a href="#dicerModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Lanceur de dés"><i class="icon-cogs"></i></a>
	                            <a href="#notesModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Bloc-Notes"><i class="icon-book"></i></a>
	                            <a class="btn btn-default iconeBtn sidebarBtn" onClick="alarm({{app.session.get('user')['id']}}, {{campagne.id}})"
	                                title="Mettre une alerte">
	                                <i class="alarm-pj icon-bell-alt {% if alert %}alarm-on{% endif %}"></i>
	                            </a>
							{% endif %}
						</div>
				    </div><p/>
	    	</div>
	    	<div class="col-md-4">
				<ul class="nav nav-stacked">
					<li><b>Personnages</b></li>
					{% for perso in allPerso %}
							<li><a href="{{ path('perso_view', {perso_id : perso.id, campagne_id: campagne_id}) }}">{{ perso.name }} ({{ perso.username }})</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-4">
				<div class="page-header" style="padding-left: 1.3em; padding-right: 1.3em;">
				  <h5>Informations campagnes</h5>
				</div>
				{% if config.sidebar_text != "" %}
					{% autoescape false %}
						{{ config.sidebar_text }}
					{% endautoescape %}
				{% endif %}
			</div>
	    </div>
	</div>



	<div class="col-md-3 col-lg-2 sidebar hidden-xs hidden-sm" style="max-width: 300px">
	<div align="center">
		<h5>{{ campagne.name }}</h5>
	</div>
	{% if perso.id != '' %}
	    <div align="center">
    		<img src="{{ perso.avatar }}"  width="60%" style="max-width: 130px" class="img-rounded" />
            </div><p/>
        {% endif %}
        <div align="center">
        	<div class="btn-group">
	            <a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn btn-default iconeBtn sidebarBtn quickLink1" title="Forum"><i class=icon-folder-close></i></a>
	            {% if perso.id != '' %}
		            <a class="btn btn-default iconeBtn sidebarBtn" 
		            	onClick="alarm({{app.session.get('user')['id']}}, {{campagne.id}})"
		                title="Mettre une alerte">
		                    <i class="alarm-pj icon-bell-alt {% if alert %}alarm-on{% endif %}"></i>
		            </a>
	            {% endif %}
	            {% set pull_mode = "pull-right" %}
	            {% include("composant/perso_btm.html.twig") %}
	            {% if perso.id != '' %}
	            	</div>
		            <br>
	            	<div class="btn-group">
		            <a href="#dicerModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Lanceur de dés"><i class="icon-cogs"></i></a>
		            <a href="#notesModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Bloc-Notes"><i class="icon-book"></i></a>
	            {% endif %}
	           {% include("composant/my_campagne_btm.html.twig") %}
			</div>
        </div>
        <p/>

	<div style="padding-left: 1.3em; padding-right: 1.3em;">
		{% include("composant/campagne_accordion.html.twig") %}
	</div>
</div>
