{% if (app.session.get('user') != null)  %}
	<div class="container-fluid hidden-desktop sidebarTop">
	    <div class="row-fluid">
	    	<div class="span4">
	    		<div align="center">
    				<img src="{{ app.session.get('user')['avatar'] }}" width="130px" style="max-width: 130px" class="img-rounded" />
    			</div><p/>
    			<div align="center">
					<a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn iconeBtn quickLink1"><i class="icon-bookmark"></i></a>
					{{ include("button/forum_btm.html.twig") }}
		            <a href="{{ path('messagerie') }}" title="Messagerie" class="btn iconeBtn quickLink3"><i class="icon-envelope"></i></a>
			    </div><p/>
	    	</div>
	    	<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class='active'><a href='#'><b>Partie active (MJ)</b></a></li>
					{% for campagne in active_campagnes %}
						<li><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs nav-stacked">
					<li class='active'><a href='#'><b>Partie active (PJ)</b></a></li>
					{% for campagne in active_pj_campagnes %}
						<li><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}</a></li>
					{% endfor %}
				</ul>	    	
	    	</div>
	    </div>
	</div>
{% endif %}	

