<!DOCTYPE html> 
<html lang="fr"> 
<head> 
	<title>jdRoll</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
        <link rel="shortcut icon" type="image/x-icon" href="{{app.request.baseUrl}}/favicon.ico">
        
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/bootstrap-responsive.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/bootstrap-fileupload.css" type="text/css" media="all">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/bootstrap-colorpicker.css" type="text/css" media="all">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/main.css" type="text/css" media="all">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/magicsuggest-1.3.0-min.css">
	
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/jquery-1.9.1.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/bootstrap.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/jquery.shortcuts.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/bootbox.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/bootstrap-fileupload.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/bootstrap-colorpicker.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/jquery.form.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/magicsuggest-1.3.0-min.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/chat.js"></script>  

  <script type="text/javascript" src="{{app.request.baseUrl}}/tinymce/tinymce.min.js"></script>
  
  <script>
        if (window.matchMedia("(min-width: 600px)").matches) {
          tinymce.init({
          selector: ".wysiwyg",
          plugins: [
             "link image lists preview hr spellchecker insertdatetime",
             "table template textcolor fullscreen",
             "emoticons"
          ],
          toolbar: "cut copy paste | styleselect removeformat | bold italic forecolor | alignleft aligncenter alignright alignjustify | hr | bullist numlist outdent indent | link image | preview fullscreen | emoticons",		
          style_formats: [
                          {title: 'Dialogue', inline: 'span', classes: 'dialogue', styles : {color : '#4488CC'}},
                          {title: 'Pensée', inline: 'span', classes: 'pensee', styles : {color : '#8844CC'}},
                          {title: 'Hrp', inline: 'span', classes: 'hrp', styles : {color : 'grey'}},
                          {title: 'Titre 1', block : 'h1'},
                          {title: 'Titre 2', block : 'h2'},
                          {title: 'Titre 3', block : 'h3'}
                      ],
          autosave_ask_before_unload: false,
          min_height: 160
       });
    } else {
        tinymce.init({
              selector: ".wysiwyg",
              plugins: [
                 "link image lists preview hr spellchecker insertdatetime",
                 "table template textcolor fullscreen",
                 "emoticons"
              ],
              menubar : false,
              toolbar: "paste | styleselect removeformat | bold italic | hr | link image",		
              style_formats: [
                              {title: 'Dialogue', inline: 'span', classes: 'dialogue', styles : {color : '#4488CC'}},
                              {title: 'Pensée', inline: 'span', classes: 'pensee', styles : {color : '#8844CC'}},
                              {title: 'Hrp', inline: 'span', classes: 'hrp', styles : {color : 'grey'}},
                              {title: 'Titre 1', block : 'h1'},
                              {title: 'Titre 2', block : 'h2'},
                              {title: 'Titre 3', block : 'h3'}
                          ],
              autosave_ask_before_unload: false,
              min_height: 160,
              width: 300
           });
    }
 </script>

 
  <script type="text/javascript">
  

  
  </script>
  <script>
  function notifyMsg(msg) {
	  AlternativeTitle.titles = new Array("jdRoll", msg);
	  AlternativeTitle.delay = 1000;
	   
	  function AlternativeTitle(){};
	   
	  AlternativeTitle.currentIndex;
	   
	  AlternativeTitle.init = function()
	      {
	      AlternativeTitle.currentIndex = 0;
	      setInterval(AlternativeTitle.change, AlternativeTitle.delay);
	      };
	       
	  AlternativeTitle.change = function()
	      {
	      if(AlternativeTitle.currentIndex + 1 > AlternativeTitle.titles.length)
	          AlternativeTitle.currentIndex = 0;
	           
	      document.title = AlternativeTitle.titles[AlternativeTitle.currentIndex];
	       
	      AlternativeTitle.currentIndex++;
	      };
	       
	  AlternativeTitle.init();
  }
</script>
	{% block specificHeader %}
	
	{% endblock %}
</head>
<body>  

	<a name="top"></a>
	<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    </a>
		    
          <a class="brand" href="{{ path('homepage') }}">jdRoll</a>
          <div class="nav-collapse collapse">
          	{% if (app.session.get('user') == null)  %}
				<ul class="nav pull-right">
					<li class="dropdown">
	              	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
	              	<ul class="dropdown-menu">
	              		<li><a href="{{ path('login_page', {url : '!'} )  }}">Se connecter</a></li>
	              		<li><a href="{{ path('subscribe') }}">S'inscrire</a></li>
	              	</ul>
	              </li>
				</ul>
			{% endif %}
            <p class="navbar-text pull-right">
            	{% if (app.session.get('user') == null)  %}
              		<a href="{{ path('login_page', {url : '!'})  }}" class="navbar-link">Se connecter</a>
              		
              	{% else %}
              		<a href="{{ path('logout')  }}" class="navbar-link">Se déconnecter</a>
              	{% endif %}
            </p>
            <ul class="nav">
              <li><a href="{{ path('homepage') }}"><i class="icon-home"></i> Accueil</a></li>
              <li><a href="{{ path('my_profile') }}"><i class="icon-user"></i> Profil</a></li>
              <li><a href="{{ path('messagerie') }}" id="msgTitle"><i class="icon-envelope"></i> Messagerie</a></li>
              <li class="dropdown">
              	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-play-circle"></i> Jouer <b class="caret"></b></a>
              	<ul class="dropdown-menu">
              		<li><a href="{{ path('campagne_my_list') }}">Mes campagnes</a></li>
                  <li class="divider"></li>
              		<li><a href="{{ path('campagne_list') }}">Rejoindre une campagne</a></li>
              		<li><a href="{{ path('campagne_new') }}">Créer une campagne</a></li>
              		<li><a href="{{ path('campagne_list_all') }}">Voir toutes les campagnes</a></li>
              	</ul>
              </li>
              <li><a href="{{ path('forum') }}"><i class="icon-folder-open"></i> Forum</a></li>
              <li><a href="{{ path('about') }}"><i class="icon-question-sign"></i> About</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    


	<div class="container-fluid" style="margin-top: 4em;">

	    <div class="row-fluid">
	    	<div class="span9">
	    		{% block sidebar_large %}
                                {{ render(url('sidebar_std_large')) }}
                        {% endblock %}

          {% block precontent %}
          {% endblock %}
          <p></p>
          

              {% if app.request.baseUrl == "/jdRoll" %}
                  <div class="alert alert-error">
                  Merci d'utiliser la nouvelle URL : <a href="http://www.jdroll.org">http://www.jdroll.org</a> <br>
                  L'utilisation de l'ancien adresse peut entrainer des problèmes de compatibilités dans la gestion des images.
                  </div>
              {% endif %}

	    		{% block content %}
				    Content of the page...
				{% endblock %}
	    	</div>
	    	<div class="span3 sidebar visible-desktop" style="max-width: 300px">
  	    	  {% block sidebar %}
              		{{ render(url('sidebar_std')) }}
  			  {% endblock %}

	    	</div>
	    </div>
	</div>

	<script>
		$('.iconeBtn').tooltip();
		$('.colorpicker').colorpicker();
	</script>
	
	{% block specificJs %}
	
	{% endblock %}

    <script>
    	function filterTable(idFilter, idTable) {
        	searchText = $(idFilter).val().toLowerCase();
			$(idTable + " tr ").each(function(i){
				currentSearchIndex = $(this).find('.filterIndex').val().toLowerCase();
				if(currentSearchIndex != "header") {
					if( currentSearchIndex.indexOf(searchText) > -1) {
						$(this).css("display", "");
					} else {
						$(this).css("display", "none");
					}
				}
			});
        }


        $(function () {
    		$(".collapserLink").click(function(e) {
    		    e.preventDefault();
    		    var sign = $(this).children('i');
    		    if(sign.hasClass('icon-chevron-sign-down')) {
                        sign.removeClass("icon-chevron-sign-down").addClass("icon-chevron-sign-up");
                    } else {
                        sign.removeClass("icon-chevron-sign-up").addClass("icon-chevron-sign-down");
                    }
    		});     
    	});


    	$(function () {
    		$(".btn-danger").click(function(e) {
    		    e.preventDefault();
    		    var location = $(this).attr('href');
    		    bootbox.confirm("L'action demandé est une action dangereuse (Suppression, Quitter une partie, ...). Etes-vous sur ? ", "Non", "Oui", function(confirmed) {
    		        if(confirmed) {
    		        window.location.replace(location);
    		        }
    		    });
    		});     
    	});

		
    </script>

    <a name="bottom"></a>
   
   	{% if app.session.get('user') != null %}
		{% include('messagerie/btm_messagerie_ajax.html.twig') %}
	{% endif %}
    {% include('uploader.html.twig') %}
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41202193-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body> 
</html>