{% extends "squelette.html.twig" %}

{% block precontent %}
<div align="center" width="60%" class="logo_campagne"></div>
{% endblock %}

{% block content %}


	</div>
	{% if (msg != "") %}
	    <div class="alert alert-error">
	    	{{ msg }}
	    </div>
    {% endif %}

{% endblock %}


{% block specificHeader %}
	{% if campagne_id != 0 %}
		{{ render(url("campagne_config", {id : campagne_id}) ) }}
	{% endif %}
{% endblock %}

{% block sidebar_large %}
	{% if campagne_id == 0 %}
		{{ render(url('sidebar_std_large')) }}
	{% else %}
		{% if is_mj %}
	   		{{ render(url('sidebar_campagne_mj_large', {campagne_id : campagne_id})) }}
		{% else %}
	   		{{ render(url('sidebar_campagne_large', {campagne_id : campagne_id})) }}
	    {% endif %}
	{% endif %}
{% endblock %}

{% block specificJs %}
	{% if campagne_id != 0 %}
		{{ render(url("print_dicer", {campagne_id : campagne_id}) ) }}
        {{ render(url("notes_popup", {campagne_id : campagne_id}) ) }}
	{% if not is_mj %}
		{{ render(url("perso_popup", {campagne_id : campagne_id}) ) }}
		{%endif%}
	{% endif %}
  <script>
	$(function(){
			$("#persoModal" ).css('display','none');
			$('#myPerso').click(function(e){
					
					$("#persoModal" ).dialog({
						height: 'auto',
						width: 'auto',
					}).removeClass('ui-widget');	
				});
	});
		
        $(document).ready(function () {
            $('#admMode').click(function () {
                if ( $("#admMode").hasClass("admDisabled") ) {
                    $("#admMode").removeClass("admDisabled");
                    $(".admIcone").removeClass("invisible");
                    $('#admMode i').removeClass("icon-eye-open")
                    $('#admMode i').addClass("icon-eye-close")
                } else {
                    $("#admMode").addClass("admDisabled");
                    $(".admIcone").addClass("invisible");
                    $('#admMode i').removeClass("icon-eye-close")
                    $('#admMode i').addClass("icon-eye-open")
                }
            });
        });
        $(document).ready(function () {
            $('#favorised').click(function () {
                if ( $("#favorised").hasClass("notFavorised") ) {
                    $("#favorised").removeClass("notFavorised");
                    $('#favorised i').removeClass("icon-star-empty");
                    $('#favorised i').addClass("icon-star");
                    favorised({{ campagne_id }}, 1);
                } else {
                    $("#favorised").addClass("notFavorised");
                    $('#favorised i').removeClass("icon-star");
                    $('#favorised i').addClass("icon-star-empty");
                    favorised({{ campagne_id }}, 0);
                }
            });
        });

        function favorised(campagne, statut) {
            $.ajax({
                type: "POST",
                url: "{{ path('favoris') }}",
				data: {campagne: campagne, statut: statut},
                success: function(msg){},
                error: function(msg) {}
            });
        }
    </script>
{% endblock %}
