        <div id="notifIndicator" class="btn {% if has_notif %} btn-danger {% endif %} " onClick="notifController.toggleNotif()">
            <div id="notifNumber">
                {{nb_notif}}
            </div>
            <i class="icon-comments-alt "></i>
        </div>
        <div id="notif" class="notifHide">
            <div id="notifContent">
                <div>
                    <div class="well well-small pull-right">
                        <a href="{{path('notifications_feed', {'username': app.session.get('user').login, 'id': app.session.get('user').id })}}" class="btn btn-link"><i class="icon-rss"></i></a>
                        <a class="btn btn-link"><i class="icon-trash" onClick="notifController.clearNotif()"></i></a>
                    </div>
                </div>
                 
                <div id="msg-zone">
                    {% for notif in notifs %}
                        <div class="well well-small notifMsg" id="notif{{notif.id}}">
                            <a class="close" data-dismiss="alert" href="#" onClick="notifController.deleteNotif({{notif.id}})">&times;</a>
                            <b>{{notif.title}}</b>
                            {% autoescape false %}
                            <br>{{notif.content}}.<br>
                            {% endautoescape %}
                            {% if notif.nb > 1 %}
                                {{ notif.nb }} notifications concernées.
                                <div align="right">À {{ notif.last_update|date("H") }}h{{ notif.last_update|date("i") }}</div>
                            {% else %}
                                <div align="right">À {{ notif.last_update|date("H") }}h{{ notif.last_update|date("i") }}</div>
                            {% endif %}
                           
                        </div>    
                    {% endfor %}
                </div>
           </div>
           <div class="arrow-down"></div>
        </div>
