{% extends "squelette.html.twig" %}

{% block content %}

null	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}


    {% for campagne in campagnes_with_waiting %}
            <div class="alert alert-warning">
                    Des inscriptions sont en attentes de validations sur la campagne "{{campagne.name}}". <br>
                    <a href="{{ path('campagne', { 'id' : campagne.id}) }}">Cliquez ici pour voir la liste des inscrits.</a>
                    <p></p>
                    <p>Les inscriptions à la partie seront fermées automatiquement quand vous aurez accepté le nombre de joueurs que vous avez indiqué comme requis.</p>
            </div>
    {% endfor %}
    <div align="right">
	    <form role="form" class="form-search">
	    	<input type="text" id="searchText" onkeyup="filterTable('#searchText','.campagneTable')"  class="search-query focus-elt" placeholder="Recherche">
	    </form>
    </div>


    <div class="categorie">
		<a data-toggle="collapse" data-target="#current" class="collapserLink">
                <i class="icon-chevron-sign-down"></i> Parties en activités
		</a>
	</div>
	<div id="current" class="collapse in">

            {% if campagnes_waiting is not empty %}
                <table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="6">Partie en attente de validation<input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
				<tr>
					<th width="40px"></th>
					<th width="30%">Nom de la campagne</th>
					<th>Univers de la campagne</th>
					<th>Système de jeu</th>
					<th>MJ</th>
					<th width="230px"><input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
			</thead>
			<tbody>
			{% for campagne in campagnes_waiting %}
				<tr>
					<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
					<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}
						<br><img src="{{ campagne.banniere }}" width="100px" style="max-width: 100px"/></a></td>
					<td>{{ campagne.univers }}</td>
					<td>{{ campagne.systeme }}</td>
					<td><a href="{{ path('profile', {username : campagne.username}) }}">{{ campagne.username }}</a></td>
					<td>
						<div class="btn-group">
							<a href="{{ path('campagne', {id: campagne.id}) }}" class="btn btn-default iconeBtn" title="Détail"><i class="icon-search"></i></a>
							<a href="{{ path('campagne_quit', {id : campagne.id}) }}" title="Quitter" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
							<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}{{ campagne.username }}">
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	    {% endif %}

	    <table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="6">Partie (MJ)<input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
				<tr>
					<th width="40px"></th>
					<th width="30%">Nom de la campagne</th>
					<th>Univers de la campagne</th>
					<th>Système de jeu</th>
					<th>Nb Joueurs</th>
					<th width="260px"><input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
			</thead>
			<tbody>
			{% for campagne in campagnes %}
				<tr class="clickable_row" onclick="document.location='{{ path('forum_campagne', {campagne_id: campagne.id}) }}'">
					<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
					<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}
						<br><img src="{{ campagne.banniere }}" width="100px" style="max-width: 100px"/></a></td>
					<td>{{ campagne.univers }}</td>
					<td>{{ campagne.systeme }}</td>
					<td>{{ campagne.nb_joueurs_actuel }} / {{ campagne.nb_joueurs }}</td>
					<td>
					<div class="btn-group">
						<a href="{{ path('campagne', {id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Détail"><i class="icon-search"></i></a>
						                                        {% if campagne.is_recrutement_open != 1 %}
						                                                {% if campagne.nb_joueurs > campagne.nb_joueurs_actuel %}
						                                                    <a href="{{ path('campagne_open_subscribe', {id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Rouvrir le recrutement"><i class="icon-unlock-alt"></i></a>
						                                                {% endif %}
						                                        {% else %}
						                                                    <a href="{{ path('campagne_close_subscribe', {id: campagne.id}) }}" class="btn iconeBtn btn-danger" title="Fermer le recrutement"><i class="icon-lock"></i></a>
						                                        {% endif %}
						<a href="{{ path('campagne_config_edit',  {campagne_id : campagne.id}) }}" class="btn iconeBtn btn-primary" title="Editer"><i class="icon-edit"></i></a>
					</div>
					<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}">
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="6">Partie (Joueur)<input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
				<tr>
					<th width="40px"></th>
					<th width="30%">Nom de la campagne</th>
					<th>Univers de la campagne</th>
					<th>Système de jeu</th>
					<th>MJ</th>
					<th width="230px"><input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
			</thead>
			<tbody>
			{% for campagne in campagnes_pj %}
				<tr class="clickable_row" onclick="document.location='{{ path('forum_campagne', {campagne_id: campagne.id}) }}'">
					<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
					<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}
						<br><img src="{{ campagne.banniere }}" width="100px" style="max-width: 100px"/></a></td>
					<td>{{ campagne.univers }}</td>
					<td>{{ campagne.systeme }}</td>
					<td><a href="{{ path('profile', {username : campagne.username}) }}">{{ campagne.username }}</a></td>
					<td>
						<div class="btn-group">
							<a href="{{ path('campagne', {id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Détail"><i class="icon-search"></i></a>
							<a href="{{ path('perso_pnj', {campagne_id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Galerie des PNJ"><i class="icon-folder-close"></i></a>
							<a href="{{ path('campagne_quit', {id : campagne.id}) }}" title="Quitter" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
						</div>
						<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}{{ campagne.username }}">
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="6">Partie Favorite<input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
				<tr>
					<th width="40px"></th>
					<th width="30%">Nom de la campagne</th>
					<th>Univers de la campagne</th>
					<th>Système de jeu</th>
					<th>MJ</th>
					<th width="230px"><input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
			</thead>
			<tbody>
			{% for campagne in favorised_campagne %}
				<tr class="clickable_row" onclick="document.location='{{ path('forum_campagne', {campagne_id: campagne.id}) }}'">
					<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
					<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}
						<br><img src="{{ campagne.banniere }}" width="100px" style="max-width: 100px"/></a></td>
					<td>{{ campagne.univers }}</td>
					<td>{{ campagne.systeme }}</td>
					<td><a href="{{ path('profile', {username : campagne.username}) }}">{{ campagne.username }}</a></td>
					<td>
						<div class="btn-group">
							<a href="{{ path('campagne', {id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Détail"><i class="icon-search"></i></a>
							<a href="{{ path('perso_pnj', {campagne_id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Galerie des PNJ"><i class="icon-folder-close"></i></a>
							<a href="{{ path('campagne_quit', {id : campagne.id}) }}" title="Quitter" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
						</div>
						<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}{{ campagne.username }}">
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="categorie">
		<a data-toggle="collapse" data-target="#archive" class="collapserLink">
                <i class="icon-chevron-sign-up"></i> Archives
		</a>
	</div>
	<div id="archive" class="collapse out">

	    <table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="6">Partie Archivé (MJ)<input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
				<tr>
					<th width="40px"></th>
					<th width="30%">Nom de la campagne</th>
					<th>Univers de la campagne</th>
					<th>Système de jeu</th>
					<th>Nb Joueurs</th>
					<th width="230px"><input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
			</thead>
			<tbody>
			{% for campagne in campagnes_mj_archive %}
				<tr class="clickable_row" onclick="document.location='{{ path('forum_campagne', {campagne_id: campagne.id}) }}'">
					<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
					<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}
						<br><img src="{{ campagne.banniere }}" width="100px" style="max-width: 100px"/></a></td>
					<td>{{ campagne.univers }}</td>
					<td>{{ campagne.systeme }}</td>
					<td>{{ campagne.nb_joueurs_actuel }} / {{ campagne.nb_joueurs }}</td>
					<td>
						<div class="btn-group">
						<a href="{{ path('campagne', {id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Détail"><i class="icon-search"></i></a>
						<a href="{{ path('campagne_config_edit',  {campagne_id : campagne.id}) }}" class="btn iconeBtn btn-primary" title="Editer"><i class="icon-edit"></i></a>
					</div>
					<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}">
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<table class="table table-striped table-hover campagneTable">
			<thead>
				<tr>
					<th colspan="6">Partie archivé (Joueur)<input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
				<tr>
					<th width="40px"></th>
					<th width="30%">Nom de la campagne</th>
					<th>Univers de la campagne</th>
					<th>Système de jeu</th>
					<th>MJ</th>
					<th width="230px"><input type="hidden" class="filterIndex" value="HEADER"></th>
				</tr>
			</thead>
			<tbody>
			{% for campagne in campagnes_pj_archive %}
				<tr class="clickable_row" onclick="document.location='{{ path('forum_campagne', {campagne_id: campagne.id}) }}'">
					<td>{% if campagne.activity > 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
					<td><a href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}">{{ campagne.name }}
						<br><img src="{{ campagne.banniere }}" width="100px" style="max-width: 100px"/></a></td>
					<td>{{ campagne.univers }}</td>
					<td>{{ campagne.systeme }}</td>
					<td><a href="{{ path('profile', {username : campagne.username}) }}">{{ campagne.username }}</a></td>
					<td>
						<div class="btn-group">
							<a href="{{ path('campagne', {id: campagne.id}) }}" class="btn  btn-default iconeBtn" title="Détail"><i class="icon-search"></i></a>
							<a href="{{ path('campagne_quit', {id : campagne.id}) }}" title="Quitter" class="btn btn-danger iconeBtn"><i class="icon-remove"></i></a>
						</div>
						<input type="hidden" class="filterIndex" value="{{ campagne.name }}{{ campagne.univers }}{{ campagne.systeme }}{{ campagne.username }}">
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
