{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}


    <div align="right">
	    <form role="form" class="form-search">
	    	<input type="text" id="searchText" onkeyup="filterList('#searchText','#campagneTable')"  class="input-medium search-query focus-elt">
	    </form>
    </div>
    {% if not (campagnes is empty) %}

    <div class="col-xs-12" id="campagneTable">
        {% for gamesBox in campagnes %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 game-vignette">
            <a href="{{ path('campagne', {id : gamesBox.id}) }}"
                class="popover-elt"
                data-placement="bottom"
                data-trigger="hover"
                data-toggle="popover"
                data-html="true"
                data-title="<h5>{{gamesBox.univers}} par {{gamesBox.username}}</h5>"
                data-content="<b>Joueurs :</b> {{gamesBox.nb_joueurs_actuel}} / {{gamesBox.nb_joueurs}}">
                <p>{{ gamesBox.name }}</p>
                {% if gamesBox.banniere != "" %}
                  <img class="img-rounded" src="{{gamesBox.banniere}}" />
                {% else %}
                  <img class="img-rounded" src="{{app.request.baseUrl}}/img/ban.png"/>
                {% endif %}
            </a>
            <input type="hidden" class="filterIndex" value="{{ gamesBox.name }}{{ gamesBox.univers }}{{ gamesBox.systeme }}{{ gamesBox.username }}{{ gamesBox.statut }}">
        </div>
       {% endfor %}
   </div>


	{% else %}
		<div class="alert alert-warning">
			<p>Aucune partie disponible pour l'instant...</p>
		</div>
	{% endif %}

{% endblock %}
