<!DOCTYPE html>
<html lang="fr">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plate-forme de jeu de rôle par forum">
    <meta name="keywords" content="PBF, jdr, forum, jeu de rôle">

	<link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/select2/select2.css">
	
	<script type="text/javascript">
		var BASE_PATH = '{{app.request.baseUrl}}';
	</script>


	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/jquery/jquery.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/bootstrap/dist/js/bootstrap.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/select2/select2.min.js"> </script>
	
	<!-- Application specific controller -->
	
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/onload.js"></script>
    <script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/ui.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/zeroclipboard/ZeroClipboard.min.js"> </script>
  	
</head>
<body>
	<div class="col-md-4" >
		<select class="select2" id="perso_id" name="perso_id" style="min-width: 270px" multiple>
		
		{% for perso in allPerso %}  
			<option value="{{ perso.username }}">{{ perso.name }} ({{perso.username}})</option>
		{% endfor %}
        </select>
	</div>
								
	<script type="text/javascript">

		$(document).ready(function() {
			onLoadController.onLoadGenerals();
			
			$('select').select2()
			.on("select2-focus", function() {
			  $('select').select2("open");
			});
			$('select').select2().select2("open");
		});
	</script>					
</body>
</html>