{% extends "squelette.html.twig" %}

{% block content %}

<div id="feedbacksMsg">

</div>

{% if (error != "") %}
<div class="alert alert-error">
  {{ error }}
</div>
{% endif %}


<div class="panel panel-success" id="feedback{{ feedback.id }}">
  <div class="panel-heading">
    <h3 class="panel-title">{{ feedback.title }}</h3>
  </div>
  <div class="panel-body">
    <table width="100%">
      <tr>
        <td style="width: 200px">
          <img src="{{ feedback.avatar }}" width="60%"/><br>
          <p><a href="{{ path('profile', {username: feedback.username}) }}" class="profil{{ feedback.profil }}"><b>{{ feedback.username }}</b></a></p>
					<p><i>Le {{ feedback.create_date }}</i></p>
        </td>
        <td>
          {% autoescape false %}
          {{ feedback.content }}
          {% endautoescape %}
          <div class="pull-right">
            {% if is_admin %}
            <button class="btn btn-danger"
                    onClick="feedbackService.close({{ feedback.id }})">
              Fermer le feedback
            </button>
            {% endif %}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <input type="hidden"
         class="filterIndex"
         value="{{ feedback.title }}">
</div>

<div class="col-md-11 col-md-offset-1">
<table class="table table-stripped">
{% for comment in comments %}
  <tr>
    <td style="width: 200px">
      <img src="{{ comment.avatar }}" width="60%"/><br>
      <p><a href="{{ path('profile', {username: comment.username}) }}" class="profil{{ comment.profil }}"><b>{{ comment.username }}</b></a></p>
      <p><i>Le {{ comment.create_date }}</i></p>
    </td>
    <td>
      {% autoescape false %}
      {{ comment.content }}
      {% endautoescape %}
    </td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">
      <form action="{{ path('feedback_comment', {'id' : feedback.id}) }}" method="post">
        <h4>Poster un commentaire</h4>
        <textarea name="content" class="wysiwyg"></textarea><br>
        <input type="submit" class="btn btn-primary" value="Répondre">
      </form>
    </td>
  </tr>
</table>
</div>

{% endblock %}
