{% extends "squelette_campagne.html.twig" %}

{% block content %}

	<table class="table table-striped table-hover" width="100%">
		<thead>
			<tr>
				<th colspan="2" class="categorie"><h5><a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}">Forum</a> >
					{{ topic.section_title }} > {{ topic.title }}</h5></th>
				<th class="categorie" style="text-align: right">
				{% for i in range(1, last_page) %}
					{% if i != actual_page %}
						<a href="{{ path('topic_page', {'campagne_id' : campagne_id, 'topic_id' : topic.id, 'no_page' : i}) }}">{{ i }}</a>
					{% else %}
						<u>{{ i }}</u>
					{% endif %}


				{% endfor %}
                                {% if actual_page == 0%}
                                    <u>Toutes</u>
                                {% else %}
                                    <a href="{{ path('topic_all', {'campagne_id' : campagne_id, 'topic_id' : topic.id}) }}">Toutes</a>
                                {% endif %}
				</th>
			</tr>
			<tr>
				<th width="15%"><i>Auteur</i></th>
				<th width="65%"><i>Message</i></th>
				<th width="20%"></th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>
						{% if post.perso_name != null %}
							<p class="post_name"><a onClick="persoModalService.openPerso({{campagne_id}}, {{post.perso_id}})"><b>{{ post.perso_name }}</b></a></p>
              <p class="post_user_title">{{post.perso_concept}}</p>
							<p class="post_info"><i>Le {{ post.post_date|date("d/m/y H:i") }}</i></p>
              <p class="post_info">Par <a href="{{ path('profile', {username: post.user_username}) }}" class="profil{{ post.user_profil }}"><i>{{ post.user_username }}</i></a></p>
							<img src="{{ post.perso_avatar }}" width="80%" class="img-rounded"/>
						{% elseif  post.user_username != null %}
              <p class="post_name"><a href="{{ path('profile', {username: post.user_username}) }}" class="profil{{ post.user_profil }}"><b>{{ post.user_username }}</b></a></p>
              <p class="post_user_title"><i>{{post.user_titre}}</i></p>
							<p class="post_info"><i>Le {{ post.post_date|date("d/m/y H:i") }}</i></p>
							<img src="{{ post.user_avatar }}" width="80%" class="img-rounded"/>
						{% endif %}
					</td>
					<td>
						<div class="postContent">
						{% autoescape false %}
							{{ post.post_content }}
						{% endautoescape %}
						</div>
						<div style="display: none;" id="contentDiv{{ post.post_id }}">
							{% autoescape false %}
								<b>Posté par {% if post.perso_name != null %} {{ post.perso_name }} {% elseif  post.user_username != null %} {{ post.user_username }} {% endif %}</b>
						 		<br>
								{{ post.post_content }}
							{% endautoescape %}
						</div>
						<a name="post{{ post.post_id }}"></a>
					</td>
					<td style="text-align: right">
						<div class="btn-group btn-group-xs">
							<a title="Quote" class="btn btn-xs btn-default iconeBtn" onClick="quote('{{ post.post_id}}')"><i class="icon-quote-left"></i></a>
							{% if is_mj or (post.user_id == app.session.get('user')['id']) %}
								{% if post.user_id != null %}
									<a href="{{ path('post_edit', {campagne_id : campagne_id, post_id : post.post_id}) }}"
									title="Editer" class="btn btn-xs btn-primary iconeBtn"><i class="icon-edit"></i></a>
								{% endif %}

							{% endif %}
							{% if is_mj or ( (post.user_id == app.session.get('user')['id']) and (topic.last_post_id == post.post_id) )  %}
								<a href="{{ path('post_delete', {campagne_id : campagne_id, post_id : post.post_id, topic_id : post.topic_id}) }}"
									title="Supprimer" class="btn btn-xs btn-danger iconeBtn"><i class="icon-remove-sign"></i></a>
							{% endif %}
						</div>
						<a title="Aller au bas de la page" href="#bottom" style="margin-left: 2em"><i class="icon-double-angle-down"></i></a>
						<a title="Aller au début de la page" href="#top"><i class="icon-double-angle-up"></i></a>
            <a title="Lien permanent" href="#post{{ post.post_id }}"><i class="icon-link"></i></a>

					</td>
				</tr>
			{% endfor %}
      <tr id="previewRow" class="hide">
        <td>
        </td>
        <td>
          <span id="previewCell"></span>
        </td>
      </tr>
			{% if topic.is_closed == 0 or is_mj %}
				{% if campagne_id == 0 or perso|length > 0 or is_mj or topic.is_private == 2 %}
					{% if campagne_id != 0 %}
					<tr id="quickDicerRow">
						<td>
						</td>
						<td>
							<b>Lancer les dés</b><a href="#dicerHelp" role="button" data-toggle="modal" class="btn btn-link"><i class="icon-question"></i></a>
							<form role="form" class="form-inline">
							    <div class="form-group">
							    	<input type="text" class="form-control" id="dicerParamQuick" name="dicerParamQuick" placeholder="Ex : 1d6 + 1d4">
							    </div>
							    <div class="form-group">
							    	<input type="text" class="form-control" id="dicerDescriptionQuick" name="dicerDescription" placeholder="Ex: Crocheter la serrure">
							    </div>
							    <button type="submit" class="btn btn-default" onClick="return uiDicer.dicerLaunch({{ topic.id }});">Lancer les dés</button>
							    <img src="{{app.request.baseUrl}}/img/loading.gif" class="hide" id="waitingQuickLaunch">
                                <br>
                                <b>Résultats : </b>
							    <span id="resultatDicerQuick">

					   			 </span>
					   		</form>
					   	</td>
					</tr>
					{% endif %}

				<tr>
					<td>
					</td>
					<td>
						<div align="right">
							<a href="#uploaderModal" role="button" data-toggle="modal"><i>Uploader une image</i></a>
						</div>
						<b>Poster une réponse</b>
						<form role="form" class="form-horizontal" >
							<input type="hidden" name="id" value="" >
							<input type="hidden" name="topic_id" value="{{ topic.id }}" >

							{% if is_mj %}
                                <div class="form-group">
                                <label for="perso_id">Poster en tant que...</label>
									<select class="select2" id="perso_id" name="perso_id" style="min-width: 200px">
						                <option value="" {% if default_perso == '' %} selected="selected" {% endif %}>MJ</option>
                                        <optgroup label="Personnages Joueurs">
						                {% for personnage in personnages %}
						                    {% if personnage.user_id != null %}
						                        <option value="{{ personnage.id }}" {% if default_perso == personnage.id %} selected="selected" {% endif %}>{{ personnage.name }}</option>
						                    {% endif %}
						                {% endfor %}
                                        </optgroup>
                                        <optgroup label="Personnages Non-Joueurs">
						                {% for personnage in personnages %}
						                    {% if personnage.user_id == null %}
						                        <option value="{{ personnage.id }}" {% if default_perso == personnage.id %} selected="selected" {% endif %}>{{ personnage.name }}</option>
						                    {% endif %}
						                {% endfor %}
                                        </optgroup>
									</select>
								</div>
							{% else %}
                                {% if perso|length == 1 %}
                                    <input type="hidden" name="perso_id" value="{{ perso[0].id }}" >
                                {% elseif perso|length == 0 %}
                                    <input type="hidden" name="perso_id" value="" >
                                {% elseif perso|length > 1 %}
                                    <div class="form-group">
                                        <label for="perso_id">Poster en tant que...</label>
                                        <select class="select2" id="perso_id" name="perso_id" style="min-width: 200px">
                                                {% set firstSelected = 'selected="selected"' %}
                                                {% for personnage in perso %}
                                                    <option value="{{ personnage.id }}" {{ firstSelected }}>{{ personnage.name }}</option>
                                                    {% set firstSelected = ""%}
                                                {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
							{% endif %}
						   	<div class="form-group">
							    	<textarea input class="input-xxlarge wysiwyg" type="text" id="content" name="content"
							    	 placeholder="Votre message" rows="15" title="Réponse">
                                    	{% if draft != null %} {{ draft.content }} {% endif %}
                                    </textarea>
						    </div>
						    <div class="form-group" align="right">
						    	<div class="btn-group">
							    	<a class="btn btn-primary" id="btn-reply" onClick="draftController.ajaxPost()">Répondre</a>
                    <a class="btn btn-default" id="btn-preview" onClick="draftController.preview()">Prévisualiser</a>
                    <a class="btn btn-default" id="btn-enreg" onClick="draftController.ajaxEnreg()">Enregistrer</a>
                  </div>
                  <img src="{{app.request.baseUrl}}/img/loading.gif" class="hide" id="waitingPost">
                  <span id="enregResult"></span>

						    </div>
					    </form>
					</td>
				</tr>
				{% endif %}
			{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2" class="categorie"><h5><a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}">Forum</a> >
					{{ topic.section_title }} > {{ topic.title }}</h5></th>
				<th class="categorie" style="text-align: right">
				{% for i in range(1, last_page) %}
					{% if i != actual_page %}
					<a href="{{ path('topic_page', {'campagne_id' : campagne_id, 'topic_id' : topic.id, 'no_page' : i}) }}">{{ i }}</a>
					{% else %}
						<u>{{ i }}</u>
					{% endif %}
				{% endfor %}
                                {% if actual_page == 0%}
                                    <u>Toutes</u>
                                {% else %}
                                    <a href="{{ path('topic_all', {'campagne_id' : campagne_id, 'topic_id' : topic.id}) }}">Toutes</a>
                                {% endif %}
				</th>
			</tr>
		</tfoot>
	</table>

<script language="javascript">

$("a[rel=popover]").popover();

function quote(id) {
	text = "<blockquote><p>" + $('#contentDiv' + id).html().trim() + "</p></blockquote><p></p>";
	tinyMCE.get('content').setContent(tinyMCE.get('content').getContent() + text);
}

</script>
{% endblock %}
