{% extends "squelette_campagne.html.twig" %}

{% block content %}
  <div class="col-xs-12">
	<div align="right">
		<a href="#uploaderModal" role="button" data-toggle="modal"><i>Uploader une image</i></a>
	</div>
	<form role="form" class="form-horizontal" action="{{ path('post_save', {campagne_id : campagne_id}) }}" method="POST">
		<input type="hidden" name="id" value="{{ post.id }}" >
		<input type="hidden" name="topic_id" value="{{ post.topic_id }}" >
        {% if is_mj %}
        <div class="form-group">
        <label for="perso_id">Poster en tant que...</label>
            <select class="select2" name="perso_id" style="min-width: 200px">
                <option value="" {% if post.perso_id == '' %} selected="selected" {% endif %}>MJ</option>
                <optgroup label="Personnages Joueurs">
                {% for personnage in personnages %}
                    {% if personnage.user_id != null %}
                        <option value="{{ personnage.id }}" {% if post.perso_id == personnage.id %} selected="selected" {% endif %}>PJ &nbsp;&nbsp;&emsp; {{ personnage.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="Personnages Non-Joueurs">
                {% for personnage in personnages %}
                    {% if personnage.user_id == null %}
                        <option value="{{ personnage.id }}" {% if post.perso_id == personnage.id %} selected="selected" {% endif %}>PNJ &emsp; {{ personnage.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            </select>
        </div>
        {% else %}
            <input type="hidden" name="perso_id" value="{{ post.perso_id }}" >
        {% endif %}
	   	<div class="form-group">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="content" name="content"
		    	 placeholder="Votre message" rows="15">{{ post.content }}</textarea>
	    </div>
	    <div class="form-group">
			  <a class="btn btn-primary" onClick="draftController.ajaxPost()">Enregistrer</a>
        <img src="{{app.request.baseUrl}}/img/loading.gif" class="hide" id="waitingPost">
        <span id="enregResult"></span>
	    </div>

    </form>
  </div>


{% endblock %}
