{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    {% if (absences is not empty) %}
	    <div class="alert alert-warning">
                <ul>
	    	{% for absence in absences %}
                    <li>{{absence.username}} sera absent du {{absence.begin_date}} au {{absence.end_date}}</li>
                {% endfor %}
                </ul>
	    </div>
    {% endif %}
	 {% if (waitingUsers is defined and waitingUsers > 0 and is_mj) %}
            <div class="alert alert-warning">
                    Des inscriptions à la partie sont en attentes de validations. <br>
                    <a href="{{ path('campagne', { 'id' : campagne_id}) }}">Cliquez ici pour voir la liste des inscrits.</a>
                    <p></p>
                    <p>Les inscriptions à la partie seront fermées automatiquement quand vous aurez accepté le nombre de joueurs que vous avez indiqué comme requis.</p>
            </div>
    {% endif %}


	<div align="right">
		<div class="btn-group">
		{% if is_mj %}

			<a href="{{ path('section_add',  {campagne_id : campagne_id}) }}" title="Ajouter une section" class="btn btn-info iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} "><i class="icon-plus"></i></a>
			  {% if campagne_id > 0 %}
			<a href="{{ path('campagne_edit', {id : campagne.id}) }}" class="btn btn-default iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} " title="Editer"><i class="icon-edit"></i></a>
			{% endif %}
			<a href="{{ path('campagne_config_edit',  {campagne_id : campagne_id}) }}" title="Configurer l'espace campagne" class="btn btn-default iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %}"><i class="icon-wrench"></i></a>
			{% if campagne.is_admin_open != 1 %}
				<a title="Administrer l'espace campagne" id="admMode" class="btn iconeBtn btn-primary admDisabled"><i class="icon-eye-open"></i></a>
			{% else %}
				<a title="Administrer l'espace campagne" id="admMode" class="btn iconeBtn btn-primary"><i class="icon-eye-close"></i></a>
			{% endif %}
		{% endif %}
		</div>
	    {% if campagne_id > 0 %}
	        {% if is_favoris %}
	            <a title="Mettre en favoris" id="favorised" class="btn btn-default iconeBtn"><i class="icon-star"></i></a>
	        {% else %}
	            <a title="Mettre en favoris" id="favorised" class="btn btn-default iconeBtn notFavorised"><i class="icon-star-empty"></i></a>
	        {% endif %}
	    {% endif %}
	    
	</div>
	<p/>
	{% set section_id = -1 %}
	{% set topic_id = -1 %}

	{% for line in topics %}
		{% if line.section_id != section_id %}

			{% if section_id != -1 %}
					</tbody>
				</table>
	    	</div>
			{% endif %}


	    	<div class="categorie">
	    		<table width="100%">
	    			<tr>
	    				<td width="70%">
	    					<a data-toggle="collapse" data-target="#section{{ line.section_id  }}" class="collapserLink">
                                                    {% if line.default_collapse == 0 %}
                                                        <i class="icon-chevron-sign-down"></i>
                                                    {% else %}
                                                        <i class="icon-chevron-sign-up"></i>
                                                    {% endif %}

				    			{% if (line.section_banniere != null) and (line.section_banniere != "") %}
				    				<img src="{{ line.section_banniere }}" width="80%" style="max-height: 200px; max-width: 500px;" />
				    			{% else %}
				    				{{ line.section_title  }}
				    			{% endif %}
				    		</a>
				    	</td>
	    				<td width="30%" style="vertical-align: top">
		    				<div align="right">
		    					{% if is_mj %}
		    						<div class="btn-group">
			    						<a href="{{ path('section_edit', {campagne_id : campagne_id, section_id : line.section_id}) }}" title="Editer la catégorie" class="btn btn-default iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} "><i class="icon-edit"></i></a>
										<a href="{{ path('topic_add', {campagne_id : campagne_id, section_id : line.section_id}) }}" title="Ajouter un sujet" class="btn btn-default iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} "><i class="icon-plus"></i></a>
										<a href="{{ path('section_delete', {campagne_id : campagne_id, section_id : line.section_id}) }}" title="Supprimer la catégorie" class="btn btn-danger iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} "><i class="icon-remove-sign"></i></a>
									</div>
								{% endif %}
							</div>
	    				</td>
	    			</tr>
	    		</table>


	    	</div>

	    	<div class="topics collapse {% if line.default_collapse == 0 %} in {% else %} out {% endif %}" id="section{{ line.section_id  }}">
		    	<table class="table table-striped table-hover">
					<tbody>
			{% set section_id = line.section_id %}
		{% endif %}

		{% if line.topics_id != null %}
			{% if (line.topics_is_private != 1) or is_mj or (line.cr_topic_id != null) %}
				<tr class="clickable_row" onclick="document.location='{{ path('topic', {campagne_id : campagne_id, topic_id : line.topics_id}) }}#post{{ line.read_post_id }}'">
					<td width="60px">
						{% if line.posts_id > line.read_post_id %}
							<i class="icon-asterisk"></i>
						{% endif %}

						{% if line.topics_is_closed > 0 %}
							<i class="icon-lock"></i>
                        {% else %}
                            {% if line.topics_is_private == 2 %}
                                <i class="icon-folder-open" style="color: green"></i>
                            {% elseif line.topics_is_private == 1 %}
                                <i class="icon-folder-open redColor" ></i>
                            {% endif %}
						{% endif %}
					</td>
					<td width="40px">
						{% if line.topics_stickable > 0 %}
							<i class="icon-pushpin"></i>
						{% endif %}
					</td>
					<td><a href="{{ path('topic', {campagne_id : campagne_id, topic_id : line.topics_id}) }}#post{{ line.read_post_id }}">{{ line.topics_title }}</a></td>
					<td width="400px">
						{% if line.posts_date != null %}
						Dernier post le {{ line.posts_date|date("d/m/y H:i") }}
						{% endif %}
						{% if line.posts_username != null %}
							par {{ line.posts_username }}
						{% else %}
							{% if line.user_username != null %}
								par {{ line.user_username }}
							{% endif %}
						{% endif %}

					</td>
					<td width="130px">
						{% if is_mj %}
							<div class="btn-group">
					    		<a href="{{ path('topic_edit', {campagne_id : campagne_id, topic_id : line.topics_id}) }}" title="Editer le sujet" class="btn btn-default iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} "><i class="icon-edit"></i></a>
					    		<a href="{{ path('topic_delete', {campagne_id : campagne_id, topic_id : line.topics_id}) }}" title="supprimer le sujet" class="btn btn-danger iconeBtn admIcone {% if campagne.is_admin_open != 1 %} invisible {% endif %} "><i class="icon-remove-sign"></i></a>
				    		</div>
						{% endif %}
					</td>
				</tr>
			{% endif %}
		{% endif %}

	{% endfor %}
				</tbody>
			</table>
    	</div>

    	{% if campagne_id == 0 %}
    			{% include('chat/chatbox.html.twig') %}
        {% else %}

            <div class="well" align="center">
                    <p class="inline"><i class="icon-folder-open" style="color: green"></i> Post Grand-public</p>
                    <p class="inline"><i class="icon-folder-open redColor" ></i> Post Privé</p>
                    <p class="inline"><i class="icon-lock"></i> Post vérouillé</p>
                    <p class="inline"><i class="icon-asterisk"></i> Message non-lu</p>
            </div>

    	{% endif %}


		<script>
		$('.collapse').on('shown', function (e) {

		var $elem = $(this),
		top = $elem.offset().top,
		left = $elem.offset().left,
		width = $elem.width(),
		height = $elem.height();

		var justDoIt = 0;


		if (top + height > $(window).height())
			$("body").animate({scrollTop: $(this).offset().top},400);

		})

		</script>

{% endblock %}
