{% extends "squelette.html.twig" %}

{% block content %}

		<div class="row" style="margin-bottom: 1em">
			<div class="col-md-10">
				<div class="page-header">
					<h1>Bienvenue ! <small>Du jeu, du rôle, du Roll !</small></h1>
				</div>
			</div>
			<div class="col-md-2">
				<img src="{{app.request.baseUrl}}/img/ban.png" width="100%" style="max-width: 250px" />
			</div>

		</div>


		<div class="row">


			<div class="well well-large">
				<p></p>
				<p>Envie de rejoindre une partie ? Regardez les campagnes qui recrutent dans <b>Jouer > Rejoindre une campagne</b></p>
				<p>Envie de proposer une partie ? Allez sur <b>Jouer > Créer une campagne.</b></p>
				<p></p>
				<p>D'autres questions ? Envie de partager vos expériences ? Rejoignez la communauté via le <b>Tchat</b> ou le <b>Forum</b></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							{{ include('composant/partie_carrousel.html.twig') }}
						</div>
				</div>
			</div>
			<div class="col-md-7">
				<div style="margin-top: 1.7em"></div>
				{% include('composant/last_post.html.twig') %}
				<div class="well well-small statistiques" style="margin-top: 3em">
					<p><b>Derniers inscrits :</b>
					{% set isFirst = true %}
					{% for user in last_users %}
						{% if not isFirst %}
							,
						{% endif %}
						<a href="{{ path('profile',{username: user.username} ) }}">{{ user.username }}</a>
						{% set isFirst = false %}
					{% endfor %}
					</p>
					<p><b>Connectés durant ses 24 dernières heures ({{connected_24H_users|length}}) : </b>
					{% set isFirst = true %}
					{% for user in connected_24H_users %}
						{% if not isFirst %}
							,
						{% endif %}
                        <a href="{{ path('profile',{username: user.username} ) }}" class="profil{{user.profil}}">{{ user.username }}</a>
						{% set isFirst = false %}
					{% endfor %}
                     <p><b>Actuellement absent : </b>
					{% set isFirst = true %}
					{% for absence in absences %}
						{% if not isFirst %}
							,
						{% endif %}
                        <a href="{{ path('profile',{username: absence.username} ) }}" class="profil{{absence.profil}}">{{ absence.username }}</a>
						{% set isFirst = false %}
					{% endfor %}
					{% if birthDays is empty %}
						<p><b>Anniversaires du jour : aucun.</b>
					{% else %}
						<p><b>Anniversaires du jour :</b>
					{% endif %}
					{% set isFirst = true %}
					{% for birthDay in birthDays %}
						{% if not isFirst %}
							,
						{% endif %}
                        <a href="{{ path('profile',{username: birthDay.username} ) }}" class="profil{{birthDay.profil}}">{{ birthDay.username }}</a>
						{% set isFirst = false %}
					{% endfor %}
				</div>
			</div>
		</div>

		{% include('chat/chatbox.html.twig') %}


{% endblock %}
