{% extends "squelette.html.twig" %}

{% block content %}

<center><h2>Mes Statistiques</h2></center>

<div class="col-xs-12">
<h3>Messages au fil du temps</h3>
<div id="placeholder" class="col-md-10 col-md-offset-1" style="height: 400px;"></div>
</div>
<div class="col-xs-12">
<h3>Messages par jeux</h3>
<div id="placeholder-games" class="col-md-10 col-md-offset-1" style="height: 600px;"></div>
</div>
<script>


$(function () {

    /**
    * General Graph
    */
    function gd(year, month, day) {
        return new Date(year, month - 1, day).getTime();
    }

    var data = [
    {% for line in data %}
        [ gd({{line.dat}}),{{line.cpt}}],
    {% endfor %}
    ];

    $.plot($("#placeholder"),
        [{
            label: "Messages",
            color: "#0062E3",
            points: { fillColor: "#0062E3", show: true },
            lines: { show: true },
            data: data
        }],
        {
            xaxis: {
                mode: "time",
                timeformat: "%m/%y",
                tickSize: [1, "month"]
            },
            grid: { hoverable: true },
            series: {
                shadowSize: 5
            }
        }
    );


    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }


    var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = new Date(item.datapoint[0] * 1),
                    y = item.datapoint[1];

                var day = x.getDate();
                var month = x.getMonth() + 1;
                var year = x.getFullYear();
                var fulldate = day + "/" + month + "/" + year;

                showTooltip(item.pageX, item.pageY,
                            item.series.label + " : " + y + " le " +
                            fulldate);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }

    });


    /**
    * By game Graph
    */
    {% set other = 0 %}
    var games_data = [
    {% for line in games_data %}
      {% if line.cpt > (total / 33) %}
      {
            {% if line.game != '' %}
              label: "{{line.game}}",
            {% else %}
              label: "Forum",
            {% endif %}
            data: {{line.cpt}}
      },
      {% else %}
         {% set other = other + line.cpt %}
      {% endif %}
    {% endfor %}
      {
            label: "Autres",
            data: {{other}}
      },
    ];


    var labelFormatter = function(label, series) {
      return '<div style="border:1px solid grey;font-size:8pt;text-align:center;padding:5px;color:white;">' +
              label + ' : ' +
              Math.round(series.percent) +
              '% (' +
              series.data[0][1] +
              ' ) </div>';
    };

    $.plot($("#placeholder-games"),games_data,
        {
          series: {
              pie: {
                  show: true,
                  tilt: 0.6,
                  label: {
                      show: true,
                      radius: 1,
                      formatter: labelFormatter,
                      background: {
                          opacity: 0.5,
                          color: '#000'
                      }
                  }
              }
          },
          legend: {
              show: false
          }
        }
    );



});




</script>

{% endblock %}
