{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<script type='text/javascript'>
$(function() {

	initFDP($('#zoneFicheCustom'),true);

	$('.ui-resizable-handle').remove();


	$('#saveBtn').click(function(e){
		e.preventDefault();
		var fieldsValue = '';
		$('#zoneFicheCustom').find('input[id$="hidden"]').each(function(){
			fieldsValue +=$(this)[0].outerHTML;
		});

		$('#hiddenInputFields').val(fieldsValue);
			$("form:first").submit();
		});
});


</script>

<style>
.ui-layout-center {
	position: relative;
    border: 1px solid black;
}

</style>

	<form role="form" action="{{ path('perso_save', {campagne_id : campagne_id}) }}" method="POST">
		<input type="hidden" id="perso_id" name="perso_id" value="{{ perso['id'] }}">
	    <div class="form-group">
		    <label class="control-label" for="name">Nom</label>
		    	<input type="text" class="form-control" id="name" name="name" placeholder="Nom du personnage" value="{{ perso['name'] }}">
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="concept">Concept</label>
		    	<input type="text" class="form-control" id="concept" name="concept" placeholder="Contrebandier, Guerrier, ..." value="{{ perso['concept'] }}">
	    </div>
            {% if is_mj and perso.user_id is null%}
                <div class="form-group">
                    <label class="control-label" for="cat_id">Catégorie</label>
                        <select name="cat_id" class="form-control">
                                <option></option>
				 {% for cat in cats %}
                                    <option value="{{ cat.id }}" {% if cat.id == perso.cat_id %} SELECTED="SELECTED" {% endif %}>
				{{ cat.name }}</option>
                            {% endfor %}
						</select>
                </div>
            {% else %}
		<input type="hidden" name="cat_id">
	    {% endif %}
	    <div class="form-group">
		    <label class="control-label" for="name">Avatar</label>
		    <div class="input-group">
		    	<input class="form-control" type="text" id="avatar" name="avatar" placeholder="http://" value="{{ perso['avatar'] }}">
		    	<span class="input-group-btn"><a href="#uploaderModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a></span>
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="description">Votre description public</label>
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="publicDescription" name="publicDescription"
		    	 placeholder="Votre description public (visible par tous)" rows="10">{{ perso['publicDescription'] }}</textarea>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="description">Votre description privée</label>
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="privateDescription" name="privateDescription"
		    	 placeholder="Votre description privée (visible par vous et le MJ)" rows="10">{{ perso['privateDescription'] }}</textarea>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="description">Information technique</label>
		    	<textarea input class="input-xxlarge wysiwyg"
                    type="text" id="technical"
                    name="technical"
		    	          placeholder="Votre personnage selon les règles"
                    rows="10">{{ perso['technical'] }}</textarea>
	    </div>
		<div class="form-group" id='zoneFicheCustomControl'>
			<label class="control-label" for="template">Fiche de personnage</label>
				<div class="ui-layout-center" id='zoneFicheCustom'>
					{% autoescape false %}{{ perso.template_html }}{% endautoescape %}
					{% autoescape false %}{{ perso.template_fields }}{% endautoescape %}
					{% autoescape false %}{{ perso.perso_fields }}{% endautoescape %}
				</div>
	    {% if is_mj and perso.user_id is null%}
		   	<div class="form-group">
			    <label class="control-label" for="statut">Visibilité dans la gallerie</label>
			    <br>
			    <label class="radio-inline"><input type="radio" name="statut" value="0" {% if perso.statut == 0 %} checked {% endif %}> Visible</label>
				<label class="radio-inline"><input type="radio" name="statut" value="2" {% if perso.statut == 2 %} checked {% endif %}> Non-Visible</label>

		    </div>
		{% else %}
			<input type="hidden" name="statut" value="{{ perso.statut }}">
	    {% endif %}

	    <div class="form-group">
			    <button type="submit" class="btn btn-primary" id='saveBtn'>Sauvegarder</button>
	    </div>
		<input type="hidden" id='hiddenInputFields' name='hiddenInputFields' value=''/>
    </form>

{% endblock %}
