{% extends "squelette_campagne.html.twig" %}

{% block content %}

<script type='text/javascript'>
  $(function() {

    initFDP($('#zoneFicheCustom'),false);

    $('#zoneFicheCustom .editable').editable('toggleDisabled');

    $('.ui-resizable-handle').remove();
  });


</script>

<style type='text/css'>

  .ui-layout-center {
    position: relative;
  }

  .JDRollDroppedUserControl {
    z-index:1000;
  }

  .JDRollUserControl {
    display: inline-block;
  }

  #FakeTD
  {
    background-color: #f9f9f9;

  }
  #FakeTD:hover
  {
    background-color: #f5f5f5;

  }



</style>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="2" style="text-align: right">
        {% if is_mj %}
        <a href="{{ path('perso_edit', {campagne_id: campagne_id, perso_id: perso.id}) }}" class="btn btn-primary iconeBtn sidebarBtn" title="Editer"><i class="icon-edit"></i></a>
          {% if perso.user_id is null %}
            <a href="{{ path('attach', {campagne_id: campagne_id, perso_id: perso.id}) }}" class="btn btn-danger iconeBtn sidebarBtn" title="Transférer"><i class="icon-share-alt"></i></a>
            <a href="{{ path('perso_pnj_del', {campagne_id: campagne_id, perso_id: perso.id}) }}" class="btn btn-danger iconeBtn sidebarBtn" title="Supprimer le personnage"><i class="icon-remove-sign"></i></a>
          {% else %}
             <a href="{{ path('dettach', {campagne_id: campagne_id, perso_id: perso.id}) }}" class="btn btn-danger iconeBtn sidebarBtn" title="Repasser en PNJ"><i class="icon-share-alt"></i></a>
          {% endif %}
        {% else %}
        <a href="{{ path('perso_edit', {campagne_id: campagne_id, perso_id: perso.id}) }}" class="btn btn-primary iconeBtn sidebarBtn" title="Editer"><i class="icon-edit"></i> Editer</a>
        {% endif %}

      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Concept</td>
      <td>{{ perso.concept }}</td>
    </tr>
    <tr>
      <td>Avatar</td>
      <td><img src="{{ perso.avatar }}" width="150px" /></td>
    </tr>

    <tr>
      <td colspan="2">
        <a data-toggle="collapse" data-target="#public" class="collapserLink">
          <i class="icon-chevron-sign-up"></i>
          Description publique
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="topics collapse out" id="public">
        {% autoescape false %}{{ perso.publicDescription }}{% endautoescape %}
        </div>
      </td>
    </tr>

    <tr>
      <td  colspan="2">
        <a data-toggle="collapse" data-target="#private" class="collapserLink">
          <i class="icon-chevron-sign-up"></i>
          Description privée
        </a>
      </td>
    </tr>
    <tr>
      <td  colspan="2">
        <div class="topics collapse out" id="private">
        {% autoescape false %}{{ perso.privateDescription }}{% endautoescape %}
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <a data-toggle="collapse" data-target="#technical" class="collapserLink">
          {% if perso.template_html is not empty %}
            <i class="icon-chevron-sign-up"></i>
          {% else %}
            <i class="icon-chevron-sign-down"></i>
          {% endif %}
          Description technique
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        {% if perso.template_html is not empty %}
          <div class="topics collapse out" id="technical">
        {% else %}
          <div class="topics collapse in" id="technical">
        {% endif %}
        {% autoescape false %}{{ perso.technical }}{% endautoescape %}
        </div>
      </td>
    </tr>


          <tr {% if perso.widgets is empty %} style="display:none" {% endif %}>
            <td colspan="2">
              <a data-toggle="collapse" data-target="#widgets" class="collapserLink">
                  <i class="icon-chevron-sign-down"></i>
                Information rapide
              </a>
            </td>
          </tr>
          <tr {% if perso.widgets is empty %} style="display:none" {% endif %}>
            <td colspan="2">
                <div class="topics collapse in" id="widgets">
                    {% for widget in perso.widgets %}
                        {% include('composant/perso_widget.html.twig') %}
                    {% endfor %}
                    </table>
                </div>
            </td>
          </tr>

    {% if perso.template_html is not empty %}
    <tr>
      <td colspan="2">
        <a data-toggle="collapse" data-target="#sheet" class="collapserLink">
          <i class="icon-chevron-sign-down"></i>
          Feuille de personnages
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="topics collapse in" id="sheet">
          <div class="form-horizontal" id="FakeTD">
            <div id='zoneFiche'>
              <div>
                <div class="ui-layout-center" id='zoneFicheCustom'>
                  {% autoescape false %}{{ perso.template_html }}{% endautoescape %}
                  {% autoescape false %}{{ perso.template_fields }}{% endautoescape %}
                  {% autoescape false %}{{ perso.perso_fields }}{% endautoescape %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <p> &nbsp; </p>
      </td>
    </tr>
    {% endif %}

  </tbody>
</table>



{% endblock %}
