<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 sidebar maxheight">

    <div id="tabs-panel">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#campagne" data-toggle="tab"><i class="icon-bookmark"></i> Campagne</a></li>
            <li><a href="#general" data-toggle="tab"><i class="icon-globe"></i> Général</a></li>
        </ul>
    </div>

    <div class="tab-content">

        <div class="tab-pane active" id="campagne">

            <div align="center">
                <h5>{{ campagne.name }}</h5>
            </div>
            {% if not is_mj and perso|length == 1 %}
            <div align="center">
                <img src="{{ perso[0].avatar }}"  width="60%" style="max-width: 130px" class="img-rounded" />
            </div>
            {% endif %}
            <p/>

            <div id="widgets-panel">
                <div align="center">
                    <div class="btn-group btn-group-sm">
                        {% set pull_mode = "pull-right" %}
                        <a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn btn-default iconeBtn sidebarBtn quickLink1" title="Forum"><i class=icon-folder-close></i></a>
                        {% if is_mj or perso|length > 0 %}
                        <a class="btn btn-default iconeBtn sidebarBtn"
                           onClick="alarm({{app.session.get('user')['id']}}, {{campagne.id}})"
                           title="Mettre une alerte">
                            <i class="alarm-pj icon-bell-alt {% if alert %}alarm-on{% endif %}"></i>
                        </a>
                        {% endif %}

                        {% if is_mj or perso|length > 0 %}
                        <a href="#dicerModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Lanceur de dés"><i class="icon-cogs"></i></a>
                        <a class="btn btn-default iconeBtn sidebarBtn blocnote-btn" title="Bloc-Notes"><i class="icon-book"></i></a>
                        {% endif %}
                        {% if not is_mj %}
                        {% include("composant/perso_btm.html.twig") %}
                        {% else %}
                        <a href="{{ path('perso_pnj', {campagne_id: campagne_id}) }}" class="btn btn-default iconeBtn sidebarBtn" title="Gallerie des PNJ"><i class="icon-group"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <p/>

            {% include("composant/campagne_accordion.html.twig") %}
        </div>

        <div class="tab-pane" id="general">

            <p/>
            <div align="center">
                <img src="{{ app.session.get('user')['avatar'] }}" width="130px" class="img-rounded" />
            </div>
            <p/>

            <div id="widgets-panel">

                <div align="center">
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn btn-default iconeBtn quickLink1"><i class="icon-bookmark"></i></a>
                        {{ include("button/forum_btm.html.twig") }}
                        <a href="{{ path('messagerie') }}" title="Messagerie" class="btn btn-default iconeBtn quickLink3"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <p/>

                {{ include("composant/sidebar_list_partie_std.html.twig") }}

            </div>
        </div>
    </div>
