	<div class="col-xs-12 col-sm-12 visible-xs visible-sm sidebarTop">
		<div align="center">
			<h5>{{ campagne.name }}</h5>
		</div>
	    <div class="row">
	    	<div class="col-md-4">
				{% if perso|length == 1 %}
	    		<div align="center">
    				<img src="{{ perso[0].avatar }}" width="130px" class="img-rounded" />
    			</div><p/>
    			{% endif %}
    			    <div align="center">
	    			    <div class="btn-group">
	    			    	{% set pull_mode = "" %}
					        {% include("composant/my_campagne_btm.html.twig") %}
							<a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn btn-default iconeBtn sidebarBtn quickLink1" title="Forum"><i class="icon-folder-close"></i></a>
							{% include("composant/perso_btm.html.twig") %}
					    	{% if perso|length > 0 %}
								<a href="#dicerModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Lanceur de dés"><i class="icon-cogs"></i></a>
	                            <a href="#notesModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Bloc-Notes"><i class="icon-book"></i></a>
	                            <a class="btn btn-default iconeBtn sidebarBtn" onClick="alarm({{app.session.get('user')['id']}}, {{campagne.id}})"
	                                title="Mettre une alerte">
	                                <i class="alarm-pj icon-bell-alt {% if alert %}alarm-on{% endif %}"></i>
	                            </a>
							{% endif %}
						</div>
				    </div><p/>
	    	</div>

	    	<div class="col-md-4">
				<ul class="nav nav-stacked">
					<li><b>Personnages</b></li>
					{% for perso in allPerso %}
							<li><a onClick="persoModalService.openPerso({{campagne_id}}, {{perso.id}})">{{ perso.name }} ({{ perso.username }})</a></li>
					{% endfor %}
				</ul>
			</div>

            <div class="col-md-4">
                <ul class="nav nav-stacked">
                    <li><b>Cartes</b></li>
                    {% for carte in allCarte %}
                        <li>
                            <a href="{{ path('ng_app', {campagne_id:campagne_id}) }}#/carte/{{ carte.id }}">
                                <img class="thumb_avatar" src="{{ path('homepage') }}files/thumbnails/carte_{{ carte.id }}.png"/>
                                {{ carte.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

			<div class="col-md-4">
				<div class="page-header" style="padding-left: 1.3em; padding-right: 1.3em;">
				  <h5>Informations campagnes</h5>
				</div>
				{% if config.sidebar_text != "" %}
					{% autoescape false %}
						{{ config.sidebar_text }}
					{% endautoescape %}
				{% endif %}
			</div>
	    </div>
	</div>



	<div class="col-md-3 col-lg-2 sidebar hidden-xs hidden-sm maxheight">

	<div id="tabs-panel">
	    <ul class="nav nav-tabs nav-justified">
	      	<li class="active"><a href="#campagne" data-toggle="tab"><i class="icon-bookmark"></i> Campagne</a></li>
	  	 	<li><a href="#general" data-toggle="tab"><i class="icon-globe"></i> Général</a></li>
	    </ul>
	</div>

	<div class="tab-content">

		<div class="tab-pane active" id="campagne">

			<div align="center">
				<h5>{{ campagne.name }}</h5>
			</div>
			{% if perso|length == 1 %}
			    <div align="center">
		    		<img src="{{ perso[0].avatar }}"  width="60%" style="max-width: 130px" class="img-rounded" />
		        </div>
	        {% endif %}
	        <p/>

			<div id="widgets-panel">
		        <div align="center">
		            <div class="btn-group btn-group-sm">
			            <a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn btn-default iconeBtn sidebarBtn quickLink1" title="Forum"><i class=icon-folder-close></i></a>
			            {% if perso|length > 0 %}
				            <a class="btn btn-default iconeBtn sidebarBtn"
				            	onClick="alarm({{app.session.get('user')['id']}}, {{campagne.id}})"
				                title="Mettre une alerte">
				                    <i class="alarm-pj icon-bell-alt {% if alert %}alarm-on{% endif %}"></i>
				            </a>
			            {% endif %}
			            {% if perso|length > 0 %}
				            <a href="#dicerModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Lanceur de dés"><i class="icon-cogs"></i></a>
				            <a href="#notesModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Bloc-Notes"><i class="icon-book"></i></a>
			            {% endif %}
			            {% set pull_mode = "pull-right" %}
			            {% include("composant/perso_btm.html.twig") %}
					</div>
	          	</div>
	        </div>
	        <p/>

			{% include("composant/campagne_accordion.html.twig") %}
		</div>

		<div class="tab-pane" id="general">

	      <p/>
		  <div align="center">
		 	<img src="{{ app.session.get('user')['avatar'] }}" width="130px" class="img-rounded" />
		  </div>
		  <p/>

	      <div id="widgets-panel">

	        <div align="center">
	            <div class="btn-group btn-group-sm">
	            	<a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn btn-default iconeBtn quickLink1"><i class="icon-bookmark"></i></a>
					{{ include("button/forum_btm.html.twig") }}
		            <a href="{{ path('messagerie') }}" title="Messagerie" class="btn btn-default iconeBtn quickLink3"><i class="icon-envelope"></i></a>
	            </div>
	        </div>
	        <p/>

	        {{ include("composant/sidebar_list_partie_std.html.twig") }}

		</div>
	</div>
</div>
