<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 sidebar maxheight">

	{% if (app.session.get('user') == null)  %}
	<form role="form" class="" action="{{ path('login_connect')  }}" method="POST">
	    <div class="form-group">
		    	<input class="form-control" type="text" id="login" name="login" placeholder="Nom d'utilisateur">
	    </div>
	    <div class="form-group">
		    	<input class="form-control" type="password" id="pass" name="pass" placeholder="Mot de passe">
		    	<input type="hidden" name="url" value="!" />
	    </div>
	    <div class="form-group">
          <center>
              Se souvenir
          </center>
		    <input class="form-control" type="checkbox" id="remember" name="remember" value="true">
	    </div>
	    <div class="form-group">
			    <button type="submit" class="btn btn-primary">Se connecter</button>
			    <a href="{{ path('subscribe') }}" class="btn btn-default">S'inscrire</a>
	    </div>
		<div align="center">
    		<a href="{{path('reset')}}">J'ai oublié mon mot de passe</a>
    	</div>
    </form>

    {% else %}
    	<div align="center">
    		<img src="{{ app.session.get('user')['avatar'] }}" width="130px" class="img-rounded" />
    	</div>
        <p/>

      <div id="widgets-panel">
            <div class="panel panel-default">
                <ul class="list-group list-group-condensed">
                    <li class="list-group-item">
                        <a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn btn-link iconeBtn"><i class="icon-bookmark"></i> Mes Campagnes</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('forum') }}" title="Forum" class="btn btn-link iconeBtn"><i class="icon-folder-open" ></i> Forum</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('messagerie') }}" title="Messagerie" class="btn btn-link iconeBtn"><i class="icon-envelope"></i> Messagerie</a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-link iconeBtn blocnote-btn" title="Bloc-Notes">
                            <i class="icon-book"></i> Bloc-Notes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p/>

        {{ include("composant/sidebar_list_partie_std.html.twig") }}

	{% endif %}
</div>
