{% if (app.session.get('user') != null)  %}
	<div class="col-xs-12 col-sm-12 visible-xs visible-sm sidebarTop">
	    <div class="row">
	    	<div class="col-md-3">
	    		<div align="center">
    				<img src="{{ app.session.get('user')['avatar'] }}" width="130px" style="max-width: 130px" class="img-rounded" />
    			</div><p/>
    			<div align="center">
    				<div class="btn-group">
						<a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn btn-default iconeBtn quickLink1"><i class="icon-bookmark"></i></a>
						{{ include("button/forum_btm.html.twig") }}
			            <a href="{{ path('messagerie') }}" title="Messagerie" class="btn btn-default iconeBtn quickLink3"><i class="icon-envelope"></i></a>
			            <a href="#notesModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Bloc-Notes"><i class="icon-book"></i></a>
		            </div>
			    </div><p/>
	    	</div>
	    	<div class="col-md-2">


          <ul class="nav nav-pills nav-stacked">
					<li class='nav-header'><b>Partie en préparation</b></li>
					{% for campagne in prepa_campagnes %}
						<li><a
                            href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                            {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                            >
                                {% if campagne.activity > 0 %}
                                    <i class="icon-asterisk"></i>
                                {% endif %}
                                {{campagne.name}}
                            </a>
                        </li>
					{% endfor %}
				</ul>
			</div>
	    	<div class="col-md-2">


          <ul class="nav nav-pills nav-stacked">
					<li class='nav-header'><b>Partie active (MJ)</b></li>
					{% for campagne in active_campagnes %}
						<li><a
                            href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                            {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                            >
                                {% if campagne.activity > 0 %}
                                    <i class="icon-asterisk"></i>
                                {% endif %}
                                {{campagne.name}}
                            </a>
                        </li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li class='nav-header'><b>Partie active (PJ)</b></li>
					{% for campagne in active_pj_campagnes %}
						<li><a
                            href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                            {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                            >
                                {% if campagne.activity > 0 %}
                                    <i class="icon-asterisk"></i>
                                {% endif %}
                                {{campagne.name}}
                            </a>
                        </li>
					{% endfor %}
				</ul>
	    	</div>
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li class='nav-header'><b>Partie favorites</b></li>
					{% for campagne in favorised_campagne %}
						<li><a
                            href="{{ path('forum_campagne', {campagne_id: campagne.id}) }}"
                            {% if campagne.campagne_alert > 0 %} class="campagne_alert" {% endif %}
                            >
                                {% if campagne.activity > 0 %}
                                    <i class="icon-asterisk"></i>
                                {% endif %}
                                {{campagne.name}}
                            </a>
                        </li>
					{% endfor %}
				</ul>
	    	</div>
	    </div>
	</div>
{% endif %}

<div class="col-md-3 col-lg-2 hidden-xs hidden-sm sidebar maxheight">

	{% if (app.session.get('user') == null)  %}
	<form role="form" class="" action="{{ path('login_connect')  }}" method="POST">
	    <div class="form-group">
		    	<input class="form-control" type="text" id="login" name="login" placeholder="Nom d'utilisateur">
	    </div>
	    <div class="form-group">
		    	<input class="form-control" type="password" id="pass" name="pass" placeholder="Mot de passe">
		    	<input type="hidden" name="url" value="!" />
	    </div>
	    <div class="form-group">
			    <button type="submit" class="btn btn-primary">Se connecter</button>
			    <a href="{{ path('subscribe') }}" class="btn btn-default">S'inscrire</a>
	    </div>
		<div align="center">
    		<a href="{{path('reset')}}">J'ai oublié mon mot de passe</a>
    	</div>
    </form>

    {% else %}
    	<div align="center">
    		<img src="{{ app.session.get('user')['avatar'] }}" width="130px" class="img-rounded" />
    	</div>
        <p/>

      <div id="widgets-panel">

          <div align="center">
            <div class="btn-group btn-group-sm">
            	<a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn btn-default iconeBtn quickLink1"><i class="icon-bookmark"></i></a>
				{{ include("button/forum_btm.html.twig") }}
	            <a href="{{ path('messagerie') }}" title="Messagerie" class="btn btn-default iconeBtn quickLink3"><i class="icon-envelope"></i></a>
	            <a id="blocnote-btn" class="btn btn-default iconeBtn sidebarBtn" title="Bloc-Notes"><i class="icon-book"></i></a>
            </div>
          </div>
          <p/>

        {{ include("composant/sidebar_list_partie_std.html.twig") }}

	{% endif %}
</div>
