<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 sidebar maxheight">

    <div id="tabs-panel">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#campagne" data-toggle="tab"><i class="icon-bookmark"></i> Campagne</a></li>
            <li><a href="#general" data-toggle="tab"><i class="icon-globe"></i> Général</a></li>
        </ul>
    </div>

    <div class="tab-content">

        <div class="tab-pane active" id="campagne">

            <div align="center">
                <h5>{{ campagne.name }}</h5>
            </div>
            {% if not is_mj and perso|length == 1 %}
            <div align="center">
                <img src="{{ perso[0].avatar }}"  width="60%" style="max-width: 130px" class="img-rounded" />
            </div>
            {% endif %}
            <p/>

            <div id="widgets-panel">
                <div class="panel panel-default">
                    <ul class="list-group list-group-condensed">
                        <li class="list-group-item">
                            <a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}" class="btn btn-link iconeBtn" title="Forum">
                                <i class="icon-folder-close"></i> Forum
                            </a>
                        </li>
                        {% if (not is_mj and perso|length == 0) or is_favoris %}
                            <li class="list-group-item">
                                {% if is_favoris %}
                                    <a title="Suivre la partie" id="favorised" class="btn btn-link iconeBtn" data-campagne-id="{{campagne_id}}"><i class="icon-eye-close"></i> Ne plus observer</a>
                                {% else %}
                                    <a title="Suivre la partie" id="favorised" class="btn btn-link iconeBtn notFavorised" data-campagne-id="{{campagne_id}}"><i class="icon-eye-open"></i> Observer la partie</a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if is_mj or perso|length > 0 %}
                            <li class="list-group-item">
                                <a class="btn btn-link iconeBtn" onClick="alarm({{app.session.get('user')['id']}}, {{campagne.id}})" title="Mettre une alerte">
                                    <i class="alarm-pj icon-alarm icon-bell-alt {% if alert %}alarm-on{% endif %}"></i> Mettre en alerte
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#dicerModal" role="button" data-toggle="modal" class="btn btn-link iconeBtn" title="Lanceur de dés">
                                    <i class="icon-cogs"></i> Lanceur de dés
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn btn-link iconeBtn blocnote-btn" title="Bloc-Notes">
                                    <i class="icon-book"></i> Bloc-Notes
                                </a>
                            </li>
                        {% endif %}
                        {% if not is_mj and perso|length == 1%}
                            <li class="list-group-item">
                                <a class="btn btn-link iconeBtn"" href="{{ path('perso_view_all', {campagne_id: campagne_id}) }}">
                                    <i class="icon-user"></i> Mon personnage
                                </a>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <a href="{{ path('perso_pnj', {campagne_id: campagne_id}) }}" class="btn btn-link iconeBtn" title="Galerie des PNJ">
                                <i class="icon-group"></i> Galerie de Perso
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p/>

            {% include("composant/campagne_accordion.html.twig") %}
        </div>

        <div class="tab-pane" id="general">

            <p/>
            <div align="center">
                <img src="{{ app.session.get('user')['avatar'] }}" width="130px" class="img-rounded" />
            </div>
            <p/>

            <div id="widgets-panel">
                <div class="panel panel-default">
                    <ul class="list-group list-group-condensed">
                        <li class="list-group-item">
                            <a href="{{ path('campagne_my_list') }}" title="Mes Campagnes" class="btn btn-link iconeBtn"><i class="icon-bookmark"></i> Mes Campagnes</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('forum') }}" title="Forum" class="btn btn-link iconeBtn"><i class="icon-folder-open" ></i> Forum</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('messagerie') }}" title="Messagerie" class="btn btn-link iconeBtn"><i class="icon-envelope"></i> Messagerie</a>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-link iconeBtn blocnote-btn" title="Bloc-Notes">
                                <i class="icon-book"></i> Bloc-Notes
                            </a>
                        </li>
                    </ul>
                </div>
                <p/>

                {{ include("composant/sidebar_list_partie_std.html.twig") }}

            </div>
        </div>
    </div>
