<!DOCTYPE html>
<html lang="fr">
<head>
	<title>jdRoll - Jeu de Rôle par Forum</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plate-forme de jeu de rôle par forum">
    <meta name="keywords" content="PBF, jdr, forum, jeu de rôle">

  	<link rel="shortcut icon" type="image/x-icon" href="{{app.request.baseUrl}}/favicon.ico">

	  <link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all">
	  <link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" media="all">
	  <link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/components-font-awesome/css/font-awesome.min.css">

  {% if app.debug %}
    <link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/bootstrap-colorpicker/css/colorpicker.css" type="text/css" media="all">
  	<link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/select2/select2.css">
    <link rel="stylesheet" href="{{app.request.baseUrl}}/css/bootstrap/bootstrap-fileupload.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{app.request.baseUrl}}/css/datepicker.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{app.request.baseUrl}}/css/bootstrap/bootstrap-editable.css">
    <link rel="stylesheet" href="{{app.request.baseUrl}}/css/main.css" type="text/css" media="all">
  {% else %}
    <link rel="stylesheet" href="{{app.request.baseUrl}}/css/theme.min.css?v=20141115_001" type="text/css" media="all">
  {% endif %}

	<script type="text/javascript">
		var CAMPAGNE_ID=0;
		var BASE_PATH = '{{app.request.baseUrl}}';
		var AUTHENTICATED = "{{app.session.get('user') != null}}";
		{% if app.session.get('user') != null %}
			var USERNAME = "{{ app.session.get('user')['login'] }}'";
		{% else %}
			var USERNAME = "";
		{% endif %}
	</script>

	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/jquery/dist/jquery.min.js"> </script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/jquery-form/jquery.form.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/jquery-ui/jquery-ui.min.js"></script>

    <!--[if lt IE 9]>
    	<script type="text/javascript" src="{{app.request.baseUrl}}/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <![endif]-->

	{% block specificHeader %}

	{% endblock %}

</head>
<body>


  {{ render(url('menu')) }}

  <a name="top"></a>
   <div class="container-fluid" id="main">

	    <div class="row">
	    	<div class="col-sm-12 col-xs-12 col-md-9 col-lg-10" id="contentDiv">

          		{% block precontent %}
          		{% endblock %}

         	 	<p></p>

	    		{% block content %}
				    Content of the page...
				{% endblock %}

	    	</div>

	    	{% block sidebar_large %}
                {{ render(url('sidebar_std_large')) }}
            {% endblock %}

	    </div>
	</div>

	{% block notes %}
		{% if app.session.get('user') != null %}
			{{ render(url("notes_popup", {campagne_id : 0}) ) }}
		{% endif %}
	{% endblock %}

	{% block specificJs %}

	{% endblock %}

    <a name="bottom"></a>

   	{% if app.session.get('user') != null %}
	{% endif %}
    {% include('uploader.html.twig') %}
    {% include('feedback_popup.html.twig') %}

  {% if (app.session.get('user') != null)  %}
    <div id="notificationCenter">
        {{ render(url('notifications')) }}
    </div>
  {% endif %}




	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/tinymce-release/tinymce.min.js"></script>
  <!--[if lt IE 9]>
    <script type="text/javascript" src="{{app.request.baseUrl}}/vendor/es5-shim/es5-shim.min.js"> </script>
    <script type="text/javascript" src="{{app.request.baseUrl}}/vendor/es5-shim/es5-sham.min.js"> </script>
  <![endif]-->


	<!-- UI Component -->
	{% if app.debug %}
		<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/bootbox/bootbox.js"> </script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"> </script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/select2/select2.min.js"> </script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/zeroclipboard/ZeroClipboard.min.js"> </script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/bootstrap/bootstrap-fileupload.min.js"> </script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/bootstrap/bootstrap-datepicker.js"> </script>
	{% else %}
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/composant.min.js?v=20141114_001"> </script>
	{% endif %}


	<!-- Application specific controller -->
	{% if app.debug %}
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/tinymce_conf.js?v=20141004_001"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/onload.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/notification.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/chat.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/draft.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/campagne.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/ui.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/campagne_modal.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/dicer.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/persoPopup.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/theme-preview.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/campagne-config.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller/feedback.js"></script>
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/tools.js"></script>
    <script type="text/javascript" src="{{app.request.baseUrl}}/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="{{app.request.baseUrl}}/vendor/angular-sanitize/angular-sanitize.js"></script>
	{% else %}
		<script type="text/javascript" src="{{app.request.baseUrl}}/js/controller.min.js?v=20141114_001"></script>
    <script type="text/javascript" src="{{app.request.baseUrl}}/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{app.request.baseUrl}}/vendor/angular-sanitize/angular-sanitize.min.js"></script>
	{% endif %}


	<script type="text/javascript" src="{{app.request.baseUrl}}/js/JDRollBootstrap-editable.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/JDRollFDP.js"></script>
	<script type="text/javascript" src="{{app.request.baseUrl}}/js/JDRollEditableSelect.js"></script>


    {% block specificEndJs %}

    {% endblock %}

	<!-- Graph component -->
  <script type="text/javascript" src="{{app.request.baseUrl}}/js/flot.min.js"></script>

<script type="text/javascript">


		$(document).ready(function() {
			onLoadController.onLoadGenerals();
		});

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-41202193-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
</body>
</html>
