{% extends "squelette.html.twig" %}

{% block precontent %}
<div align="center" width="60%" class="logo_campagne"></div>
{% endblock %}

{% block content %}

	{% if (msg != "") %}
	    <div class="alert alert-error">
	    	{{ msg }}
	    </div>
    {% endif %}

{% endblock %}


{% block specificHeader %}
	{% if campagne_id != 0 %}
		{{ render(url("campagne_config", {id : campagne_id}) ) }}
	{% endif %}
	 <script type="text/javascript">
	   CAMPAGNE_ID = {{campagne_id}};
	 </script>
{% endblock %}

{% block sidebar_large %}
	{% if campagne_id == 0 %}
		{{ render(url('sidebar_std_large')) }}
	{% else %}
		{% if is_mj %}
	   		{{ render(url('sidebar_campagne_mj_large', {campagne_id : campagne_id})) }}
		{% else %}
	   		{{ render(url('sidebar_campagne_large', {campagne_id : campagne_id})) }}
	    {% endif %}
	{% endif %}
{% endblock %}

{% block notes %}
	{% if app.session.get('user') != null %}
		{% if campagne_id != 0 %}
		    {{ render(url("notes_popup", {campagne_id : campagne_id}) ) }}
		{% else %}
			{{ render(url("notes_popup", {campagne_id : 0}) ) }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block specificJs %}

	{{render(url("list_perso_js", {campagne_id: campagne_id} )) }}

	{% if campagne_id != 0 %}
		{{ render(url("print_dicer", {campagne_id : campagne_id}) ) }}
         {% include("composant/dicerHelp.html.twig") %}
         {% include("composant/help/theming.html.twig") %}
	       {{ render(url("notes_popup", {campagne_id : campagne_id}) ) }}
         {% include("gen_perso_popup.html.twig") %}
		{% if not is_mj %}
			{{ render(url("perso_popup", {campagne_id : campagne_id}) ) }}
		{% endif %}
	{% endif %}

    <script type="text/javascript">

    	$(document).ready(function() {
		 	onLoadController.onLoadCampagnes();
		});


    </script>
{% endblock %}
