{% extends "squelette.html.twig" %}

{% block precontent %}
<div align="center" width="60%" class="logo_campagne"></div>
{% endblock %}

{% block content %}

	{% if (msg != "") %}
	    <div class="alert alert-error">
	    	{{ msg }}
	    </div>
    {% endif %}

{% endblock %}


{% block specificHeader %}
	{% if campagne_id != 0 %}
		{{ render(url("campagne_config", {id : campagne_id}) ) }}
	{% endif %}
	 <script type="text/javascript">
	   var CAMPAGNE_ID = {{campagne_id}};
	 </script>
{% endblock %}

{% block sidebar_large %}
	{% if campagne_id == 0 %}
		{{ render(url('sidebar_std_large')) }}
	{% else %}
		{% if is_mj %}
	   		{{ render(url('sidebar_campagne_mj_large', {campagne_id : campagne_id})) }}
		{% else %}
	   		{{ render(url('sidebar_campagne_large', {campagne_id : campagne_id})) }}
	    {% endif %}
	{% endif %}
{% endblock %}

{% block specificJs %}

	{{render(url("list_perso_js", {campagne_id: campagne_id} )) }}

	{% if campagne_id != 0 %}
		{{ render(url("print_dicer", {campagne_id : campagne_id}) ) }}
                {% include("composant/dicerHelp.html.twig") %}
                {% include("composant/help/theming.html.twig") %}
        {{ render(url("notes_popup", {campagne_id : campagne_id}) ) }}
		{% if not is_mj %}
			{{ render(url("perso_popup", {campagne_id : campagne_id}) ) }}
		{% endif %}
	{% endif %}

    <script type="text/javascript">

    	$(document).ready(function() {
		 	onLoadController.onLoadCampagnes();
		});


		$(function(){
			
			$("#persoModal" ).css('display','none');

			if($(window).width() > 992) {
				$("#persoModal" ).dialog({
					height: 'auto',
					maxHeight: $(window).height() - 100,
					width: 'auto',
					autoOpen: false
				}).removeClass('ui-widget');
			} else {
				$("#persoModal" ).dialog({
					height: 'auto',
					width: 'auto',
					autoOpen: false
				}).removeClass('ui-widget');
			}
			
			$('#myPerso').click(function(e){
				
				if(!$("#persoModal").dialog("isOpen"))
					$("#persoModal").dialog("open");
				
				if($('.ui-dialog-titlebar').has('#SwitchFDP').length == 0)
				{
					if($('#zoneFichepopUp').has('#zoneFicheCustomPopUp').length > 0)
					{
						$('.ui-dialog-titlebar').append('<a href="#!" id="SaveFDP" class="btn iconeBtn sidebarBtn quickLink2 FDPToolBarBtn" title="Sauvegarder" role="button"><span><i class="icon-save"></i></span></a>');
						$('.ui-dialog-titlebar').append('<a href="#!" id="EditFDP" class="btn iconeBtn sidebarBtn quickLink2 FDPToolBarBtn" title="Editer la fiche" role="button"><span><i class="icon-edit"></i></span></a>');
					}
					$('.ui-dialog-titlebar').append('<a id="SwitchFDP" href="{{ path('perso_view_all', {campagne_id: campagne_id}) }}" class="btn iconeBtn sidebarBtn quickLink2 FDPToolBarBtn" title="Personnages" role="button"><span><i class="icon-user"></i></span></a>');
					
					if($('#zoneFichepopUp').has('#zoneFicheCustomPopUp').length > 0)
					{
						$('#EditFDP').click(function(e){
							if($('#SaveFDP').css('display') == 'none')
								$('#SaveFDP').css('display','block');
							else
								$('#SaveFDP').css('display','none');
							
							$('#zoneFichepopUp .editable').each(function(e) {
								
								if($(this).css('color') == 'rgb(0, 136, 204)')
									$(this).css('color','').editable('toggleDisabled');	
								else
									$(this).css('color','#0088cc').editable('toggleDisabled');
								
								if($(this).css('display') == 'none')
								{
									$(this).css('display','');
									$(this).addClass("editable-empty");
								}
								
								if($(this).hasClass("editable-empty"))
								{
									if($('#SaveFDP').css('display') == 'none')
										$(this).css('display','none');
									$(this).css('color','#DD1144');
								}	
							});
							
							$('#SaveFDP').click(function(e){
								var fieldsValue = '';
								$('#zoneFicheCustomPopUp').find('input[id$="hidden"]').each(function(){
									fieldsValue +=$(this)[0].outerHTML;
								});
								$.ajax({
									type: "POST",
									url: "{{ path('save_perso_popup', {"campagne_id" : campagne_id}) }}",
									data: {fields: fieldsValue},
									success: function(msg){},
									error: function(msg) {alert("Echec de sauvegarde de la fiche de personnage !");}
								});
							});
						});
		}
		}
		});

		});

		$(document).ready(function () {
			$('.select2').select2({width: 'element'});
		});
		

    </script>
{% endblock %}
