<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- IMPORTANT: all angular URL will base from this -->
    <base href="{{ path('homepage') }}">

	<title>jdRoll - Jeu de Rôle par Forum</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plate-forme de jeu de rôle par forum">
    <meta name="keywords" content="PBF, jdr, forum, jeu de rôle">

  	<link rel="shortcut icon" type="image/x-icon" href="{{global.request.baseUrl}}/favicon.ico">

	  <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/components-font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/jquery-ui/themes/base/resizable.css">

  {% if app.debug %}
    <link rel="stylesheet" href="{{global.request.baseUrl}}/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" type="text/css" media="all">
  	<link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/select2/dist/css/select2.css">
  	<link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/c3/c3.css">
    <link rel="stylesheet" href="{{global.request.baseUrl}}/css/bootstrap/bootstrap-fileupload.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{global.request.baseUrl}}/css/bootstrap/bootstrap-editable.css">
    <link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/angular-growl-v2/build/angular-growl.min.css" type="text/css" media="all">
  	<link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/angular-ui-select/dist/select.min.css">
  {% else %}
    <link rel="stylesheet" href="{{global.request.baseUrl}}/dist/css/theme.min.css?v=20170714_002" type="text/css" media="all">
  {% endif %}

	<script type="text/javascript">
		var CAMPAGNE_ID=0;
		var BASE_PATH = '{{global.request.baseUrl}}';
		var AUTHENTICATED = "{{app.session.get('user') != null}}";
		var AUTHENTICATED = "{{app.session.get('user') != null}}";
		{% if app.session.get('user') != null %}
			var USERNAME = "{{ app.session.get('user')['login'] }}";
      {% if 'profil' in app.session.get('user')|keys %}
      var ADM = "{{ app.session.get('user')['profil'] > 1}}";
      {% endif %}
		{% else %}
			var USERNAME = "";
		{% endif %}
	</script>

	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/jquery/dist/jquery.min.js"> </script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/jquery-form/jquery.form.js"></script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    	<script type="text/javascript" src="{{global.request.baseUrl}}/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <![endif]-->

	{% block specificHeader %}

	{% endblock %}

</head>
<body>


  {{ render(url('menu')) }}


  <a name="top"></a>
   <div class="container-fluid" id="main">

	    <div class="row">
				{% if (app.session.get('user') != null)  %}
					{{ render(url('notifications_btn_mobile')) }}
				{% endif %}

	    	<div class="col-sm-12 col-xs-12 col-md-9 col-lg-10" id="contentDiv">
							
          		{% block precontent %}
								
          		{% endblock %}

         	 	<p></p>

	    		{% block content %}
				    Content of the page...
					{% endblock %}

	    	</div>

	    	{% block sidebar_large %}
                {{ render(url('sidebar_std_large')) }}
            {% endblock %}

	    </div>
	</div>

	{% block notes %}
		{% if app.session.get('user') != null %}
			{{ render(url("notes_popup", {campagne_id : 0}) ) }}
		{% endif %}
	{% endblock %}

	{% block specificJs %}

	{% endblock %}

    <a name="bottom"></a>

   	{% if app.session.get('user') != null %}
	{% endif %}
    {% include('uploader.html.twig') %}

  {% if (app.session.get('user') != null)  %}
    <div id="notificationCenter">
        {{ render(url('notifications')) }}
    </div>
  {% endif %}




	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/tinymce/tinymce.min.js"></script>
  <!--[if lt IE 9]>
    <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/es5-shim/es5-shim.min.js"> </script>
    <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/es5-shim/es5-sham.min.js"> </script>
  <![endif]-->


	<!-- UI Component -->
	{% if app.debug %}
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootbox/bootbox.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/d3/d3.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/c3/c3.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/c3-angular/c3-angular.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/moment/min/moment-with-locales.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/select2/dist/js/select2.full.min.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/zeroclipboard/ZeroClipboard.min.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/js/bootstrap/bootstrap-fileupload.min.js"> </script>
		<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"> </script>
  <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js"> </script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/underscore/underscore.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-promise-tracker/promise-tracker.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-promise-tracker/promise-tracker-http-interceptor.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-growl-v2/build/angular-growl.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-strap/dist/angular-strap.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-strap/dist/angular-strap.tpl.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-ui-select/dist/select.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-ui-tinymce/src/tinymce.js"></script>
        <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/socket.io-client/socket.io.js"></script>
	{% else %}
    <script type="text/javascript" src="{{global.request.baseUrl}}/dist/js/composant.min.js?v=20170714_001"> </script>
	{% endif %}
  <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/favico.js/favico-0.3.5.min.js"> </script>

	<!-- Application specific controller -->
  <script type="text/javascript" src="{{global.request.baseUrl}}/dist/js/controller.min.js?v=20170714_001"></script>

	<script type="text/javascript" src="{{global.request.baseUrl}}/js/JDRollBootstrap-editable.js"></script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/js/JDRollFDP.js?v=1"></script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/js/JDRollEditableSelect.js"></script>

    {% block specificEndJs %}

    {% endblock %}

<script type="text/javascript">


		$(document).ready(function() {
			onLoadController.onLoadGenerals();
		});

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-41202193-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
</body>
</html>
