{% extends "squelette.html.twig" %}

{% block content %}

<center><h2>Statistiques</h2></center>

	<div class="row">
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Générales</legend>
				<b> Nombre de partie en-cours : </b> {{nb_partie}} <br>
				<b> Nombre de partie en préparation : </b> {{nb_partie_prep}} <br>
				<b> Nombre d'utilisateurs ayant posté : </b> {{nb_user}}<br>
				<b> Nombre de posts : </b> {{nb_post}} <br>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Feedbacks</legend>
				<b> Nombre de retours enregistrés: </b> {{ feedback.total }} <br>
				<b> Nombre de retours encore ouverts : </b> {{feedback.open}} <br>
				<b> Nombre de votes : </b> {{feedback.vote}}<br>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Top 10 des posteurs</legend>
				<ul>
				{% for posteur in top_post %}
				    <li> {{posteur.username}} : {{posteur.cpt}}</li>
				{% endfor %}
				</ul>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Top 10 du Tchat</legend>
				<ul>
				{% for posteur in top_chat %}
				    <li> {{posteur.username}} : {{posteur.cpt}}</li>
				{% endfor %}
				</ul>
			</fieldset>
		</div>
    <div ng-app="jdRoll.stat" class="col-xs-12">
        <h3>Messages au fil du temps, par mois</h3>
        <div jd-stat-by-month></div>
        <h3>Messages par jeux (partie active uniquement)</h3>
        <div jd-stat-by-game></div>
    </div>

	</div>

<p><b>Messages dans les autres parties :</b> {{other}} Messages</p>
<p><b>Messages dans le forum général :</b> {{general}} Messages</p>

{% endblock %}
