{% extends "squelette.html.twig" %}

{% block content %}

<center><h2>Statistiques</h2></center>

	<div class="row">
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Générales</legend>
				<b> Nombre de partie en-cours : </b> {{nb_partie}} <br>
				<b> Nombre de partie en préparation : </b> {{nb_partie_prep}} <br>
				<b> Nombre d'utilisateurs ayant posté : </b> {{nb_user}}<br>
				<b> Nombre de posts : </b> {{nb_post}} <br>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Feedbacks</legend>
				<b> Nombre de retours enregistrés: </b> {{ feedback.total }} <br>
				<b> Nombre de retours encore ouverts : </b> {{feedback.open}} <br>
				<b> Nombre de votes : </b> {{feedback.vote}}<br>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Top 10 des posteurs</legend>
				<ul>
				{% for posteur in top_post %}
				    <li> {{posteur.username}} : {{posteur.cpt}}</li>
				{% endfor %}
				</ul>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset class="titled-box">
				<legend>Top 10 du Tchat</legend>
				<ul>
				{% for posteur in top_chat %}
				    <li> {{posteur.username}} : {{posteur.cpt}}</li>
				{% endfor %}
				</ul>
			</fieldset>
		</div>
		<div class="col-xs-12">
			<h3>Messages au fil du temps, par mois</h3>
			<div id="placeholder" class="col-md-10 col-md-offset-1" style="height: 400px;"></div>
		</div>

	</div>

<script>


$(function () {

    /**
    * General Graph
    */
    function gd(year, month, day) {
        return new Date(year, month - 1, day).getTime();
    }

    var data = [
    {% for line in stat_post %}
        [ gd({{line.dat}}),{{line.cpt}}],
    {% endfor %}
    ];

    $.plot($("#placeholder"),
        [{
            label: "Messages",
            color: "#0062E3",
            points: { fillColor: "#0062E3", show: true },
            lines: { show: true },
            data: data
        }],
        {
            xaxis: {
                mode: "time",
                timeformat: "%m/%y",
                tickSize: [1, "month"]
            },
            grid: { hoverable: true },
            series: {
                shadowSize: 5
            }
        }
    );


    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }


    var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = new Date(item.datapoint[0] * 1),
                    y = item.datapoint[1];

                var month = x.getMonth() + 1;
                var year = x.getFullYear();
                var fulldate = month + "/" + year;

                showTooltip(item.pageX, item.pageY,
                            item.series.label + " : " + y + " le " +
                            fulldate);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }

    });

});
</script>


{% endblock %}
