{% extends "squelette.html.twig" %}

{% block content %}

    <div align="right">
	    <form role="form" class="form-search">
	    	<input type="text" id="searchText" onkeyup="filterTable('#searchText','#userTable')"  class="input-medium search-query">
	    </form>
    </div>
    <table class="table table-striped table-hover" id="userTable">
		<thead>
			<tr>
				<th><input type="hidden" class="filterIndex" value="HEADER">Avatar</th>
				<th>Nom</th>
				<th>Date d'inscription</th>
				<th>Date de dernière activité</th>
				{% if isAdmin %}
				<th></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td><input type="hidden" class="filterIndex" value="{{ user.username }}{{ user.description }}">
                                    <a href="{{ path('profile', {username : user.username}) }}">
                                        <img src="{{ user.avatar }}" style="max-width: 80px" />
                                    </a></td>
                                    <td><a href="{{ path('profile', {username : user.username}) }}"  class="profil{{user.profil}}">{{ user.username }}</a></td>
				<td>{{ user.subscribe_date|date("d/m/y") }}</td>
				<td>{{ user.last_activity|date("d/m/y H:i") }}</td>
				{% if isAdmin %}
				<td><a href="{{ path('profile_edit', {'username' : user.username}) }}" class="btn btn-primary"><i class="icon-edit"></i> Editer</a></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
