<div class="row" style="margin-top: 1em; margin-bottom: 0.5em;">
			<div class="col-md-9 chatbox">
				<h5 class="categorie">Tchat</h5>
		        <div id="text" style="{% if tchatfull %}height: 600px;{% else %}height: 300px;{% endif %} overflow: auto;">
		            <div id="loading">
		                <center>
		                <span class="info" id="info">Chargement du chat en cours...</span><br />
		                <img src="{{app.request.baseUrl}}/img/ajax-loader.gif" alt="patientez...">
		                </center>
		            </div>
		        </div>

		        <div style="text-align: center; margin-top: 1em;">
		        	{% if (app.session.get('user') != null)  %}
				        <form role="form" class="form-inline {% if not tchatfull %}hidden-xs{% endif %}" onsubmit="chatController.postMessage('{{ app.session.get('user')['login'] }}'); return false;" autocomplete="off">
                            <div class="col-md-2">
                                <select class="select2" id="chatTo">
                                    <option value="">Tous</option>
                                    {% for user in users %}
                                        <option value="{{ user.username }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
					        <div class="input-group col-md-10">
							  <input class="form-control" id="messageChat" type="text" maxlength="300">
							  <span class="input-group-btn">
								  <input type="submit" class="btn btn-default" value="Envoyer">
                                  {% if(isAdmin) %}
                                       <a class="btn btn-default "  onClick="chatController.deleteLastMessages();">Purger 30 messages</a>
                                  {% endif %}
	                           </span>                
							</div>
						</form>
						<form role="form" class="form-inline {% if tchatfull  %}hidden{% else %}visible-xs{% endif %}" onsubmit="chatController.postMessageMobile('{{ app.session.get('user')['login'] }}'); return false;" autocomplete="off">
					        <div>
							  <input class="form-control" id="messageChatMobile" type="text" maxlength="300">
							  <br>
							  <span>
								  <input type="submit" class="btn btn-default" value="Envoyer">
                                  {% if(isAdmin) %}
                                       <a class="btn btn-default "  onClick="chatController.deleteLastMessages();">Purger 30 messages</a>
                                  {% endif %}
	                           </span>                
							</div>
						</form>
					{% else %}
		        		Il est nécessaire d'être authentifier pour poster un message
		        	{% endif %}

		        </div>


			</div>
			<div class="col-md-3 chatbox">
				<h5 class="categorie">En ligne</h5>
				<div style="{% if tchatfull %}height: 600px;{% else %}height: 300px;{% endif %} overflow: auto;" id="onlineUsers">
		            <div id="loading">
		                <center>
		                <span class="info" id="info">Chargement du chat en cours...</span><br />
		                <img src="{{app.request.baseUrl}}/img/ajax-loader.gif" alt="patientez...">
		                </center>
		            </div>
				</div>
			</div>
		</div>
		<script>

		$(document).ready(function() {
			 onLoadController.onLoadChat();
		});


		</script>
