{% if isFirstLoad == "true" %}
<div id="messageContent">
	<table class="table-striped table-condensed table-bordered" width="100%" id="tableChat">
		<tr>
			<th width="80px">Date</th>
            <th>Auteur</th>
			<th>Message</th>
			{% if(isAdmin) %}
			<th>Action</th>
			{% endif %}
		</tr>
{% endif %}
		{% for msg in msgs %}
			<tr id='chat_tr_{{msg.id}}'>
                                <td>{{ msg.time|date("H:i:s") }}</td>
                                <td style="margin-left: 6px;">{{ msg.username }}</td>
								<td {% if msg.to_username != '' %}class="private"{% endif %}>
                                    {% if msg.to_username != '' and msg.to_username != msg.username %}
                                        ( => {{ msg.to_username }})
                                    {% endif %}
                                    {% autoescape false %} {{ msg.message }} {% endautoescape %}
                                </td>
								{% if(isAdmin) %}
								<td><a  onClick="deleteChatMessage({{ msg.id }});" title="supprimer le message" class="iconeBtn"><i class="icon-remove-sign" style="color: red"></i></a></td>
								{% endif %}
			</tr>
		{% endfor %}
{% if isFirstLoad == "true" %}
	</table>
	<script>
	function deleteChatMessage(msgId) {

						$.ajax({
						    type: "POST",
						    url: "{{ path('chat_msg_remove') }}",
						    data: {msgId: msgId},
						    success: function(msg){

						    },
						    error: function(msg) {
						    	$('#messageChat').val(textMsg);
							}
						});
					}
	</script>
</div>
{% endif %}
