<div id="widgets-panel">

  <div class="panel panel-default">
    <div class="panel-heading" ng-click="">
      <h3 class="panel-title">
        <span class="fa fa-caret-down"></span>
        Personnages
      </h3>
    </div>
    <ul class="list-group">
      {% for perso in allPerso %}
        {% if is_mj %}
          <li class="list-group-item"><a onClick="persoModalService.openPerso({{campagne_id}}, {{perso.id}})">{{ perso.name }} ({{ perso.username }})</a></li>
        {% else %}
          {% if perso.username == app.session.get('user')['login'] %}
            <li class="list-group-item"><a id='myPerso' href="#!">{{ perso.name }} ({{ perso.username }})</a></li>
          {% else %}
            <li class="list-group-item">
              <a onClick="persoModalService.openPerso({{campagne_id}}, {{perso.id}})">
                {{ perso.name }} ({{ perso.username }})
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% if config.sidebar_text != "" %}
  <div class="panel panel-default">
    <div class="panel-heading" ng-click="">
      <h3 class="panel-title">
        <span class="fa fa-caret-down"></span>
        Information campagne
      </h3>
    </div>
    <div class="panel-body">
      {% autoescape false %}
        {{ config.sidebar_text }}
      {% endautoescape %}
    </div>
  </div>
  {% endif %}

</div>
