<div id="widgets-panel">


{% include("composant/lb_topics.html.twig") %}


  {% for perso in allPerso %}
      {% if perso.widgets is not empty and perso.user_id == app.session.get('user')['id'] %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="fa fa-caret-down"></span>
                {{ perso.name }}
              </h3>
            </div>
            {% set widget_full = false %}
            {% for widget in perso.widgets %}
                {% include('composant/perso_widget.html.twig') %}
            {% endfor %}
          </div>
      {% endif %}
  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="fa fa-caret-down"></span>
        Personnages
      </h3>
    </div>
    <ul class="list-group">
      {% for perso in allPerso %}
          <li class="list-group-item">
            <img class="thumb_avatar" src="{{ path('homepage') }}files/thumbnails/perso_{{ perso.id }}.png"/>
            <a onClick="persoModalService.openPerso({{campagne_id}}, {{perso.id}})">
              {{ perso.name }} ({{ perso.username }})
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>

    {% if is_mj or allCarte|length>0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Cartes
                    {% if is_mj %}
                        <div class="btn-group btn-group-xs pull-right">
                            <a class="btn btn-primary" style="color:white"
                               href="{{ path('ng_app', {campagne_id:campagne_id}) }}#/carte/list">
                                <i class="icon-list"></i>
                            </a>
                            <a class="btn btn-success" style="color:white"
                               href="{{ path('ng_app', {campagne_id:campagne_id}) }}#/carte/create">
                                <i class="icon-plus"></i>
                            </a>
                        </div>
                    {% endif %}
                </h3>
            </div>
            <ul class="list-group">
                {% for carte in allCarte %}
                    {% if(carte.published) %}
                        <li class="list-group-item">
                            <img class="thumb_avatar"
                                 src="{{ path('homepage') }}files/thumbnails/carte_{{ carte.id }}.png"/>
                            <a href="{{ path('ng_app', {campagne_id:campagne_id}) }}#/carte/{{ carte.id }}">
                                {{ carte.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if config.sidebar_text != "" %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="fa fa-caret-down"></span>
        Information campagne
      </h3>
    </div>
    <div class="panel-body">
      {% autoescape false %}
        {{ config.sidebar_text }}
      {% endautoescape %}
    </div>
  </div>
  {% endif %}

</div>
