<div id="widgets-panel">


{% include("composant/lb_topics.html.twig") %}


  {% for perso in allPerso %}
      {% if perso.widgets is not empty and perso.user_id == app.session.get('user')['id'] %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="fa fa-caret-down"></span>
                {{ perso.name }}
              </h3>
            </div>
            {% for widget in perso.widgets %}
                {% include('composant/perso_widget.html.twig') %}
            {% endfor %}
          </div>
      {% endif %}
  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="fa fa-caret-down"></span>
        Personnages
      </h3>
    </div>
    <ul class="list-group">
      {% for perso in allPerso %}
          <li class="list-group-item">
            <a onClick="persoModalService.openPerso({{campagne_id}}, {{perso.id}})">
              {{ perso.name }} ({{ perso.username }})
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>

  {% if config.sidebar_text != "" %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="fa fa-caret-down"></span>
        Information campagne
      </h3>
    </div>
    <div class="panel-body">
      {% autoescape false %}
        {{ config.sidebar_text }}
      {% endautoescape %}
    </div>
  </div>
  {% endif %}

</div>
