{% set car_campagnes = open_campagne %}
{% set car_title = "Recrutement en cours" %}
{% if open_campagne is empty %}
	{% set car_campagnes = campagnes %}
	{% set car_title = "Parties actives" %}
{% endif %}

<p></p>
<div class="carouseltitle" style="text-align: center">
<h5>{{ car_title }}</h5>
</div>
<p></p>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->  
  <div class="carousel-inner">
  	{% set isFirst = true %}
 	{% for campagne in car_campagnes %}
 		
 		<div class="{% if isFirst %} active {% endif %}item" style="height: 250px">
 				
 				<div align="center" style="height: 150px">
 					<a href="{{ path('campagne',{id: campagne.id} ) }}">
		 			{% if campagne.banniere != "" %}
		 				<img src="{{ campagne.banniere }}" style="max-height: 200px; ">
		 			{% else %}
		 				<img src="{{global.request.baseUrl}}/img/ban.png" style="max-height: 200px; " />
		 			{% endif %}
		 			</a>
	 			</div>
	 			
	 			<div class="carousel-caption" style="height: 100px;">
		 			<a href="{{ path('campagne',{id: campagne.id} ) }}">
		 				<h4>{{ campagne.name }}</h4>
			 			<p>Dans l'univers de {{ campagne.univers }} avec le système {{ campagne.systeme }}.<br>
			 			<i>Proposé par {{ campagne.username }}</i></p>
		 			</a>
	 			</div>
 			
 		</div>
 		{% set isFirst = false %}
 	{% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-chevron-right"></span>
  </a>
</div>