
                {% if widget.type == "jauge" %}
                  {% if (widget.up - widget.low) != 0 %}
                    <div class="jauge">
                      <center><b>{{ widget.name }}</b></center>

                      {% if widget_full == true %}
                      <div class="col-xs-1">
                        <a class="btn btn-primary btn-xs minusWidget" data-widget-id="{{ widget.id }}"><i class="glyphicon glyphicon-minus"></i></a>
                      </div>
                      <div class="col-xs-10">
                      {% endif %}


                        <div class="progress">
                          <div class="progress-bar"
                          data-widget-id="{{ widget.id }}"
                          role="progressbar"
                          aria-valuenow="{{ widget.value }}"
                          aria-valuemin="{{ widget.low }}"
                          aria-valuemax="{{ widget.up }}"
                          style="width: {{ (100 * (widget.value - widget.low) ) / (widget.up - widget.low) }}%;">
                            {{ widget.value }} / {{ widget.up }}
                          </div>
                        </div>

                      {% if widget_full == true %}
                      </div>
                      <div class="col-xs-1">
                        <a class="btn btn-primary btn-xs addWidget" data-widget-id="{{ widget.id }}"><i class="glyphicon glyphicon-plus"></i></a>
                      </div>
                      {% endif %}

                    </div>
                  {% endif %}
                {% endif %}

                {% if widget.type == "token" %}
                <div class="token">
                    <center><b>{{ widget.name }}</b></center>

                    {% if widget_full == true %}
                    <div class="col-xs-1">
                      <a class="btn btn-primary btn-xs minusWidget" data-widget-id="{{ widget.id }}"><i class="glyphicon glyphicon-minus"></i></a>
                    </div>
                    <div class="col-xs-10">
                    {% endif %}

                    <center class="token-bar" data-widget-id="{{ widget.id }}">
                        <p>
                        {% if widget.value == 0 %}
                            <i>Aucun</i>
                        {% else %}
                            {% for i in 1..widget.value %}
                                <span class="icon-circle"></span>
                            {% endfor %}
                        {% endif %}
                        </p>
                    </center>

                    {% if widget_full == true %}
                    </div>
                    <div class="col-xs-1">
                      <a class="btn btn-primary btn-xs addWidget" data-widget-id="{{ widget.id }}"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if widget.type == "text" %}
                <div class="widget-text">
                    <center><b>{{ widget.name }}</b></center>
                    <center>
                        <p>
                        {{ widget.value | nl2br }}
                        </p>
                    </center>
                </div>
                {% endif %}
