{% extends "squelette_campagne.html.twig" %}

{% block content %}

    <div class="posts">
        <div class="col-xs-12 posts-header categorie">
            <div class="col-md-9 post-title">
                <h5><a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}">Forum</a> > {{ topic.section_title }} > {{ topic.title }}</h5>
            </div>
            <div class="col-md-3 post-pagination">
                {% for i in range(1, last_page) %}
					{% if i != actual_page %}
						<a href="{{ path('topic_page', {'campagne_id' : campagne_id, 'topic_id' : topic.id, 'no_page' : i}) }}">{{ i }}</a>
					{% else %}
						<u>{{ i }}</u>
					{% endif %}


				{% endfor %}
                {% if actual_page == 0%}
                    <u>Toutes</u>
                {% else %}
                    <a href="{{ path('topic_all', {'campagne_id' : campagne_id, 'topic_id' : topic.id}) }}">Toutes</a>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 post posts-legend">
            <div class="col-md-2 col-xs-9 post-identite">
                Auteur
            </div>
            <div class="col-md-8 col-xs-11 post-content">
                Message
            </div>
        </div>
        {% for post in posts %}
        <div class="col-xs-12 post">
            <div class="col-md-2 col-xs-3 post-actions">
                <div class="btn-group btn-group-xs">
                    {% if post.perso_name != null or  post.user_username != null %}
                        <a title="Quote" 
                            class="btn btn-xs btn-default iconeBtn hidden-xs" 
                            onClick="quote('{{ post.post_id}}')">
                            <i class="icon-quote-left"></i>
                        </a>
                    {% endif %}
                    {% if is_mj or (post.user_id == app.session.get('user')['id']) %}
                        {% if post.user_id != null %}
                            <a href="{{ path('post_edit', {campagne_id : campagne_id, post_id : post.post_id}) }}"
                            title="Editer" class="btn btn-xs btn-primary iconeBtn"><i class="icon-edit"></i></a>
                        {% endif %}

                    {% endif %}
                    {% if is_mj or ( (post.user_id == app.session.get('user')['id']) and (topic.last_post_id == post.post_id) )  %}
                        <a jd-href="{{ path('post_delete', {campagne_id : campagne_id, post_id : post.post_id, topic_id : post.topic_id}) }}"
                            title="Supprimer" class="btn btn-xs btn-danger-ssctrl iconeBtn btn-delete-post"><i class="icon-remove-sign"></i></a>
                    {% endif %}
                </div>
                <a class="hidden-xs" title="Lien permanent" href="{{ path('topic_all', {'campagne_id' : campagne_id, 'topic_id' : topic.id}) }}#post{{ post.post_id }}"><i class="icon-link"></i></a>
            </div>

            {% if post.perso_name != null or  post.user_username != null %}

                <div class="col-md-2 col-xs-9 post-identite">

                    {% if post.perso_name != null %}
                        <p class="post_name"><a onClick="persoModalService.openPerso({{campagne_id}}, {{post.perso_id}})"><b>{{ post.perso_name }}</b></a></p>
                        <p class="post_user_title">{{post.perso_concept}}</p>
                        <p class="post_info"><i>Le {{ post.post_date|date("d/m/y H:i") }}</i></p>
                        <p class="post_info">Par <a href="{{ path('profile', {username: post.user_username}) }}" class="profil{{ post.user_profil }}"><i>{{ post.user_username }}</i></a></p>
                        <center>
                            <img src="{{ post.perso_avatar }}" width="80%" class="img-rounded"/>
                        </center>

                        <p>&nbsp;</p>
                        <div class="hidden-xs">
                            {% if is_mj or post.user_id == app.session.get('user')['id'] %}
                                                            {% set widget_full = false %}
                                {% for widget in post.perso_widgets %}
                                    {% include('composant/perso_widget.html.twig') %}
                                {% endfor %}
                            {% endif %}
                        </div>

                    {% elseif  post.user_username != null %}
                        <p class="post_name"><a href="{{ path('profile', {username: post.user_username}) }}" class="profil{{ post.user_profil }}"><b>{{ post.user_username }}</b></a></p>
                        <p class="post_user_title"><i>{{post.user_titre}}</i></p>
                        <p class="post_info"><i>Le {{ post.post_date|date("d/m/y H:i") }}</i></p>
                        <center>
                        <img src="{{ post.user_avatar }}" width="80%" class="img-rounded"/>
                        </center>
                    {% endif %}

                </div>

                <div class="col-md-8 col-xs-12 post-content">
                    <div class="postContent">
                    {% autoescape false %}
                        {{ post.post_content }}
                    {% endautoescape %}
                    </div>
                    <div style="display: none;" id="contentDiv{{ post.post_id }}">
                        {% autoescape false %}
                            <b>Posté par {% if post.perso_name != null %} {{ post.perso_name }} {% elseif  post.user_username != null %} {{ post.user_username }} {% endif %}</b>
                            <br>
                            {{ post.post_content }}
                        {% endautoescape %}
                    </div>
                    <a name="post{{ post.post_id }}"></a>
                </div>

            {% else %}

                <div class="col-md-10 col-xs-12 post-dice">
                    <div class="postDice">
                        {% autoescape false %}
                        {{ post.post_content }}
                        {% endautoescape %}
                    </div>
                </div>

            {% endif %}

        </div>
        {% endfor %}
        <div class="col-xs-12 post hide" id="previewRow">
            <div class="col-md-offset-2 col-md-8 col-xs-12 post-content">
                <span id="previewCell"></span>
            </div>
        </div>


        <!-- Formulaire de posts -->
        {% if topic.is_closed == 0 or is_mj %}
			{% if campagne_id == 0 or perso|length > 0 or is_mj or topic.is_private == 2 %}
                
                <!-- Lanceur de dé -->
                {% if campagne_id != 0 %}
                    <div class="col-xs-12 post" id="quickDicerRow">
                        <div class="col-md-10 col-md-offset-2 col-xs-12 post-dice">
                            <b>Lancer les dés</b><a href="#dicerHelp" role="button" data-toggle="modal" class="btn btn-link"><i class="icon-question"></i></a>
							<form role="form" class="form">
							    <div class="form-group col-md-2 col-xs-12">
                                    <label class="control-label" for="dicerParamQuick">Formule</label>
                                    <input type="text" 
                                        class="form-control" 
                                        id="dicerParamQuick" 
                                        name="dicerParamQuick" 
                                        placeholder="Ex : 1d6 + 1d4" 
                                        value="{{ config.default_dice }}"
                                        required>
							    </div>
							    <div class="form-group col-md-4 col-xs-12">
                                    <label class="control-label" for="dicerDescriptionQuick">Description</label>
							    	<input type="text" 
                                           class="form-control" 
                                           id="dicerDescriptionQuick" 
                                           name="dicerDescription" 
                                           placeholder="Ex: Crocheter la serrure">
							    </div>
                                <div class="col-md-3 col-xs-12" style="padding-top: 26px">
                                    <div class="col-xs-10">
                                        <button type="submit" class="btn btn-default form-control" onClick="return uiDicer.dicerLaunch({{ topic.id }});">Lancer les dés</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <img src="{{global.request.baseUrl}}/img/loading.gif" class="hide" id="waitingQuickLaunch">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                <span class="help-block">Consultez l'aide (?) pour plus de détail sur les formules possibles.</span><br>
                                <b>Résultats : </b>
                                    <span id="resultatDicerQuick"></span>
                                </div>
							    
					   		</form>
                        </div>
                    </div>
                {% endif %}


                <!-- Post à rédiger -->
                <div class="col-xs-12 post">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 post-content">
                        <div align="right">
                            <a href="#uploaderModal" role="button" data-toggle="modal"><i>Uploader une image</i></a>
                        </div>
                        <b>Poster une réponse</b>
                        <form role="form" class="form-horizontal" >
                            <input type="hidden" name="id" value="" >
                            <input type="hidden" name="topic_id" value="{{ topic.id }}" >

                            {% if is_mj %}
                                <div class="form-group">
                                <label for="perso_id">Poster en tant que...</label>
                                    <select class="select2" id="perso_id" name="perso_id" style="min-width: 200px">
                                        <option value="" {% if default_perso == '' %} selected="selected" {% endif %}>MJ</option>
                                        <optgroup label="Personnages Joueurs">
                                        {% for personnage in personnages %}
                                            {% if personnage.user_id != null %}
                                                <option value="{{ personnage.id }}" jd-img="/files/thumbnails/perso_{{personnage.id}}.png" {% if default_perso == personnage.id %} selected="selected" {% endif %}>
                                                    {{ personnage.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </optgroup>
                                        <optgroup label="Personnages Non-Joueurs">
                                        {% for personnage in personnages %}
                                            {% if personnage.user_id == null %}
                                                <option value="{{ personnage.id }}" jd-img="/files/thumbnails/perso_{{personnage.id}}.png" {% if default_perso == personnage.id %} selected="selected" {% endif %}>
                                                    {{ personnage.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                            {% else %}
                                {% if perso|length == 1 %}
                                    <input type="hidden" name="perso_id" value="{{ perso[0].id }}" >
                                {% elseif perso|length == 0 %}
                                    <input type="hidden" name="perso_id" value="" >
                                {% elseif perso|length > 1 %}
                                    <div class="form-group">
                                        <label for="perso_id">Poster en tant que...</label>
                                        <select class="select2" id="perso_id" name="perso_id" style="min-width: 200px">
                                                {% set firstSelected = 'selected="selected"' %}
                                                {% for personnage in perso %}
                                                    <option value="{{ personnage.id }}" jd-img="/files/thumbnails/perso_{{personnage.id}}.png" {{ firstSelected }}>
                                                        {{ personnage.name }}
                                                    </option>
                                                    {% set firstSelected = ""%}
                                                {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="form-group">
                                <textarea input class="input-xxlarge wysiwyg" type="text" id="content" name="content"
                                    placeholder="Votre message" rows="15" title="Réponse">
                                    {% if draft != null %} {{ draft.content }} {% endif %}
                                </textarea>
                            </div>
                            <div class="form-group" align="right">
                                <div class="btn-group">
                                    <a class="btn btn-primary" id="btn-reply" onClick="draftController.ajaxPost()">Répondre</a>
                                    <a class="btn btn-default" id="btn-preview" onClick="draftController.preview()">Prévisualiser</a>
                                    <a class="btn btn-default" id="btn-enreg" onClick="draftController.ajaxEnreg()">Enregistrer</a>
                                </div>
                                <img src="{{global.request.baseUrl}}/img/loading.gif" class="hide" id="waitingPost">
                                <span id="enregResult"></span>
                            </div>
                        </form>
                    </div>
                </div>
                
            {% endif %}
        {% endif %}


        <!-- Footer / Pagination -->
        <div class="col-xs-12 posts-footer categorie">
            <div class="col-md-9 post-title">
                <h5><a href="{{ path('forum_campagne', {campagne_id: campagne_id}) }}">Forum</a> > {{ topic.section_title }} > {{ topic.title }}</h5>
            </div>
            <div class="col-md-3 post-pagination">
                {% for i in range(1, last_page) %}
					{% if i != actual_page %}
						<a href="{{ path('topic_page', {'campagne_id' : campagne_id, 'topic_id' : topic.id, 'no_page' : i}) }}">{{ i }}</a>
					{% else %}
						<u>{{ i }}</u>
					{% endif %}


				{% endfor %}
                {% if actual_page == 0%}
                    <u>Toutes</u>
                {% else %}
                    <a href="{{ path('topic_all', {'campagne_id' : campagne_id, 'topic_id' : topic.id}) }}">Toutes</a>
                {% endif %}
            </div>
        </div>
    </div>
    

<script language="javascript">

$("a[rel=popover]").popover();

function quote(id) {
	text = "<blockquote><p>" + $('#contentDiv' + id).html().trim() + "</p></blockquote><p></p>";
	tinyMCE.get('content').setContent(tinyMCE.get('content').getContent() + text);
}

</script>
{% endblock %}
