<!DOCTYPE html>
<html lang="fr">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plate-forme de jeu de rôle par forum">
    <meta name="keywords" content="PBF, jdr, forum, jeu de rôle">

	<link rel="stylesheet" href="{{global.request.baseUrl}}/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all">
	
	{% block specificCSS %}
	
	{% endblock %}
	
	
	<script type="text/javascript">
		var BASE_PATH = '{{global.request.baseUrl}}';
	</script>

	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/jquery/dist/jquery.min.js"> </script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootstrap/dist/js/bootstrap.min.js"> </script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"> </script>
	
	{% block specificJavascript %}
	
	{% endblock %}
	
	
	<!-- Application specific controller -->
	
	<script type="text/javascript" src="{{global.request.baseUrl}}/js/controller/onload.js"></script>
    <script type="text/javascript" src="{{global.request.baseUrl}}/js/controller/ui.js"></script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/vendor/zeroclipboard/ZeroClipboard.min.js"> </script>
	<script type="text/javascript" src="{{global.request.baseUrl}}/js/controller/editor.js"></script>


  	
</head>
<body>
	
	
	{% block tagRendering %}
	
	{% endblock %}
		
								
	<script type="text/javascript">

		$(document).ready(function() {
		
		{% block documentReady %}
	
		{% endblock %}
			
		});
	</script>					
</body>
</html>