{% extends "editor/editor_squelette.html.twig" %}

{% block specificCSS %}

	<link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css">
	
{% endblock %}
	
{% block specificJavascript %}

	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
	
{% endblock %}

{% block tagRendering %}
	<div class="col-md-4" style="margin-top:5px !important;">
		<select class="multiselect" id="perso_id" name="perso_id" style="max-width:200px;" multiple>
		
		{% for perso in allPerso %}  
			<option value="{{ perso.username }}">{{ perso.name }} ({{perso.username}})</option>
		{% endfor %}
        </select>
	</div>
{% endblock %}
	
{% block documentReady %}

	editorController.activatePRVTag();

{% endblock %}
		