{% extends "editor/editor_squelette.html.twig" %}

{% block specificCSS %}

	<link rel="stylesheet" href="{{app.request.baseUrl}}/vendor/select2/select2.css">
	<link rel="stylesheet" href="{{app.request.baseUrl}}/css/main.css?v=20140723_001" type="text/css" media="all">
	
{% endblock %}
	
{% block specificJavascript %}
	
	<script type="text/javascript" src="{{app.request.baseUrl}}/vendor/select2/select2.min.js"> </script>
	
{% endblock %}
	  	
{% block tagRendering %}
	<div class="col-md-4" >
		<select class="select2" id="perso_id" name="perso_id" style="min-width: 290px; margin-top:5px;">
		{% set cat_name = -1 %}
		{% set is_first = true %}

		{% for perso in allPerso %}  
			{% if cat_name != perso.cat_name %}
				{% set cat_name = perso.cat_name %}
				<optgroup label="{{cat_name ? cat_name : "Non classé"}}">
			{% endif %}
			<option value="{{ perso.name }}">{{ perso.name }}</option>
				
		{% endfor %}
		</select>
	</div>

{% endblock %}

{% block documentReady %}
		
	onLoadController.onLoadGenerals();
	editorController.activatePNJTag();
			
{% endblock %}