{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-danger">
	    	{{ error }}
	    </div>
    {% endif %}

	<div class="row">
		<div class="col-md-8">
			{% if adminUser is not defined  %}
				<form role="form" action="{{ path('my_profile_save')  }}" method="POST">
			{% else %}
				<form role="form" action="{{ path('profile_edit_save',{'username' : user.username})  }}" method="POST">
			{% endif %}
			<fieldset class="titled-box">
				<legend>Mes informations</legend>

				    <div class="pull-right">
						<button type="submit" class="btn btn-primary">Valider</button>
				    </div>
				    <div class="form-group">
					    <label class="control-label" for="login">Login</label>
					    <input class="form-control" type="text" id="username" name="username" readonly="true" placeholder="Nom d'utilisateur" value="{{ user['username'] }}">
				    </div>
				    <div class="form-group">
					    <label class="control-label" for="mail">Email</label>
					    <input class="form-control" type="text" id="mail" name="mail" placeholder="Adresse email" value="{{ user['mail'] }}">
				    </div>
					<div class="form-group">
					    <label class="control-label" for="birthDate">Date de naissance :</label>
						<div class="input-group date" id="birthDateComp" >
							<input class="form-control" name="birthDate" class="col-md-2" size="200" type="text" value="{{ user['birthDate'] }}" readonly>
							<span class="add-on input-group-btn"><a class="btn btn-default"><i class="icon-th"></i></a></span>
						</div>
				    </div>
				    <div class="form-group">
					    <label class="control-label" for="avatar">Url de votre avatar</label>
					    	<div class="input-group">
						    	<input class="form-control" type="text" id="avatar" name="avatar" placeholder="http://" value="{{ user['avatar'] }}">
						    	<span class="input-group-btn"><a href="#uploaderModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn" title="Uploader une image"><i class="icon-upload"></i></a></span>
					    	</div>
					    	<br><i>Taille conseillé : 130px de large, maximum 130px de haut.</i>
				    </div>
				    <div class="form-group">
					    <label class="control-label" for="description">Votre description</label>
					    <textarea input class="input-xxlarge wysiwyg" type="text" id="description" name="description"
					    	 placeholder="Votre description" rows="10">{{ user['description'] }}</textarea>
				    </div>

				    </fieldset>
			</form>
		</div>

    {% if adminUser is not defined %}
		<div class="col-md-4">

		    <form role="form" action="{{ path('my_profile_passwd')  }}" method="POST">
          <fieldset class="titled-box">
          <legend>Modifier mon mot de passe</legend>
                <div class="pull-right">
                <button type="submit" class="btn btn-danger">Valider</button>
                </div>
              <div class="form-group">
                <label class="control-label" for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe">
              </div>
              <div class="form-group">
                <label class="control-label" for="password2">Mot de passe (ressaisir) </label>
                <input class="form-control"  type="password" id="password2" name="password2" placeholder="Mot de passe">
              </div>

          </fieldset>
		    </form>
      	<form role="form" action="{{ path('my_profile_cfg_save')  }}" method="POST">
          <fieldset class="titled-box">
          <legend>Configuration des notifications</legend>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Valider</button>
              </div>
              <div class="form-group">
                <p><label class="control-label">Notification de MP</label></p>
                <input type="checkbox" id="notif_mp" name="notif_mp" {% if user['notif_mp'] %}checked="true"{% endif %}> Sur le site<br>
                <input type="checkbox" id="mail_mp" name="mail_mp" {% if user['mail_mp'] %}checked="true"{% endif %}> Par mail
              </div>
              <div class="form-group">
                <p><label class="control-label">Notification de message</label></p>
                <input type="checkbox" id="notif_message" name="notif_message" {% if user['notif_message'] %}checked="true"{% endif %}> Sur le site<br>
                <input type="checkbox" id="mail_message" name="mail_message" {% if user['mail_message'] %}checked="true"{% endif %}> Par mail
              </div>
              <div class="form-group">
                <p><label class="control-label">Notification de jet de dé</label></p>
                <input type="checkbox" id="notif_dice" name="notif_dice" {% if user['notif_dice'] %}checked="true"{% endif %}> Sur le site<br>
                <input type="checkbox" id="mail_dice" name="mail_dice" {% if user['mail_dice'] %}checked="true"{% endif %}> Par mail
              </div>
              <div class="form-group">
                <p><label class="control-label">Notification de modification de personnages</label></p>
                <input type="checkbox" id="notif_perso" name="notif_perso" {% if user['notif_perso'] %}checked="true"{% endif %}> Sur le site<br>
                <input type="checkbox" id="mail_perso" name="mail_perso" {% if user['mail_perso'] %}checked="true"{% endif %}> Par mail
              </div>
              <div class="form-group">
                <p><label class="control-label">Notification d'inscription/désinscription</label></p>
                <input type="checkbox" id="notif_inscription" name="notif_inscription" {% if user['notif_inscription'] %}checked="true"{% endif %}> Sur le site<br>
                <input type="checkbox" id="mail_inscription" name="mail_inscription" {% if user['mail_inscription'] %}checked="true"{% endif %}> Par mail
              </div>

          </fieldset>
		    </form>
		</div>
    {% endif %}
	</div>
<script>

        $(function () {

        var nowTemp = new Date();
        var startDate = new Date(nowTemp.getFullYear()-90, 12, 0, 0, 0, 0, 0);
		var endDate = new Date(nowTemp.getFullYear()-10, 12, 0, 0, 0, 0, 0);

        var dp = $('#birthDateComp').datepicker({
		autoClose: true,
		format: 'dd/mm/yyyy',
		forceParse: true,
        }).on('changeDate', function(ev) {
          dp.hide();
        }).data('datepicker');
		//dp.setValue({{ user['birthDate'] }});
		dp.setEndDate(endDate);
		dp.setStartDate(startDate);

    });
</script>
{% endblock %}
