
<div id="theme-container">
  {% if (error != "") %}
  <div class="alert alert-error">
    {{ error }}
  </div>
  {% endif %}

  <form role="form"
          id="gameThemeForm"
          onSubmit="return campagneConfig.saveTheme({{campagne.id}})">

    <div class="control-group">
      <div class="col-sm-12" align="right" style="margin-bottom: 5px;">
        <button type="submit" class="btn btn-primary">
          <i class="icon-save"></i> Sauvegarder
        </button>
      </div>
    </div>

    <div class="col-sm-12">
      <input type="hidden" name="campagne_id" id="campagne_id" value="{{ config.campagne_id }}">

      <fieldset class="titled-box">
        <legend>Illustrations</legend>

        <div class="form-group">
          <label class="control-label" for="banniere">Bannière</label>
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="banniere" id="bann"
                   placeholder="http://"
                   onchange="themeService.refresh()"
                   value="{{ config.banniere }}">
            <span class="input-group-btn"><a href="#uploaderModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a></span>
          </div>
          <span class="help-block">Affichée en haut de chaque page. Taille attendue : 450px X 150px.</span>
        </div>
        <div class="form-group">
          <label class="control-label" for="hr">Barre de séparation</label>
          <div class="input-group">
            <input class="form-control"
                   type="text" id="hr"
                   name="hr"
                   onchange="themeService.refresh()"
                   placeholder="http://"
                   value="{{ config.hr }}">
            <span class="input-group-btn"><a href="#uploaderModal" role="button" data-toggle="modal" class="btn btn-default iconeBtn sidebarBtn" title="Uploader une image"><i class="icon-upload"></i></a></span>
          </div>
          <span class="help-block">Image affichée sur les barres de séparation (HR). Hauteur maximum : 60px</span>
        </div>
      </fieldset>
      <fieldset class="titled-box">
        <legend>Thème pré-existant</legend>
        <select class="select2" style="min-width: 200px" id="theme-choice">
          {% for theme in themes %}
            <option value="{{theme.id}}">{{theme.title}}</option>
          {% endfor %}
        </select>
        <a class="btn btn-primary" onclick="themeService.apply()"><i class="icon-eye-open"></i> Prévisualiser le thème</a>
        <a class="btn btn-default" id="theme-advanced-btn" onclick="themeService.viewAdvancedEdit()"><i class="icon-edit"></i> Edition avancée</a>
      </fieldset>
      <div id="theme-advanced" class="hide">
        <fieldset class="titled-box">
          <legend>Couleurs Principales </legend>
          <div class="pull-right">
            <button type="button" onclick="themeService.refresh()" title="refresh" class="btn btn-default">
              <i class="icon-eye-open"></i> Prévisualiser
            </button>

            <a href="#themingHelp" role="button" data-toggle="modal" class="btn btn-info">
              <i class="icon-question"></i> Voir l'aide
            </a>
          </div>
          <div class="col-md-5">
            <h3>Couleur de fond</h3>
            <div class="form-group">
              <label class="control-label" for="odd_line_color">Couleur des lignes paires</label>
              <input type="color"
                    id="odd_line_color"
                    name="odd_line_color"
                    class="form-control"
                    onchange="themeService.refresh()"
                    placeholder="#356803" value="{{ config.odd_line_color }}">
            </div>

            <div class="form-group">
              <label class="control-label" for="even_line_color">Couleur des lignes impaires</label>
              <input type="color"
                    id="even_line_color"
                    name="even_line_color"
                    onchange="themeService.refresh()"
                    class="form-control"
                    placeholder="#746484" value="{{ config.even_line_color }}">
            </div>

            <div class="form-group">
              <label class="control-label" for="sidebar_color">Couleur de la barre latérale</label>
              <input type="color" id="sidebar_color"
                    name="sidebar_color" class="form-control"
                    placeholder="#363673"
                    onchange="themeService.refresh()"
                    value="{{ config.sidebar_color }}">
            </div>

          </div>
          <div class="col-md-5">

            <h3>Couleur des textes</h3>

            <div class="form-group">
              <label class="control-label" for="link_color">Couleur du texte</label>
              <input type="color" id="text_color"
                    name="text_color"
                    class="form-control"
                    placeholder="#223356"
                    onchange="themeService.refresh()"
                    value="{{ config.text_color }}"
                    >
            </div>

            <div class="form-group">
              <label class="control-label" for="link_color">Couleur des liens</label>
              <input type="color" id="link_color" name="link_color"
                    class="form-control" placeholder="#223356"
                    onchange="themeService.refresh()"
                    value="{{ config.link_color }}">
            </div>

            <div class="form-group">
              <label class="control-label" for="link_sidebar_color">Couleur des liens dans la sidebar</label>
              <input type="color" id="link_sidebar_color"
                    name="link_sidebar_color" class="form-control" placeholder="#223356"
                    onchange="themeService.refresh()"
                    value="{{ config.link_sidebar_color }}">
            </div>
          </div>

        </fieldset>

        <fieldset class="titled-box">
          <legend>Formats de textes</legend>
          <div class="pull-right">
            <button type="button"
                    onclick="themeService.refresh()"
                    title="refresh" class="btn btn-default">
              <i class="icon-eye-open"></i> Prévisualiser
            </button>

            <a href="#themingHelp" role="button" data-toggle="modal" class="btn btn-info">
              <i class="icon-question"></i> Voir l'aide
            </a>
          </div>
          <div class="col-md-5">
            <h3>Couleur des styles</h3>
            <div class="form-group">
              <label class="control-label" for="dialogue_color">Dialogues</label>
              <input type="color" id="dialogue_color" name="dialogue_color"
                    class="form-control"
                    onchange="themeService.refresh()"
                    placeholder="#356803"
                    value="{{ config.dialogue_color }}">
            </div>

            <div class="form-group">
              <label class="control-label" for="pensee_color">Pensées</label>
              <input type="color" id="pensee_color" name="pensee_color"
                    class="form-control"
                    onchange="themeService.refresh()"
                    placeholder="#746484"
                    value="{{ config.pensee_color }}">
            </div>

            <div class="form-group">
              <label class="control-label" for="quote_color">Citation</label>
              <input type="color" id="quote_color" name="quote_color"
                    class="form-control"
                    onchange="themeService.refresh()"
                    placeholder="#746484"
                    value="{{ config.quote_color }}">
            </div>

          </div>
          <div class="col-md-5">

            <h3>&nbsp;</h3>

            <div class="form-group">
              <label class="control-label" for="rp1_color">RP1</label>
              <input type="color" id="rp1_color" name="rp1_color"
                    class="form-control"
                    onchange="themeService.refresh()"
                    placeholder="#356803"
                    value="{{ config.rp1_color }}">
            </div>

            <div class="form-group">
              <label class="control-label" for="rp2_color">RP2</label>
              <input type="color" id="rp2_color" name="rp2_color"
                    class="form-control"
                    onchange="themeService.refresh()"
                    placeholder="#746484"
                    value="{{ config.rp2_color }}">
            </div>
          </div>

        </fieldset>
      </div>

      <fieldset class="titled-box">
        <legend>Prévisualisation</legend>
        <div class="col-xs-12">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <td width="100%">
                  <div class="postContent">


                    <blockquote>
                      <p><b>Par Chtulhu</b><p>
                      <p>Cthulhu R'lyeh wgah'nagl fhtagn.</p>
                    </blockquote>

                    <p>Cras ultricies ligula sed magna dictum porta.
                      Sed porttitor lectus nibh. Mauris blandit aliquet elit, eget tincidunt
                      nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                      convallis at tellus. Nulla porttitor accumsan tincidunt.</p>

                    <span class="dialogue">
                      <p>Cras ultricies ligula sed magna dictum porta.
                      Nulla quis lorem ut libero malesuada feugiat.
                      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                      Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in,
                        elementum id enim.</p>
                      </span>

                    <hr/>

                    <p>Nulla porttitor accumsan tincidunt. Curabitur arcu erat,
                      accumsan id imperdiet et, porttitor at sem. Vestibulum ante
                      ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                      Curae; Donec velit neque, auctor sit amet aliquam vel,
                      ullamcorper sit amet ligula. Sed porttitor lectus nibh.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <span class="pensee"><p>Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci
                      porta dapibus.</p></span>

                    <span class="rp1"><p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                      Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p></span>

                    <span class="rp2"><p>Quisque velit nisi, pretium ut lacinia in,
                      elementum id enim.</p></span>

                  </div>
                </td>
              </tr>
              <tr>
                <td width="100%">
                  <div class="postContent">

                    <blockquote>
                      <p><b>Par Chtulhu</b><p>
                      <p>Cthulhu R'lyeh wgah'nagl fhtagn.</p>
                    </blockquote>

                    <p>Cras ultricies ligula sed magna dictum porta.
                      Sed porttitor lectus nibh. Mauris blandit aliquet elit, eget tincidunt
                      nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                      convallis at tellus. Nulla porttitor accumsan tincidunt.</p>

                    <span class="dialogue"><p>Cras ultricies ligula sed magna dictum porta.
                      Nulla quis lorem ut libero malesuada feugiat.
                      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                      Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in,
                      elementum id enim.</p></span>

                    <hr/>

                    <p>Nulla porttitor accumsan tincidunt. Curabitur arcu erat,
                      accumsan id imperdiet et, porttitor at sem. Vestibulum ante
                      ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                      Curae; Donec velit neque, auctor sit amet aliquam vel,
                      ullamcorper sit amet ligula. Sed porttitor lectus nibh.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <span class="pensee"><p>Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci
                      porta dapibus.</p></span>

                    <span class="rp1"><p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                      Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p></span>

                    <span class="rp2"><p>Quisque velit nisi, pretium ut lacinia in,
                      elementum id enim.</p></span>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </fieldset>

    </div>

  </form>


</div>
