
<form action="{{ path('messagerie_delete_select') }}" method="post" id="msg_receive">
        <button class="btn btn-danger">
            <i class="icon-remove"></i> Supprimer les messages selectionnés
        </button><p></p>
        <table class="table-striped table-condensed table-bordered messageTable" width="100%">
    
		<tr>
                        <th width="20px"><input type="checkbox" class="checkAll" onClick="selectAll('#msg_receive')"></th>
			<th width="20px"></th>
			<th>
				Sujet
				<input type="hidden" class="filterIndex" value="HEADER">
			</th>
			<th width="130px">Auteur</th>
			<th width="150px">Date</th>
			<th width="20px"></th>
		</tr>
		{% for msg in messages %} 
			<tr>
                                <td><input type="checkbox" name="del_id[]" value="{{ msg.id }}"></td>
				<td>{% if msg.statut_read == 0 %} <i class="icon-asterisk"></i> {% endif %}</td>
				<td>
					<a href="{{ path('messagerie_detail', {'id' : msg.id}) }}">{{ msg.title }}</a>
					<input type="hidden" class="filterIndex" value="{{ msg.title }}{{ msg.from_username }}">
				</td>
				<td>{{ msg.from_username }}</td>
				<td>{{ msg.time }}</td>
				<td><a href="{{ path('messagerie_delete', {'id' : msg.id}) }}" class="btn btn-danger"><i class="icon-remove"></i></a></td>
			</tr>
		{% endfor %}
                
        
	</table>
        <br>
        <button class="btn btn-danger" onClick="return onBtnDangerClick()">
            <i class="icon-remove"></i> Supprimer les messages selectionnés
        </button>
    </form>
    