<form role="form" action="{{ path('messagerie_delete_my_select') }}" method="post" id="msg_sent">
        <a class="btn btn-danger-ssctrl" onClick="if(onBtnDangerClick()){$('msg_sent').submit()} else {return false;}">
            <i class="icon-remove"></i> Supprimer les messages selectionnés
        </a><p></p>
        <table class="table-striped table-condensed table-bordered messageTable" width="100%">
		<tr>
                        <th width="20px"><input type="checkbox" class="checkAll" onClick="selectAll('#msg_sent')"></th>
			<th>
				<input type="hidden" class="filterIndex" value="HEADER">
				Sujet
			</th>
			<th width="260px">Destinataires</th>
			<th width="150px">Date</th>
			<th width="20px"></th>
		</tr>
		{% for msg in sent_messages %} 
			<tr>
                                <td><input type="checkbox" name="del_id[]" value="{{ msg.id }}"></td>
				<td>
					<a href="{{ path('messagerie_detail', {'id' : msg.id}) }}">{{ msg.title }}</a>
					<input type="hidden" class="filterIndex" value="{{ msg.title }}{{ msg.to_usernames }}">
				</td>
				<td>{{ msg.to_usernames }}</td>
				<td>{{ msg.time }}</td>
				<td><a href="{{ path('messagerie_delete_my', {'id' : msg.id}) }}" class="btn btn-danger"><i class="icon-remove"></i></a></td>
			</tr>
		{% endfor %}
	</table>
        <br>
        <a class="btn btn-danger-ssctrl" onClick="if(onBtnDangerClick()){$('msg_sent').submit()} else {return false;}">
            <i class="icon-remove"></i> Supprimer les messages selectionnés
        </a>
</form>