	<table class="table-striped table-condensed table-bordered messageTable" width="100%">
		<tr>
			<th>
				<input type="hidden" class="filterIndex" value="HEADER">
				Sujet
			</th>
			<th width="260px">Destinataires</th>
			<th width="150px">Date</th>
			<th width="20px"></th>
		</tr>
		{% for msg in sent_messages %} 
			<tr>
				<td>
					<a href="{{ path('messagerie_detail', {'id' : msg.id}) }}">{{ msg.title }}</a>
					<input type="hidden" class="filterIndex" value="{{ msg.title }}{{ msg.to_usernames }}">
				</td>
				<td>{{ msg.to_usernames }}</td>
				<td>{{ msg.time }}</td>
				<td><a href="{{ path('messagerie_delete_my', {'id' : msg.id}) }}" class="btn btn-danger"><i class="icon-remove"></i></a></td>
			</tr>
		{% endfor %}
	</table>