{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form role="form" class="form-horizontal" action="{{ path('messagerie_send')  }}" method="POST">
		<input type="hidden" name="id" value="{{ message.id }}">
		<input type="hidden" name="from_id" value="{{ message.from_id }}">
		<input type="hidden" name="from_username" value="{{ message.from_username }}">
	    <div class="form-group">
		    <label class="control-label" for="to_usernames">Destinataires :</label>
		    <div class="form-control">
                <input type="text" id="to" name="to_usernames" placeholder="" value="{{ message.to_usernames }}">
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="title">Titre :</label>
		    <div class="form-control">
		    	<input type="text" class="input-xxlarge" name="title" placeholder="Le titre de votre message" value="{{ message.title }}">
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="content">Content :</label>
		    <div class="form-control">
		    	<textarea input class="input-xxlarge wysiwyg" type="text" id="content" name="content"
		    		 placeholder="Texte de votre message" rows="10">{{ message.content }}</textarea>
		    </div>
	    </div>

	    <div class="form-group">
		    <div class="form-control">
			    <button type="submit" class="btn btn-primary">Envoyer</button>
		    </div>
	    </div>
    </form>

    <script>

    	$('#to').magicSuggest({
    	    resultAsString: true,
    	    width: 500,
    	    value: [ {% autoescape false %} {{ message.to_usernames }} {% endautoescape %}],
    	    data: '{{ list_username }}'
    	});

    </script>
{% endblock %}
