{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    <div class="col-md-12">
		<form role="form" class="form-horizontal" action="{{ path('messagerie_send')  }}" method="POST">
			<input type="hidden" name="id" value="{{ message.id }}">
			<input type="hidden" name="from_id" value="{{ message.from_id }}">
			<input type="hidden" name="from_username" value="{{ message.from_username }}">
		    <div class="form-group">
			    <label class="control-label col-sm-2" for="to_usernames">Destinataires :</label>
			    <div class="col-sm-10">
	                <input class="form-control" type="text" id="to" name="to_usernames" placeholder="">
			    </div>
		    </div>
		    <div class="form-group">
			    <label class="control-label col-sm-2" for="title">Titre :</label>
			    <div class="col-sm-10">
			    	<input class="form-control"  type="text" class="form-control" name="title" placeholder="Le titre de votre message" value="{{ message.title }}">
			    </div>
		    </div>
		    <div class="form-group">
			    <label class="control-label col-sm-2" for="content">Content :</label>
			    <div class="col-sm-10">
			    	<textarea input class="wysiwyg" type="text" id="content" name="content"
			    		 placeholder="Texte de votre message" rows="10">{{ message.content }}</textarea>
			    </div>
		    </div>
            <div class="form-group">
                <div class="col-sd-4 col-sd-offset-8" align="right">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
	    </form>
    </div>

    <script>

    	$('#to').magicSuggest({
    	    resultAsString: true,
    	    width: 500,
    	    value: [ "{% autoescape false %}{{ message.to_usernames }}{% endautoescape %}", ],
    	    data: '{{ list_username }}'
    	});

    </script>
{% endblock %}